.selectColumn,
.detailColumn {
    height: 100%;  // Zorg dat de kolommen de volledige hoogte van hun container hebben
    overflow-y: auto;  // Activeer verticale scroll wanneer nodig
    padding-right: 10px;  // Optionele padding voor scrollbalk
}
.selectColumn {
    max-height: calc(var(--vh, 1vh) * 100 - 121px);
    padding-bottom: 20px;
}
.avatarImage{
    height: 200px;
    width:100%;
}
.cardButton{
    --border-color:#eaeaea;
    --color:var(--ion-color-primary);
}
.cardButton:hover{
    --border-color:var(--ion-color-primary);
}
.creditButton{
    --border-color:var(--ion-color-primary);
    --color:var(--ion-color-primary);
    margin-right:30px;
    --padding-start: 10px !important;
    --padding-end: 10px !important;
}
[caseCard]{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4)
}

.selectedModule{
    --background: var(--ion-color-primary);
    ion-label{
        color:var(--ion-color-primary-contrast);
    }
}

.typeItem{
    padding: 5px 10px;
    border-radius: 16px;
    background-color: var(--ion-color-primary);
    color:var(--ion-color-primary-contrast);
    font-size: 14px;
    text-align: center;
    margin: 5px;
    font-weight: 500;
    display: inline-block;
}

.card-drop-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

  

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.card-wrapper {
  // width: calc(33.33% - 12px);
  margin-right:10px;
  margin-bottom: 10px;
  border-radius: 24px;
  cursor: grab!important;
}

.dndDragging {
  opacity: 0.7; /* Optioneel: maak het gesleepte item wat transparanter */
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
  z-index: 1000;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1); 
}

//   .dndPlaceholder {
//     background-color: purple;
//     border: 2px dashed blue;
//     width: calc(33.33% - 12px);
//     // width:200px;
//     min-height: 200px; /* Pas aan aan de hoogte van je kaart */
//     margin-bottom: 10px;
//     margin-right: 12px; /* Overeenkomen met de gap */
//   }

[dndPlaceholderRef]{
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  border:none;
  width: calc(33.33% - 12px);
  // width:200px;
  min-height: 350px; /* Pas aan aan de hoogte van je kaart */
  margin-bottom: 10px;
  margin-right: 12px; /* Overeenkomen met de gap */
}

.card-container {
  will-change: transform;
  contain: layout paint;      /* voorkomt dat repaints “weglekken” */
}

.card-wrapper, ion-card {
  backface-visibility: hidden;
  transform: translateZ(0);   /* GPU-promotie */
}
.dndDragging {
  /* evt. je bestaande styles + */
  will-change: transform;
}
.dndDraggingSource{
  opacity: 0;
  // display: none;
  width:30px!important;
  visibility: hidden;
}

  
  .activeMenuItem{
    background: var(--ion-color-primary)!important;
    ion-item{
      --background: var(--ion-color-primary);
      color: white;
    }
  }

  .btnImgChange{
    position: absolute;
    text-align: center;
    bottom: 20px;
}

[moduleCard]{
  height: calc(100% - 0px);
  // width: calc(100% - 0px);
  // position: relative;
  // left:0px;
  // top:0px;
}
[multipleCard]{
  position: absolute;
  left: 5px;
  top: -5px;
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  z-index: -1;
  // box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4)
}
[multipleCard2]{
  position: absolute;
  left: 10px;
  top: -10px;
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  z-index: -2;
  // box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4)

}

[multipleCardModule]{
  position: absolute;
  left: 20px;
  top: 10px;
  width: calc(100% - 30px);
  height: calc(100% - 10px);
  z-index: -1;
}

[multipleCardModule2]{
  position: absolute;
  left: 30px;
  top: 5px;
  width: calc(100% - 35px);
  height: calc(100% - 10px);
  z-index: -2;
}