<app-header [page]="'admin'"></app-header>

<main>
  <ion-grid>
    <ion-row>
      <ion-col class="selectColumn" size="3">
        <ion-row>
          <ion-col size="12">
            <ion-button class="saveButton" (click)="createBackups()">Backup {{activeItem.title}}</ion-button>
            <!-- <ion-button class="saveButton" (click)="setVoices()">create Voices</ion-button> -->
          </ion-col>
          
        </ion-row>

        <!-- <div singleLine></div> -->
        <div style="padding: 15px 0;margin-bottom:20px;border:solid 2px var(--ion-color-primary);border-radius:16px" >
          <div weight700 style="padding: 0 15px;">Type
            <fa-icon titleIcon [icon]="icon.get('faGlobeEurope')" font-20 pointer *ngIf="editingType=='attitudes'" (click)="translateAttitudes()"></fa-icon>
            <fa-icon titleIcon [icon]="icon.get('faGlobeEurope')" font-20 pointer *ngIf="editingType=='voices'" (click)="translateVoices()"></fa-icon>

          </div>
          <ion-card  basicPadding noBackground font-16 noPadding noMargin>
            <ion-radio-group  [(ngModel)]="editingType" (ionChange)="changeEditType()">
              <div flex center-ver>
                <ion-item detail="false" lines="none" noBackground>
                  <ion-radio labelPlacement="end" justify="start" value="content">Content</ion-radio>
                </ion-item>
                <ion-item detail="false" lines="none" noBackground>
                  <ion-radio labelPlacement="end" justify="start" value="format">Format</ion-radio>
                </ion-item>
              </div>
              <div flex center-ver>
  
                <ion-item detail="false" lines="none" noBackground>
                  <ion-radio labelPlacement="end" justify="start" value="attitudes">Attitudes</ion-radio>
                </ion-item>
                <ion-item detail="false" lines="none" noBackground >
                  <ion-radio labelPlacement="end" justify="start" value="phases">Fases</ion-radio>
                </ion-item>
              </div>
              <div flex center-ver>
  
                <ion-item detail="false" lines="none" noBackground>
                  <ion-radio labelPlacement="end" justify="start" value="voices">Voices</ion-radio>
                </ion-item>
                <!-- <ion-item detail="false" lines="none" noBackground >
                  <ion-radio labelPlacement="end" justify="start" value="phases">Fases</ion-radio>
                </ion-item> -->
              </div>
            </ion-radio-group>
          </ion-card>
        </div>

        
        


        <div *ngIf="activeItem.id!='attitudes' && activeAgent.id=='phaseList' && activeItem.id!='voices'" style="padding: 15px 0;margin-bottom:20px;border:solid 2px var(--ion-color-primary);border-radius:16px">

          <div *ngIf="activeItem.id!='attitudes' && activeAgent.id=='phaseList'" weight500 style="padding: 0 15px;" flex center-ver>
            <span weight700>Gesprekstechniek</span>
            <span class="spacer"></span>
            <fa-icon [icon]="icon.get('faGlobeEurope')" font-20 pointer (click)="translatePhases()"></fa-icon>
            <fa-icon titleIcon [icon]="icon.get('faPlus')" font-20 pointer (click)="newCategory()"></fa-icon>
          </div>
          <ion-card *ngIf="activeAgent.id=='phaseList'" marginBottom weight600  basicPadding pointer class="agent specialAgent" style="padding:10px 15px 10px 30px;color:var(--ion-color-primary)" flex center-ver (click)="selectCategory()">
            <fa-icon [icon]="icon.get('faList')" font-20 style="margin-right:20px;;"></fa-icon>  
            <div font-16>{{ activeItem.id=='main' ? ('Select techniek' | uppercase) : (activeItem.title | uppercase)}}</div>
          </ion-card>

        </div>

         <div *ngIf="activeItem.id!='attitudes' && activeAgent.id!='phaseList' && activeItem.id!='voices'" style="padding: 15px 0;margin-bottom:20px;border:solid 2px var(--ion-color-primary);border-radius:16px">
           <div *ngIf="activeItem.id!='attitudes' && activeAgent.id!='phaseList'" weight500 style="padding: 0 15px;" flex center-ver>
             <span weight700>Gesprek Agent</span>
             <span class="spacer"></span>
             <fa-icon [icon]="icon.get('faGlobeEurope')" *ngIf="activeAgent.id=='phaseList'&&activeItem.id!='main'" font-20 pointer (click)="translatePhases()"></fa-icon>
             <fa-icon [icon]="icon.get('faPlus')" titleIcon font-20 pointer (click)="addAgent('conversation')"></fa-icon>
           </div>
           <ion-card *ngIf="activeItem.id!='attitudes' && activeAgent.id!='phaseList'" marginBottom basicPadding pointer class="agent specialAgent" style="padding:3px 15px 3px 30px" flex center-ver (click)="openSelect($event,'select_btn_agents')">
             <fa-icon [icon]="icon.get('faUser')" font-20 style="margin-right:20px;color:var(--ion-color-primary);"></fa-icon>  
             <ion-select [placeholder]="activeAgent.id=='main' ? 'Basisgegevens' : 'Select Agent'" #select_btn_agents id="select_btn_agents" class="selectAgent" [toggleIcon]="''" [expandedIcon]="''" interface="popover" (click)="preventClick($event)" [(ngModel)]="activeAgent" (ionChange)="changeAgent(activeAgent)" fullwidth>
               <ion-select-option [value]="{title:'Basisgegevens',id:'main'}">{{'Basisgegevens' | capitalize}}</ion-select-option>
               <!-- <ion-select-option [value]="{title:'Fase indeling',id:'phaseList'}">{{'Fase indeling' | capitalize}}</ion-select-option> -->
               <ion-select-option *ngFor="let agent of agents | filterKey : 'type' : 'conversation'" [value]="agent">{{agent.title | capitalize}}</ion-select-option>
             </ion-select>
             <span class="spacer"></span>
           </ion-card>
   
           <div *ngIf="activeItem.id!='attitudes' && activeAgent.id!='phaseList' && activeAgent.type=='conversation'" weight500 style="padding: 0 15px;" flex center-ver>
             <span weight500>Gesprekstechniek</span>
             <span class="spacer"></span>
             <fa-icon titleIcon [icon]="icon.get('faGlobeEurope')" font-20 pointer (click)="translateCategory('conversation')"></fa-icon>
             <fa-icon titleIcon [icon]="icon.get('faPlus')" font-20 pointer (click)="newCategory()"></fa-icon>
           </div>
           <ion-card *ngIf="activeItem.id!='attitudes' && activeAgent.id!='phaseList' && activeAgent.type=='conversation'" marginBottom weight600  basicPadding pointer class="agent specialAgent" style="padding:10px 15px 10px 30px;color:var(--ion-color-primary)" flex center-ver (click)="selectCategory()">
             <fa-icon [icon]="icon.get('faList')" font-20 style="margin-right:20px;;"></fa-icon>  
             <div font-16>{{ activeItem.id=='main' ? (activeItem.id | uppercase) : (activeItem.title | uppercase)}}</div>
           </ion-card>
          </div>


         <div *ngIf="activeItem.id!='attitudes' && activeAgent.id!='phaseList' && activeItem.id!='voices'" style="padding: 15px 0;margin-bottom:20px;border:solid 2px var(--ion-color-primary);border-radius:16px">
           <div *ngIf="activeItem.id!='attitudes' && activeAgent.id!='phaseList'" weight500 style="padding: 0 15px;" flex center-ver>
             <span weight700>Support Agent</span>
             <span class="spacer"></span>
             <fa-icon *ngIf="activeAgent.type=='support'" titleIcon [icon]="icon.get('faGlobeEurope')" font-20 pointer (click)="translateCategory('main',activeAgent.id)"></fa-icon>
             <fa-icon [icon]="icon.get('faPlus')" titleIcon font-20 pointer (click)="addAgent('support')"></fa-icon>
           </div>
           <ion-card *ngIf="activeItem.id!='attitudes' && activeAgent.id!='phaseList'" marginBottom basicPadding pointer class="agent specialAgent" style="padding:3px 15px 3px 30px" flex center-ver (click)="openSelect($event,'select_btn_agents')">
             <fa-icon [icon]="icon.get('faUser')" font-20 style="margin-right:20px;color:var(--ion-color-primary);"></fa-icon>  
             <ion-select [placeholder]="'Select Agent'" #select_btn_agents id="select_btn_agents" class="selectAgent" [toggleIcon]="''" [expandedIcon]="''" interface="popover" (click)="preventClick($event)" [(ngModel)]="activeAgent" (ionChange)="changeAgent(activeAgent)" fullwidth>
               <!-- <ion-select-option [value]="{title:'Basisgegevens',id:'main'}">{{'Basisgegevens' | capitalize}}</ion-select-option> -->
               <!-- <ion-select-option [value]="{title:'Fase indeling',id:'phaseList'}">{{'Fase indeling' | capitalize}}</ion-select-option> -->
               <ion-select-option *ngFor="let agent of agents | filterKey : 'type' : 'support'" [value]="agent">{{agent.title | capitalize}}</ion-select-option>
             </ion-select>
             <span class="spacer"></span>
           </ion-card>
        </div> 

      
      </ion-col>

      <ion-col size="9" class="detailColumn" >

        <!-- Buttons -->
        <ion-row relative>
         
        </ion-row>
        
        <!-- editable -->
        <ion-row>
          <ion-col size="12">
            <ion-card basicPadding *ngIf="categories?.length==0||!activeItem?.id">
              Gegevens worden geladen...
            </ion-card>
            
            <ion-card basicPadding *ngIf="categories?.length>0&&activeItem?.id">
              <ion-card-header >
                <ion-card-title font-20 flex center-ver>
                    <span *ngIf="activeItem.id!='voices'">{{activeItem.title | capitalize}} - {{activeAgent.title | capitalize}}</span>
                    <span *ngIf="activeItem.id=='voices'">{{activeItem.title | capitalize}}</span>
                    <span class="spacer"></span>
                    <fa-icon [icon]="icon.get('faPlus')" pointer titleIcon style="font-size:30px" *ngIf="activeItem.id=='voices'" (click)="addVoice()"></fa-icon>
                    <fa-icon [icon]="icon.get('faDownload')" pointer titleIcon style="font-size:30px" *ngIf="activeItem.id=='attitudes'" (click)="niceAttitudeList()"></fa-icon>

                    
                  </ion-card-title>
              </ion-card-header>
    
              <ion-card-content *ngIf="activeAgent.id!='main'&&activeAgent.id!='phaseList'&&activeItem.id!='formats'&&activeItem.id!='attitudes'&&activeItem.id!='positions' && activeItem.id!='voices'">
                
                <div class="fieldItem" *ngFor="let field of fieldOptions | filterKey : 'agents' : ['all',activeAgent.id]">
                  <ion-item detail="false" listCard lines="none" *ngIf="field.type=='text' && activeItem[activeAgent.id]">
                    <ion-label position="stacked">{{field.label}}</ion-label>
                    <ion-input type="text" rows="4" [(ngModel)]="activeItem[activeAgent.id][field.field]" (ionChange)="update(field.field)"></ion-input>
                  </ion-item>
    
                  <ion-item detail="false" listCard lines="none" *ngIf="field.type=='number' && activeItem[activeAgent.id] ">
                    <ion-label position="stacked">{{field.label}}</ion-label>
                    <ion-input type="number" rows="4" [(ngModel)]="activeItem[activeAgent.id][field.field]" (ionChange)="update(field.field)"></ion-input>
                  </ion-item>
    
                  <ion-item detail="false" listCard *ngIf="field.type=='range' && activeItem[activeAgent.id] " lines="none">
                    <ion-range [min]="field.min" [step]="field.step" [max]="field.max" [pin]="true"  color="primary" [(ngModel)]="activeItem[activeAgent.id][field.field]" (ionChange)="update(field.field)">
                        <ion-label style="font-size:14px" slot="start">{{field.label}}</ion-label>
                        <ion-label style="font-size:18px" slot="end">{{activeItem[activeAgent.id][field.field]}}</ion-label>
                    </ion-range>
                  </ion-item>
    
                  <ion-item detail="false" listCard lines="none" *ngIf="field.type=='textarea' && activeItem[activeAgent.id]">
                    <!-- <ion-label position="stacked" *ngIf="!firstInputlabels[field.field]&&field.label">{{field.label}}1</ion-label> -->
                    <ion-label position="stacked" *ngIf="field.label&&(!activeAgent?.id || !firstInputlabels[field.field] || !firstInputlabels[field.field][activeAgent.id])">{{field.label}}</ion-label>
                    <ion-label position="stacked" *ngIf="!firstInputlabels[field.field]&&!field.label">Vraag aan Agent</ion-label>
                    <ion-label position="stacked" *ngIf="firstInputlabels[field.field]">{{firstInputlabels[field.field][activeAgent.id]}}</ion-label>
                    <quill-editor *ngIf="!showHtml&&!field.notHtml" [(ngModel)]="activeItem[activeAgent.id][field.field]" [modules]="configModules" (onEditorCreated)="startEditor($event)" (onBlur)="update(field.field,null,true)"></quill-editor>

                    <ion-toolbar *ngIf="showHtml" style="padding-left:0px;--background: none">
                      <ion-buttons slot="start">
                        <ion-button (click)="showEditor()">
                          <fa-icon [icon]="icon.get('faArrowLeft')" style="margin-right:15px;" slot="start">keyboard_arrow_left</fa-icon>
                          gewone weergave
                        </ion-button>
                      </ion-buttons>
                    </ion-toolbar>

                    <ion-textarea *ngIf="showHtml||field.notHtml" rows="4" labelPlacement="stacked" [autoGrow]="true" [(ngModel)]="activeItem[activeAgent.id][field.field]" (ionChange)="update(field.field,null,true)">
                      <div slot="label" *ngIf="!firstInputlabels[field.field]">{{field.label}}</div>
                      <div slot="label" *ngIf="firstInputlabels[field.field]">{{firstInputlabels[field.field][activeAgent.id]}}</div>
                    </ion-textarea>
                  </ion-item>
                  
                </div>

                <ion-item detail="false" listCard *ngIf="activeItem[activeAgent.id] && activeItem.id!='main'" style="margin-top:15px" lines="none">
                  <ion-range [min]="0" [step]="1" [max]="1" [pin]="false" [snaps]="true"  color="primary" [(ngModel)]="activeItem[activeAgent.id]['overwrite']" (ionChange)="update('overwrite')">
                    <ion-label [ngStyle]="{'font-size':activeItem[activeAgent.id]['overwrite'] ? '12px' : '18px','opacity':activeItem[activeAgent.id]['overwrite'] ? '0.6' : '1'}" slot="start">Voeg informatie toe aan main agent</ion-label>
                    <ion-label [ngStyle]="{'font-size':!activeItem[activeAgent.id]['overwrite'] ? '12px' : '18px','opacity':!activeItem[activeAgent.id]['overwrite'] ? '0.6' : '1'}" slot="end">Overschrijf main agent</ion-label>
                  </ion-range>


                </ion-item>

              </ion-card-content>

              <ion-card-content *ngIf="activeAgent.id=='main'&&activeItem.id!='formats'&&activeItem.id!='attitudes'&&activeItem.id!='positions'&&activeItem.id!='voices'">
                <div class="fieldItem" *ngFor="let field of fieldOptions | filterKey : 'agents' : [activeAgent.id] | filterKey : 'categories' : [activeItem.id]">
                  <ion-item detail="false" listCard lines="none" *ngIf="field.type=='text' && activeItem">
                    <ion-label position="stacked">{{field.label}}</ion-label>
                    <ion-input type="text" rows="4" [(ngModel)]="activeItem[field.field]" (ionChange)="update(field.field)"></ion-input>
                  </ion-item>
    
                  <ion-item detail="false" listCard lines="none" *ngIf="field.type=='number' && activeItem ">
                    <ion-label position="stacked">{{field.label}}</ion-label>
                    <ion-input type="number" rows="4" [(ngModel)]="activeItem[field.field]" (ionChange)="update(field.field)"></ion-input>
                  </ion-item>
    
                  <ion-item detail="false" listCard *ngIf="field.type=='range' && activeItem " lines="none">
                    <ion-range [min]="field.min" [step]="field.step" [max]="field.max" [pin]="true"  color="primary" [(ngModel)]="activeItem[field.field]" (ionChange)="update(field.field)">
                        <ion-label style="font-size:14px" slot="start">{{field.label}}</ion-label>
                        <ion-label style="font-size:18px" slot="end">{{activeItem[field.field]}}</ion-label>
                    </ion-range>
                  </ion-item>
    
    
                  <ion-item detail="false" listCard lines="none" *ngIf="field.type=='textarea' && activeItem">
                    <ion-label position="stacked" *ngIf="!firstInputlabels[field.field]">{{field.label}}</ion-label>
                    <ion-label position="stacked" *ngIf="firstInputlabels[field.field]">{{firstInputlabels[field.field][activeAgent.id]}}</ion-label>
                    <quill-editor *ngIf="!showHtml" [(ngModel)]="activeItem[field.field]" [modules]="configModules" (onEditorCreated)="startEditor($event)" (onBlur)="update(field.field,null,true)"></quill-editor>

                    <ion-toolbar *ngIf="showHtml" style="padding-left:10px;">
                      <ion-buttons slot="start">
                        <ion-button (click)="showEditor()">
                          <fa-icon [icon]="icon.get('faArrowLeft')" style="margin-right:15px;" slot="start">keyboard_arrow_left</fa-icon>
                          gewone weergave
                        </ion-button>
                      </ion-buttons>
                    </ion-toolbar>

                    <ion-textarea *ngIf="showHtml" rows="4" labelPlacement="stacked" [autoGrow]="true" [(ngModel)]="activeItem[field.field]" (ionChange)="update(field.field,null,true)">
                      <div slot="label" *ngIf="!firstInputlabels[field.field]">{{field.label}}</div>
                      <div slot="label" *ngIf="firstInputlabels[field.field]">{{firstInputlabels[field.field][activeAgent.id]}}</div>
                    </ion-textarea>

                    <!-- <ion-textarea rows="4" labelPlacement="stacked" [autoGrow]="true" [(ngModel)]="activeItem[field.field]" (ionChange)="update(field.field)">
                      <div slot="label">{{field.label}}</div>
                    </ion-textarea> -->
                  </ion-item>
    
                </div>
              </ion-card-content>

              <ion-card-content *ngIf="activeAgent.id=='phaseList'&&activeItem.id!='formats'&&activeItem.id!='attitudes'&&activeItem.id!='positions'&&activeItem.id!='voices'">
                  <ion-card-title basicPadding weight700 flex fullwidth center-ver>
                    {{phaseList.title}}
                    <span class="spacer"></span>
                    <!-- <ion-button fill="clear" color="warning" class="backupIcon" *ngIf="backupService.showBackups('categories')" (click)="getBackup(items[activeTab].id,'phases')">
                      <fa-icon [icon]="icon.get('faUndoAlt')" slot="icon-only"></fa-icon>
                    </ion-button> -->
                    <fa-icon [icon]="icon.get('faUndoAlt')" titleIcon style="font-size:30px;color:var(--ion-color-warning)" (click)="reCreatePhases(activeItem)"></fa-icon>
                    <fa-icon [icon]="icon.get('faPlus')" titleIcon style="font-size:30px" (click)="addPhase()"></fa-icon>
                  </ion-card-title>
                  <ion-card class="fieldItem" basicPadding *ngFor="let phase of activeItem.phaseList;let phase_index = index;let first = first;let last = last">
                    <ion-item detail="false" listCard listCardTop lines="none">
                      <ion-input font-16 weight600 placeholder="Phase title" [(ngModel)]="phase.title" (ionChange)="update('phaseList')"></ion-input>
                      <fa-icon slot="end" pointer [icon]="icon.get('faArrowUp')" *ngIf="!first" (click)="movePhase(phase_index,-1)"></fa-icon>
                      <fa-icon slot="end" pointer [icon]="icon.get('faArrowDown')"  *ngIf="!last" (click)="movePhase(phase_index,1)"></fa-icon>
                      <fa-icon slot="end" pointer [icon]="icon.get('faTrashAlt')" trash (click)="removePhase(phase_index)"></fa-icon>
                    </ion-item>
                    <ion-item detail="false" listCard listCardCenter lines="none" class="shortItem">
                      <ion-label position="stacked">Short title</ion-label>
                      <ion-input type="text" [(ngModel)]="phase.short" (ionChange)="update('phaseList')">
                      </ion-input>
                    </ion-item>
                    <ion-item detail="false" listCard listCardBottom lines="none">
                      <ion-textarea labelPlacement="floating" [autoGrow]="true" [(ngModel)]="phase.description" (ionChange)="update('phaseList')">
                        <div slot="label">Description</div>
                      </ion-textarea>
                    </ion-item>
                  </ion-card>
                  <div singleLine></div>
                  <ion-card-title basicPadding weight700 flex fullwidth center-ver marginTop>
                    Explanation
                    <span class="spacer"></span>
                    <fa-icon [icon]="icon.get('faPlus')" titleIcon style="font-size:30px" (click)="addPhase('phaseExplanation')"></fa-icon>
                  </ion-card-title>
                  <ion-card class="fieldItem" basicPadding *ngFor="let phase of activeItem.phaseExplanation;let phase_index = index;let first = first;let last = last">
                    <ion-item detail="false" listCard listCardTop lines="none">
                      <ion-input font-16 weight600 placeholder="Phase title" [(ngModel)]="phase.title" (ionChange)="update('phaseExplanation')"></ion-input>
                      <fa-icon slot="end" pointer [icon]="icon.get('faArrowUp')" *ngIf="!first" (click)="movePhase(phase_index,-1,'phaseExplanation')"></fa-icon>
                      <fa-icon slot="end" pointer [icon]="icon.get('faArrowDown')" *ngIf="!last" (click)="movePhase(phase_index,1,'phaseExplanation')"></fa-icon>
                      <fa-icon slot="end" pointer [icon]="icon.get('faTrashAlt')" trash (click)="removePhase(phase_index,'phaseExplanation')"></fa-icon>
                    </ion-item>
                    <ion-item detail="false" listCard listCardCenter lines="none" class="shortItem">
                      <ion-label position="stacked">Short title</ion-label>
                      <ion-input type="text" [(ngModel)]="phase.short" (ionChange)="update('phaseExplanation')">
                      </ion-input>
                    </ion-item>
                    <ion-item detail="false" listCard listCardBottom lines="none">
                      <ion-textarea labelPlacement="floating" [autoGrow]="true" [(ngModel)]="phase.explanation" (ionChange)="update('phaseExplanation')">
                        <div slot="label">Explanation</div>
                      </ion-textarea>
                    </ion-item>
                  </ion-card>
                


              </ion-card-content>

              <ion-card-content *ngIf="activeItem.id=='formats' && activeAgent.id!='main' && activeAgent.id!='phaseList'">
                <div class="fieldItem" *ngFor="let field of fieldOptionsFormat | filterKey : 'agents' : [activeAgent.id]">
                  <ion-item detail="false" listCard lines="none" *ngIf="field.type=='text' && activeItem">
                    <ion-label position="stacked">{{field.label}}</ion-label>
                    <ion-input type="text" rows="4" [(ngModel)]="activeItem.items[activeAgent.id][field.field]" (ionChange)="update(field.field)"></ion-input>
                  </ion-item>
    
                  <ion-item detail="false" listCard lines="none" *ngIf="field.type=='number' && activeItem ">
                    <ion-label position="stacked">{{field.label}}</ion-label>
                    <ion-input type="number" rows="4" [(ngModel)]="activeItem.items[activeAgent.id][field.field]" (ionChange)="update(field.field)"></ion-input>
                  </ion-item>
    
                  <ion-item detail="false" listCard *ngIf="field.type=='range' && activeItem " lines="none">
                    <ion-range [min]="field.min" [step]="field.step" [max]="field.max" [pin]="true"  color="primary" [(ngModel)]="activeItem.items[activeAgent.id][field.field]" (ionChange)="update(field.field)">
                        <ion-label style="font-size:14px" slot="start">{{field.label}}</ion-label>
                        <ion-label style="font-size:18px" slot="end">{{activeItem[field.field]}}</ion-label>
                    </ion-range>
                  </ion-item>
    
                  <ion-item detail="false" listCard lines="none" *ngIf="field.type=='textarea' && activeItem">
                    <ion-textarea rows="4" labelPlacement="stacked" [autoGrow]="true" [(ngModel)]="activeItem.items[activeAgent.id][field.field]" (ionChange)="update(field.field)">
                      <div slot="label">{{field.label}}</div>
                    </ion-textarea>
                  </ion-item>
    
                </div>

              </ion-card-content>

              <ion-card-content *ngIf="activeItem.id=='formats' && (activeAgent.id=='main' || activeAgent.id=='phaseList')">
                <ion-card basicPadding>
                  <ion-card-title>Selecteer een andere agent om wijzigingen door te voeren</ion-card-title>
                </ion-card>
              </ion-card-content>

              <ion-card-content *ngIf="activeItem.id=='attitudes'||activeItem.id=='positions'">
                <ion-card basicPadding *ngFor="let item of activeItem.items | sortBy : -1 : 'level' ">
                  <div class="fieldItem" *ngFor="let field of fieldOptionsList">
                    <ion-item detail="false" listCard lines="none" *ngIf="field.type=='text' && activeItem">
                      <ion-label position="stacked">{{field.label}}</ion-label>
                      <ion-input type="text" rows="4" [(ngModel)]="item[field.field]" (ionChange)="update(field.field,item)"></ion-input>
                    </ion-item>
      
                    <ion-item detail="false" listCard lines="none" *ngIf="field.type=='number' && activeItem ">
                      <ion-label position="stacked">{{field.label}}</ion-label>
                      <ion-input type="number" rows="4" [(ngModel)]="item[field.field]" (ionChange)="update(field.field,item)"></ion-input>
                    </ion-item>
      
                    <ion-item detail="false" listCard *ngIf="field.type=='range' && activeItem " lines="none">
                      <ion-range [min]="field.min" [step]="field.step" [max]="field.max" [pin]="true"  color="primary" [(ngModel)]="item[field.field]" (ionChange)="update(field.field,item)">
                          <ion-label style="font-size:14px" slot="start">{{field.label}}</ion-label>
                          <ion-label style="font-size:18px" slot="end">{{activeItem[field.field]}}</ion-label>
                      </ion-range>
                    </ion-item>
      
      
                    <ion-item detail="false" listCard lines="none" *ngIf="field.type=='textarea' && activeItem">
                      <ion-textarea rows="4" labelPlacement="stacked" [autoGrow]="true" [(ngModel)]="item[field.field]" (ionChange)="update(field.field,item)">
                        <div slot="label">{{field.label}}</div>
                      </ion-textarea>
                    </ion-item>
      
                  </div>
                </ion-card>
              </ion-card-content>

               <ion-card-content *ngIf="activeItem.id=='voices'">
                <ion-card basicPadding *ngFor="let item of activeItem.items | sortBy : -1 : 'name' ">
                  <ion-card-header font-16 weight600>
                    <ion-card-title flex center-ver>
                      <span>{{item.name}}</span>
                      <div class="spacer"></div>
                      <fa-icon [icon]="icon.get('faTrashAlt')" trash pointer titleIcon (click)="removeVoice(item)"></fa-icon>
                      <ion-button marginLeft class="saveButtonSmall" (click)="nav.goto('https://www.openai.fm/',true)">Test bij OpenAI</ion-button>
                    </ion-card-title>
                  </ion-card-header>
                  <div class="fieldItem" *ngFor="let field of voiceOptionsList">
                    <ion-item detail="false" listCard lines="none" *ngIf="field.type=='text' && activeItem">
                      <ion-label position="stacked">{{field.label}}</ion-label>
                      <ion-input type="text" rows="4" [(ngModel)]="item[field.field]" (ionChange)="update(field.field,item)"></ion-input>
                    </ion-item>
      
                    <ion-item detail="false" listCard lines="none" *ngIf="field.type=='number' && activeItem ">
                      <ion-label position="stacked">{{field.label}}</ion-label>
                      <ion-input type="number" rows="4" [(ngModel)]="item[field.field]" (ionChange)="update(field.field,item)"></ion-input>
                    </ion-item>
      
                    <ion-item detail="false" listCard *ngIf="field.type=='range' && activeItem " lines="none">
                      <ion-range [min]="field.min" [step]="field.step" [max]="field.max" [pin]="true"  color="primary" [(ngModel)]="item[field.field]" (ionChange)="update(field.field,item)">
                          <ion-label style="font-size:14px" slot="start">{{field.label}}</ion-label>
                          <ion-label style="font-size:18px" slot="end">{{activeItem[field.field]}}</ion-label>
                      </ion-range>
                    </ion-item>
      
      
                    <ion-item detail="false" listCard lines="none" *ngIf="field.type=='textarea' && activeItem">
                      <ion-textarea rows="4" labelPlacement="stacked" [autoGrow]="true" [(ngModel)]="item[field.field]" (ionChange)="update(field.field,item)">
                        <div slot="label">{{field.label}}</div>
                      </ion-textarea>
                    </ion-item>


                    <ion-item detail="false" listCard lines="none" *ngIf="field.type=='select' && activeItem">
                      <ion-label position="stacked">{{field.label}}</ion-label>
                      <ion-select [placeholder]="'Selecteer'" #select_btn_agents [toggleIcon]="''" [expandedIcon]="''" interface="popover" [(ngModel)]="item[field.field]" (ionChange)="update(field.field,item)" fullwidth>
                        <ion-select-option *ngFor="let option of field.options" [value]="option">{{option | capitalize}}</ion-select-option>
                      </ion-select>
                    </ion-item>

                  </div>
                </ion-card>
              </ion-card-content>

            </ion-card>
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>
  </ion-grid>
</main>
