<app-header page="account"></app-header>
<main>
  <ion-grid>
    <ion-row>
      <ion-col size="3" class="selectColumn">
        <ion-card basicPadding pointer font16 weight700 tab flex center-ver *ngFor="let item of menuItems" [ngClass]="{'activeTab':activeTab==item.tab}" (click)="changeTab(item.tab)">
          <div center listIcon>
            <fa-icon [icon]="icon.get(item.icon)" ></fa-icon>
          </div>
          <span>{{item.title}}</span>
        </ion-card>

      </ion-col>

      <ion-col size="9" class="detailColumn" center-left>
        <ion-card basicPadding *ngIf="activeTab=='account'">
          <ion-row>
            <ion-col size="6">
              <ion-card-header>
                <ion-card-title>Mijn gegevens</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-list>
                  <ion-item lines="none" class="fieldItem">
                    <ion-label position="stacked">Naam</ion-label>
                    <ion-input placeholder="Naam" type="text" [(ngModel)]="account.displayName"></ion-input>
                  </ion-item>
                </ion-list>
                <ion-button class="saveButton" [disabled]="!account.displayName" (click)="updateAccount()">Opslaan</ion-button>
              </ion-card-content>
            </ion-col>
            <ion-col size="6">
              <ion-card flex center>
                <fa-icon [icon]="icon.get('faUser')" avatarIcon></fa-icon>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-card>

        <ion-card basicPadding *ngIf="activeTab=='profile'">
          <ion-card-header>
            <ion-card-title>Mijn Profiel</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-card basicPadding>
              <ion-card-header>
                <ion-card-title>Thema voorkeuren</ion-card-title>
                
              </ion-card-header>
              <ion-item marginBottom listCard lines="none" *ngFor="let theme of infoService.themes">
                <ion-toggle color="primary" [(ngModel)]="account.preferences.themes[theme.id]" (ionChange)="updatePreference()">
                <!-- <ion-toggle color="primary" [(ngModel)]="account.preferences.themes[theme.id]"> -->
                  {{theme.id | capitalize}}
                </ion-toggle>
              </ion-item>
            </ion-card>
          </ion-card-content>
        </ion-card>

        <ion-card basicPadding *ngIf="activeTab=='courses'">
          <ion-card-header>
            <ion-card-title>Mijn cursussen</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Hier komt het overzicht van de cursussen die iemand volgt
          </ion-card-content>
        </ion-card>

        <ion-card basicPadding *ngIf="activeTab=='conversations'">
          <ion-card-header>
            <ion-card-title>Mijn gesprekken</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-card basicPadding listCard pointer *ngFor="let conversation of conversations$ | async | sortBy : 1 : 'timestamp'" flex center-ver fullwidth (click)="openConversation(conversation)">
              <ion-card-title>{{ conversation.role }}</ion-card-title>
              <span class="spacer"></span>
              <ion-note>{{ helper.showLocalDate(conversation.timestamp,translate.instant('date_formats.longDateTime'),0,true) }}</ion-note>
              <fa-icon [icon]="icon.get('faPlay')" iconContinue noteIcon *ngIf="!conversation.closed" ></fa-icon>
              <fa-icon [icon]="icon.get('faCheckCircle')" iconClosed noteIcon *ngIf="conversation.closed" ></fa-icon>
              <fa-icon [icon]="icon.get('faTrashAlt')" trash noteIcon (click)="deleteConversation($event,conversation)"></fa-icon>
            </ion-card>
          </ion-card-content>
        </ion-card>

        <ion-card basicPadding *ngIf="activeTab=='progress'">
          <ion-card-header>
            <ion-card-title>Mijn prestaties</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              
              <ion-col size="4">
                <circle-progress #progressCircle1
                    [percent]="45"
                    [radius]="60"
                    [showSubtitle]="true"
                    [subtitle]="'Level'"
                    [subtitleFontSize]="'12'"
                    [titleFontSize]="'36'"
                    [titleFontWeight]="'700'"
                    [showUnits]="false"
                    [unitsColor]="'rgba(0,0,255,0.2)'"
                    [units]="'Level'"
                    [title]="'2'"
                    [unitsFontSize]="'12'"
                    [outerStrokeWidth]="14"
                    [innerStrokeWidth]="4"
                    [outerStrokeColor]="'var(--ion-color-secondary)'"
                    [innerStrokeColor]="'rgba(0,0,255,0.2)'"
                    [animation]="true"
                    [outerStrokeGradient]="true"
                    [outerStrokeGradientStopColor]="'var(--ion-color-danger)'"
                    [animateSubtitle]="true"
                    [responsive]="true"
                  ></circle-progress>
                  <div font-24 weight700 center>
                    <div>Impact</div>
                  </div>
              </ion-col>
              <ion-col size="4">
                <circle-progress #progressCircle2
                    [percent]="65"
                    [radius]="60"
                    [showSubtitle]="true"
                    [subtitle]="'Level'"
                    [subtitleFontSize]="'12'"
                    [titleFontSize]="'36'"
                    [titleFontWeight]="'700'"
                    [showUnits]="false"
                    [unitsColor]="'var(--ion-color-primary)'"
                    [units]="'2'"
                    [title]="'2'"
                    [unitsFontSize]="'24'"
                    [outerStrokeWidth]="14"
                    [innerStrokeWidth]="4"
                    [outerStrokeColor]="'var(--ion-color-secondary)'"
                    [innerStrokeColor]="'rgba(0,0,255,0.2)'"
                    [animation]="true"
                    [outerStrokeGradient]="true"
                    [outerStrokeGradientStopColor]="'var(--ion-color-warning)'"
                    [animateSubtitle]="true"
                    [responsive]="true"
                  ></circle-progress>
                  <div font-24 weight700 center>
                    <div>Flow</div>
                  </div>
              </ion-col>
              <ion-col size="4">
                <circle-progress #progressCircle3 
                    [percent]="80"
                    [radius]="60"
                    [showSubtitle]="true"
                    [subtitle]="'Level'"
                    [subtitleFontSize]="'12'"
                    [titleFontSize]="'36'"
                    [titleFontWeight]="'700'"
                    [showUnits]="false"
                    [unitsColor]="'var(--ion-color-primary)'"
                    [units]="'2'"
                    [title]="'1'"
                    [unitsFontSize]="'24'"
                    [outerStrokeWidth]="14"
                    [innerStrokeWidth]="4"
                    [outerStrokeColor]="'var(--ion-color-secondary)'"
                    [innerStrokeColor]="'rgba(0,0,255,0.2)'"
                    [animation]="true"
                    [outerStrokeGradient]="true"
                    [outerStrokeGradientStopColor]="'var(--ion-color-primary)'"
                    [animateSubtitle]="true"
                    [responsive]="true"
                  ></circle-progress>
                  <div font-24 weight700 center>
                    <div>Logic</div>
                  </div>
              </ion-col>
            </ion-row>
            <div singleLine marginBottom></div>
            <ion-row>
              <!-- <ion-col size="12" marginBottom>
                <div font-18 weight700>
                  <div>Mijn badges</div>
                </div>
              </ion-col> -->
              <ion-col noPadding size="12" flex align-top center-hor style="margin-bottom: 50px;">
                <app-achievement [class]="'creative'" [achieved]="true" achievement_icon="faPlay" title="Starter" text="Je bent het gesprek aangegaan!"></app-achievement>
                <app-achievement [class]="'success'" [achieved]="true" achievement_icon="faGraduationCap" title="Student" text="Je hebt wat geleerd!"></app-achievement>
                <app-achievement [class]="'success'" achievement_icon="faCogs" title="Start" text="Je bent het gesprek aangegaan!"></app-achievement>
                <app-achievement [class]="'dark'" [achieved]="true" achievement_icon="faSearch" title="Detective" text="Je bent je eerste factcheck uitgevoerd"></app-achievement>
                <app-achievement [class]="'light'" [achieved]="true" achievement_icon="faSitemap" title="Dirigent" text="Je bent 50 punten gestegen in je Logic."></app-achievement>
                <app-achievement [class]="'success'" achievement_icon="faMicrophone" title="Start" text="Je bent het gesprek aangegaan!"></app-achievement>
                <!-- <app-achievement [class]="'success'" achievement_icon="faCogs" title="Start" text="Je bent het gesprek aangegaan!"></app-achievement> -->
              </ion-col>
              <ion-col noPadding size="12" flex align-top center-hor style="margin-bottom: 50px;">
                <app-achievement [class]="'creative'" [achieved]="false" achievement_icon="faPlus" title="Starter" text="Je bent het gesprek aangegaan!"></app-achievement>
                <app-achievement [class]="'success'" [achieved]="false" achievement_icon="faSchool" title="Student" text="Je hebt wat geleerd!"></app-achievement>
                <app-achievement [class]="'success'" achievement_icon="faCogs" title="Start" text="Je bent het gesprek aangegaan!"></app-achievement>
                <app-achievement [class]="'dark'" [achieved]="false" achievement_icon="faUser" title="Detective" text="Je bent je eerste factcheck uitgevoerd"></app-achievement>
                <app-achievement [class]="'light'" [achieved]="false" achievement_icon="faSitemap" title="Dirigent" text="Je bent 50 punten gestegen in je Logic."></app-achievement>
                <app-achievement [class]="'success'" achievement_icon="faMicrophone" title="Start" text="Je bent het gesprek aangegaan!"></app-achievement>
                <!-- <app-achievement [class]="'success'" achievement_icon="faCogs" title="Start" text="Je bent het gesprek aangegaan!"></app-achievement> -->
              </ion-col>
              <ion-col noPadding size="12" flex align-top center-hor style="margin-bottom: 50px;">
                <app-achievement [class]="'creative'" [achieved]="false" achievement_icon="faPlay" title="Starter" text="Je bent het gesprek aangegaan!"></app-achievement>
                <app-achievement [class]="'success'" [achieved]="false" achievement_icon="faSchool" title="Student" text="Je hebt wat geleerd!"></app-achievement>
                <app-achievement [class]="'success'" achievement_icon="faCogs" title="Start" text="Je bent het gesprek aangegaan!"></app-achievement>
                <app-achievement [class]="'dark'" [achieved]="false" achievement_icon="faUser" title="Detective" text="Je bent je eerste factcheck uitgevoerd"></app-achievement>
                <app-achievement [class]="'light'" [achieved]="false" achievement_icon="faSitemap" title="Dirigent" text="Je bent 50 punten gestegen in je Logic."></app-achievement>
                <app-achievement [class]="'success'" achievement_icon="faMicrophone" title="Start" text="Je bent het gesprek aangegaan!"></app-achievement>
                <!-- <app-achievement [class]="'success'" achievement_icon="faCogs" title="Start" text="Je bent het gesprek aangegaan!"></app-achievement> -->
              </ion-col>
              <!-- <ion-col size="2">
                <app-badge title="Gesprek" [achieved]="true" subtitle="First time" class="yellow"></app-badge>
              </ion-col> -->
              
            </ion-row>
          </ion-card-content>
        </ion-card>

        <ion-card basicPadding *ngIf="activeTab=='subscriptions'">
          <ion-card-header>
            <ion-card-title>Mijn abonnement</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div>
              <span class="subTag" *ngIf="auth.hasActive('basic') | async">
                Basis
              </span>
              <span class="subTag" *ngIf="auth.hasActive('trial') | async">
                Trial
              </span>
              <span class="subTag" *ngIf="auth.hasActive('premium') | async">
                Premium
              </span>
              <span class="subTag" *ngIf="auth.hasActive('trainer') | async">
                Trainer
              </span>
            </div>
            <div>
              <ion-button expand="block" *ngIf="!(auth.hasActive('premium') | async)" (click)="upgrade('premium','iDEAL')">Upgrade Premium</ion-button>
              <ion-button expand="block" *ngIf="!(auth.hasActive('trainer') | async)" (click)="upgrade('trainer','iDEAL')">Upgrade Trainer</ion-button>
            </div>
            <ion-list>
              <ion-item *ngFor="let subscription of subscriptions$ | async ">
                <ion-label>
                  <h2>{{ subscription.type | titlecase }} ({{ subscription.period }})</h2>
                  <p>Status: {{ subscription.status }}</p>
                  <p>Start: {{ subscription.startDate?.toDate() | date }}</p>
                  <p>Eind: {{ subscription.endDate?.toDate() | date }}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>

        <ion-card basicPadding *ngIf="activeTab=='payment'">
          <ion-card-header>
            <ion-card-title>Betalingen</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Hier komt de betaal instellingen
          </ion-card-content>
        </ion-card>

        <ion-card basicPadding *ngIf="activeTab=='credits'">
          <ion-card-header>
            <ion-card-title>Credits</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- <ion-row marginBottom>
              <ion-col size="3" *ngFor="let credits of creditsOptions">
                <ion-button class="saveButton"(click)="buyCredits(credits.amount)">
                    Koop {{credits.title}}
                </ion-button>
              </ion-col>
            </ion-row> -->
            <ion-row>
              <div font-18 weight700>
                <div *ngIf="auth.userInfo.credits">Actueel aantal Credits: {{auth.userInfo.credits}}</div>
                <div *ngIf="!auth.userInfo.credits">Op dit moment heb je geen credits (meer)</div>
              </div>
            </ion-row>
            <ion-row>
              <ion-col size="4" *ngFor="let product of products">
                <ion-button class="saveButton" (click)="buy(product)">
                    {{product.name}}
                </ion-button>
              </ion-col>
                
            </ion-row>
          </ion-card-content>
        </ion-card>

        <ion-card basicPadding *ngIf="activeTab=='trainer'">
          <ion-card-header>
            <ion-card-title>Trainer</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="4">
                <ion-card basicPadding solidTertiary pointer (click)="nav.go('trainer/courses')">
                  <ion-card-header>
                    <ion-card-title>Beheer Trajecten</ion-card-title>
                  </ion-card-header>
                </ion-card>
              </ion-col>
            </ion-row>
            

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</main>