<app-header page="account"></app-header>
<main>
  <ion-grid>
    <ion-row>
      <ion-col [size]="media.screenSize=='xs' ? 2 : 3" class="selectColumn" style="padding-top:15px;">
        <div *ngIf="media.screenSize=='xs'">


          <ion-card basicPadding pointer font-20 weight700 tab flex center-ver center-hor style="margin: 15px 0;" (click)="nav.go('start/dashboard')">
            <fa-icon [icon]="icon.get('faHome')" ></fa-icon>
          </ion-card>

          <ion-card basicPadding pointer font-20 weight700 tab flex center-ver center-hor style="margin: 15px 0;" *ngFor="let item of menuItems" [ngClass]="{'activeTab':activeTab==item.tab}" (click)="changeTab(item.tab)">
              <fa-icon [icon]="icon.get(item.icon)" ></fa-icon>
          </ion-card>

          <ion-card basicPadding pointer font-20 weight700 tab flex center-ver center-hor style="margin: 15px 0;" *ngIf="auth.customer?.stripeCustomerId" (click)="openStripeDashboard()">
              <fa-icon [icon]="icon.get('faCreditCard')" ></fa-icon>
          </ion-card>

        </div>

        <div *ngIf="media.screenSize!='xs'">
          
          <div style="padding:10px 0px;border-radius:16px;margin-bottom:15px;" class="notActiveItem" >
  
            <ion-item lines="none" button (click)="nav.go('start/dashboard')" class="itemButton" [detail]="false">
              <div font-20 weight700>{{'page_account.dashboard' | translate}}</div>
              <fa-icon font-24 titleIcon [slot]="'end'" [icon]="icon.get('faHome')"></fa-icon>
            </ion-item>
  
          </div>

          <div *ngFor="let item of menuItems" style="padding:10px 0px;border-radius:16px;margin-bottom:15px;" [ngClass]="{'activeItem':activeTab==item.tab,'notActiveItem':activeTab!=item.tab}">
  
            <ion-item lines="none" button (click)="changeTab(item.tab)" class="itemButton" [detail]="false">
              <div font-20 weight700 >{{item.title}}</div>
              <fa-icon font-24 [slot]="'end'" [icon]="icon.get(item.icon)"></fa-icon>
            </ion-item>
  
          </div>
  
          <div style="padding:10px 0px;border-radius:16px;margin-bottom:15px;" class="notActiveItem" *ngIf="auth.customer?.stripeCustomerId">
  
            <ion-item lines="none" button (click)="openStripeDashboard()" class="itemButton" [detail]="false">
              <div font-20 weight700>{{'page_account.billing' | translate}}</div>
              <fa-icon font-18 slot="end" style="color:rgba(0,0,0,0.3)" [icon]="icon.get('faExternalLinkAlt')"></fa-icon>
              <fa-icon font-24 titleIcon [slot]="'end'" [icon]="icon.get('faCreditCard')"></fa-icon>
            </ion-item>
  
          </div>

        </div>



      </ion-col>

      <ion-col [size]="media.screenSize=='xs' ? 10 : 9" class="detailColumn" center-left>
        <ion-card basicPadding *ngIf="activeTab=='basics'">
          <ion-row>
            <ion-col size="12">
              <ion-card-header>
                <ion-card-title>{{'page_account.my_data' | translate}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-list style="background:white;--background:white">
                  <ion-label position="stacked" style="margin-left:15px">{{'page_account.first_name' | translate}}</ion-label>
                  <ion-item lines="none" class="fieldItem" style="--padding-start:0;">
                    <ion-input class="saveButton" borderRadius24 placeholder="Naam" type="text" [(ngModel)]="account.displayName"></ion-input>
                  </ion-item>
                </ion-list>
                <ion-button class="saveButton" [disabled]="!account.displayName || account.displayName == this.auth.userInfo.displayName" (click)="updateAccount()">{{'buttons.save' | translate}}</ion-button>
              </ion-card-content>
            </ion-col>
          </ion-row>
        </ion-card>

        <ion-card basicPadding *ngIf="activeTab=='basics'">
          <ion-row>
            <ion-col size="12">
              <ion-card-header>
                <ion-card-title>{{'page_account.location' | translate}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-list style="background:white;--background:white">
                  <ion-label position="stacked" style="margin-left:15px">{{'languages.country' | translate}}</ion-label>
                  <ion-item lines="none" class="fieldItem" style="--padding-start:0;" (click)="showCountryPicker()">
                    <div class="select">
                      <ion-thumbnail slot="start" *ngIf="auth.userInfo?.country" style="--size:30px;width:35px;height:25px;">
                        <img [src]="countries.country(auth.userInfo.country).flag">
                      </ion-thumbnail>
                      <div class="text" *ngIf="auth.userInfo?.country">{{countries.country(auth.userInfo.country).country}}</div>
                    </div>
                  </ion-item>

                  <ion-label position="stacked" style="margin-left:15px">{{'languages.language' | translate}}</ion-label>
                  <ion-item lines="none" class="fieldItem" style="--padding-start:0;" (click)="editLang()">
                    <div class="select">
                      <fa-icon font-24 [icon]="icon.get('faGlobeEurope')" class="langIcon" ></fa-icon>
                      <div class="text">{{'languages.'+translate.currentLang | translate}}</div>
                    </div>
                  </ion-item>

                  <!-- <ion-label position="stacked" style="margin-left:15px">{{'currency.currency' | translate}}</ion-label>
                  <ion-item lines="none" class="fieldItem" style="--padding-start:0;" (click)="editCurrency()">
                    <div class="select">
                      <div font-22 weight700 style="margin-right:20px;" *ngIf="auth.userInfo.currency">{{'currency.'+auth.userInfo.currency+'_symbol' | translate}}</div>
                      <div class="text" *ngIf="auth.userInfo.currency">{{'currency.'+auth.userInfo.currency | translate}}</div>
                    </div>
                  </ion-item> -->

                </ion-list>
              </ion-card-content>
            </ion-col>
          </ion-row>
        </ion-card>

        <ion-card basicPadding *ngIf="activeTab=='basics'">
          <ion-row>
            <ion-col size="12">
              <ion-card-header>
                <ion-card-title flex center-ver fullwidth>
                  <span>{{'page_account.preferences' | translate}}</span>
                  <div class="spacer"></div>
                  <ion-button class="saveButton" [disabled]="!filterEdited" (click)="updateFilter()">{{'buttons.save' | translate}}</ion-button>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content style="max-height:600px;overflow-y:auto;">
                <p style="padding:0 15px">{{'page_account.preferences_text' | translate}}</p>
                <div *ngFor="let type of infoService.conversation_types | sortBy: -1 : 'order'">
                  <ion-item lines="none" font-18 weight500 noMargin class="selectCaseItem" (click)="type.selected = !type.selected">
                      <ion-checkbox mode="md" slot="start" [(ngModel)]="type.selected" noPointerEvents></ion-checkbox>
                      <ion-label>{{ type[translate.currentLang] }}</ion-label>
                  </ion-item>
                  <div *ngIf="type.selected" class="innerSelectCase">
                      <ion-item lines="none" font-18 weight400 noMargin class="selectCaseItem innerSelectCaseItem" *ngFor="let subject of type.subjects" (click)="subject.selected = !subject.selected">
                          <ion-checkbox mode="md" slot="start" [(ngModel)]="subject.selected" noPointerEvents></ion-checkbox>
                          <ion-label>{{ subject[translate.currentLang] }}</ion-label>
                      </ion-item>
                  </div>
                </div>
              </ion-card-content>
            </ion-col>
          </ion-row>
        </ion-card>

        <ion-card basicPadding pointer *ngIf="activeTab=='basics'" (click)="removeUser()">
          <ion-row>
            <ion-col size="12">
              <ion-card-header>
                <ion-card-title style="opacity:0.6">{{'page_account.remove_account' | translate}}</ion-card-title>
              </ion-card-header>
            </ion-col>
          </ion-row>
        </ion-card>


        <ion-card basicPadding *ngIf="activeTab=='courses'">
          <ion-card-header>
            <ion-card-title>{{'page_account.my_courses' | translate}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-card basicPadding listCard borderSecondary borderRadius16 pointer *ngFor="let course of courses$ | async | sortBy : 1 : 'startdate' | filterKey : 'status' : 'finished'" flex center-ver fullwidth (click)="nav.go('course/'+course.courseId)">
              <ion-card-title>{{ course.title }}</ion-card-title>
              <span class="spacer"></span>
              <fa-icon [icon]="icon.get('faTrashAlt')" trash noteIcon (click)="deleteCourse($event,course)"></fa-icon>
            </ion-card>
          </ion-card-content>
        </ion-card>

        <ion-card basicPadding *ngIf="activeTab=='conversations'">
          <ion-card-header>
            <ion-card-title>{{'page_account.my_cases' | translate}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-card basicPadding listCard borderSecondary borderRadius16 pointer [ngStyle]="{'display' : media.screenSize=='xs' ? 'block' : 'flex'}" *ngFor="let conversation of conversations$ | async | sortBy : 1 : 'timestamp' | filterKey : 'closed' : 'notEmpty'"  center-ver fullwidth (click)="openConversation(conversation)">
              <ion-card-title>{{ conversation.role }}</ion-card-title>
              <span class="spacer"></span>
              <ion-note *ngIf="media.screenSize!='xs'">{{ helper.showLocalDate(conversation.timestamp,translate.instant('date_formats.longDateTime'),0,true) }}</ion-note>
              <fa-icon *ngIf="media.screenSize!='xs'" [icon]="icon.get('faTrashAlt')" trash noteIcon (click)="deleteConversation($event,conversation)"></fa-icon>
              <div *ngIf="media.screenSize=='xs'" flex center-ver>
                <ion-note>{{ helper.showLocalDate(conversation.timestamp,translate.instant('date_formats.longDateTime'),0,true) }}</ion-note>
                <div class="spacer"></div>
                <fa-icon [icon]="icon.get('faTrashAlt')" trash noteIcon (click)="deleteConversation($event,conversation)"></fa-icon>
              </div>
            </ion-card>
          </ion-card-content>
        </ion-card>

        <ion-card basicPadding *ngIf="activeTab=='subscriptions'">
          <ion-card-header>
            <ion-card-title>{{'page_account.my_subscription' | translate}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="4" *ngFor="let product of subscriptionsStripe">
                <ion-button class="saveButton" (click)="buy(product)">
                    {{product.name}}
                </ion-button>
              </ion-col>
                
            </ion-row>
            <!-- <div>
              <span class="subTag" *ngIf="auth.hasActive('basic') | async">
                Basis
              </span>
              <span class="subTag" *ngIf="auth.hasActive('trial') | async">
                Trial
              </span>
              <span class="subTag" *ngIf="auth.hasActive('premium') | async">
                Premium
              </span>
              <span class="subTag" *ngIf="auth.hasActive('trainer') | async">
                Trainer
              </span>
            </div> -->
            <!-- <div>
              <ion-button expand="block" *ngIf="!(auth.hasActive('premium') | async)" (click)="upgrade('premium','iDEAL')">Upgrade Premium</ion-button>
              <ion-button expand="block" *ngIf="!(auth.hasActive('trainer') | async)" (click)="upgrade('trainer','iDEAL')">Upgrade Trainer</ion-button>
            </div> -->
            <ion-list>
              <ion-item *ngFor="let subscription of subscriptions$ | async ">
                <ion-label>
                  <h2>{{ subscription.type | titlecase }} ({{ subscription.period }})</h2>
                  <p>Status: {{ subscription.status }}</p>
                  <p>Start: {{ subscription.startDate?.toDate() | date }}</p>
                  <p>Eind: {{ subscription.endDate?.toDate() | date }}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>

        <ion-card basicPadding *ngIf="activeTab=='credits'">
          <ion-card-header>
            <ion-card-title>{{'page_account.credits' | translate}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-card basicPadding listCard borderSecondary borderRadius16 pointer basicMargin>
                <ion-card-title *ngIf="auth.credits.total">{{'page_account.credits_current' | translate}} {{auth.credits.total}}</ion-card-title>
                <ion-card-title *ngIf="!auth.credits.total">{{'page_account.no_credits' | translate}}</ion-card-title>
              </ion-card>

            </ion-row>
            <ion-row>
              <ion-col [size]="helper.cardSizeSmall" *ngFor="let product of products | sortBy : -1 : 'credits'">
                <ion-card basicPadding pointer flex center-ver center-hor class="creditsCard" (click)="buy(product)" *ngIf="product.prices?.length">
                  <div center>
                    <div font-24 weight700 marginBottom text-dark>
                      {{product.credits}} {{'page_account.credits' | translate}}
                    </div>
                    <div font-20 weight600 marginBottom>{{(product.prices[0].unit_amount / 100) | currency : (product.prices[0].currency | uppercase) }}</div>
                    <ion-button class="saveButton" >
                        {{'page_account.buy_now' | translate}}
                    </ion-button>
                   
                  </div>
                </ion-card>
                
              </ion-col>
                
            </ion-row>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</main>