<main [full]="true">
  <div class="login-page">
    <img class="login_logo" src="assets/icon/logo_full_black_sm.png">
    <div class="login-container">
      <!-- <div class="icon-wrapper">
        <fa-icon class="user-icon" [icon]="icon.get('faUser')" ></fa-icon>
      </div> -->
      <h2 *ngIf="!showPassWordReset">Welkom terug</h2>
      <p *ngIf="!showPassWordReset">Log in op uw account</p>

      <h2 *ngIf="showPassWordReset">Wachtwoord kwijt?</h2>
      <p *ngIf="showPassWordReset">Vul je e-mailadres in en ontvang instructies</p>

      <form [formGroup]="form" (submit)="!showPassWordReset ? login() : sendPasswordReset()">

          <ion-item lines="none" class="fieldItem">
            <ion-label position="stacked">E-mailadres</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>

          <ion-item lines="none" class="fieldItem" *ngIf="!showPassWordReset">
            <ion-label position="stacked">Wachtwoord</ion-label>
            <ion-input type="password" *ngIf="!showPassword" formControlName="password">
              <ion-icon slot="end" name="eye" *ngIf="!showPassword" (click)="showPassword = true"></ion-icon>
            </ion-input>
            <ion-input type="text" *ngIf="showPassword" formControlName="password">
              <ion-icon slot="end" name="eye-off" *ngIf="showPassword" (click)="showPassword = false"></ion-icon>
            </ion-input>
          </ion-item>
          <!-- <label for="email">E-mailadres</label>
          <ion-input type="email" formControlName="email"></ion-input> -->

        <!-- <div class="form-group" *ngIf="!showPassWordReset"> -->
          <!-- <label for="password">Wachtwoord</label>
          <ion-input type="password" formControlName="password" placeholder="••••••••"></ion-input> -->
        <!-- </div> -->
        <div class="form-options">
          <span class="spacer"></span>
          <span *ngIf="!showPassWordReset" class="showPassWordReset" (click)="forgotPassword()" pointer>Wachtwoord vergeten?</span>
          <span *ngIf="showPassWordReset" class="showPassWordReset" (click)="rememberPassword()" pointer>Ik weet 'm weer</span>
        </div>
        <ion-button button type="submit" *ngIf="!showPassWordReset" class="saveButton" [disabled]="!form.valid">Inloggen</ion-button>
        <ion-button button type="submit" *ngIf="showPassWordReset" class="saveButton" [disabled]="!form.valid">Reset password</ion-button>
      </form>
      <div *ngIf="!showPassWordReset">
        <p class="register-link">Nog geen account? <span pointer (click)="nav.go('register')" class="showPassWordReset">Registreer nu</span></p>
        <p class="or">Of ga door met</p>
        <div class="social-buttons" style="margin-bottom: 10px;">
          <button class="google-btn" (click)="auth.loginWithGoogle()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488 512"><path d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"/></svg>
            <span>Google</span>
          </button>
          <button class="apple-btn" flex center-ver (click)="auth.loginWithApple()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M318.7 268.7c-.2-36.7 16.4-64.4 50-84.8-18.8-26.9-47.2-41.7-84.7-44.6-35.5-2.8-74.3 20.7-88.5 20.7-15 0-49.4-19.7-76.4-19.7C63.3 141.2 4 184.8 4 273.5q0 39.3 14.4 81.2c12.8 36.7 59 126.7 107.2 125.2 25.2-.6 43-17.9 75.8-17.9 31.8 0 48.3 17.9 76.4 17.9 48.6-.7 90.4-82.5 102.6-119.3-65.2-30.7-61.7-90-61.7-91.9zm-56.6-164.2c27.3-32.4 24.8-61.9 24-72.5-24.1 1.4-52 16.4-67.9 34.9-17.5 19.8-27.8 44.3-25.6 71.9 26.1 2 49.9-11.4 69.5-34.3z"/></svg>
            <span>Apple</span>
          </button>
        </div>
        <div class="social-buttons">
          <button class="facebook-btn" (click)="auth.loginWithFacebook()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M23.9981 11.9991C23.9981 5.37216 18.626 0 11.9991 0C5.37216 0 0 5.37216 0 11.9991C0 17.9882 4.38789 22.9522 10.1242 23.8524V15.4676H7.07758V11.9991H10.1242V9.35553C10.1242 6.34826 11.9156 4.68714 14.6564 4.68714C15.9692 4.68714 17.3424 4.92149 17.3424 4.92149V7.87439H15.8294C14.3388 7.87439 13.8739 8.79933 13.8739 9.74824V11.9991H17.2018L16.6698 15.4676H13.8739V23.8524C19.6103 22.9522 23.9981 17.9882 23.9981 11.9991Z"/></svg>
            <span>Facebook</span>
          </button>
        </div>
        <p class="terms">Door in te loggen ga je akkoord met onze<a pointer (click)="nav.goto('documents/terms',true)">Voorwaarden</a> en <a pointer (click)="nav.goto('documents/privacy',true)">Privacybeleid</a>.</p>
      </div>
    </div>
  </div>
</main>
