<app-header [title]="'My Agents - '+type | capitalize"></app-header>

<main *ngIf="type">
  <!-- <ion-header> -->
    <ion-toolbar class="buttonBar">
      <ion-buttons slot="end">
        <ion-button fill="outline" color="light" *ngIf="type=='categories'" (click)="savePhasesToInfo()">Save phases to public info</ion-button>
        <ion-button fill="outline" color="light" (click)="getBackups(type)">Haal Backup</ion-button>
        <ion-button fill="outline" color="light" (click)="firestore.backup(type,items)">Maak Backup</ion-button>
      </ion-buttons>
    </ion-toolbar>
    <div class="buttonBarMargin"></div>
  <!-- </ion-header> -->
  <ion-grid>
    <ion-row>
      <ion-col class="selectColumn" size="3">
        <ion-card basicPadding>
          <ion-card-header>
            <ion-card-title flex center-ver>
              <span>{{type | capitalize}}</span>
              <span class="spacer"></span>
            <fa-icon [icon]="icon.get('faPlus')" *ngIf="!newItem.visible" (click)="newItem.visible=!newItem.visible;changeTab(-1)"></fa-icon>
            <fa-icon [icon]="icon.get('faMinus')" *ngIf="newItem.visible" (click)="newItem.visible=!newItem.visible;changeTab(0)"></fa-icon>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
        <ion-card basicPadding pointer font16 weight700 tab newTab *ngIf="newItem.visible" [ngClass]="{'activeTab':activeTab==-1}" (click)="changeTab(-1)">New Attitude</ion-card>
        <ion-card basicPadding pointer font16 weight700 tab *ngFor="let item of items;let i = index" [ngClass]="{'activeTab':activeTab==i}" (click)="changeTab(i)">
          <span *ngIf="item.level">{{item.level}}. </span> 
          <span *ngIf="item.title">{{item.title | capitalize}}</span>
          <span *ngIf="!item.title">{{item.id | capitalize}}</span>
        </ion-card>
      </ion-col>
      <ion-col size="9" class="detailColumn" >
        <ion-card basicPadding *ngIf="items?.length>0&&activeTab>-1">
          <ion-card-header *ngIf="items[activeTab].title!=undefined">
            <ion-card-title flex center-ver>
                <ion-input style="font-size:1.25rem" weight700 type="text" (ionChange)="update('title')" [(ngModel)]="items[activeTab].title"></ion-input>
                <span class="spacer"></span>
                <fa-icon [icon]="icon.get('faTrashAlt')" trash pointer (click)="removeItem()"></fa-icon>
              </ion-card-title>
          </ion-card-header>

          <ion-card-header *ngIf="items[activeTab].title==undefined">
            <ion-card-title flex center-ver>
                <span>{{items[activeTab].id | capitalize}}</span>
              </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <div class="fieldItem" *ngFor="let field of fieldOptions[type]">
              <ion-item lines="none" *ngIf="field.type=='text'">
                <ion-label position="stacked">{{field.label}}</ion-label>
                <ion-input type="text" rows="4" [(ngModel)]="items[activeTab][field.field]" (ionChange)="update(field.field)"></ion-input>
              </ion-item>

              <ion-item lines="none" *ngIf="field.type=='number'">
                <ion-label position="stacked">{{field.label}}</ion-label>
                <ion-input type="number" rows="4" [(ngModel)]="items[activeTab][field.field]" (ionChange)="update(field.field)"></ion-input>
              </ion-item>

              <ion-item lines="none" *ngIf="field.type=='textarea'">
                <ion-textarea rows="4" labelPlacement="stacked" [autoGrow]="true" [(ngModel)]="items[activeTab][field.field]" (ionChange)="update(field.field)">
                  <div slot="label">{{field.label}}</div>
                </ion-textarea>
                <ion-button fill="clear" color="warning" class="backupIcon" *ngIf="backupService.showBackups(type)" (click)="getBackup(items[activeTab].id,field.field)">
                  <fa-icon [icon]="icon.get('faUndoAlt')" slot="icon-only"></fa-icon>
                </ion-button>
              </ion-item>

            </div>
            <div *ngIf="items[activeTab].phases&&type=='public_info'">
              <ion-label>Fases, zijn aanwezig, en kunnen worden aangepast bij de categorieën. Sla ze daar op als public info</ion-label>
            </div>
            <div *ngIf="items[activeTab].phases&&type!='public_info'">
              <ion-card-title basicPadding weight700 flex fullwidth center-ver>
                Phases
              <span class="spacer"></span>
              <ion-button fill="clear" color="warning" class="backupIcon" *ngIf="backupService.showBackups('categories')" (click)="getBackup(items[activeTab].id,'phases')">
                <fa-icon [icon]="icon.get('faUndoAlt')" slot="icon-only"></fa-icon>
              </ion-button>
              <fa-icon [icon]="icon.get('faPlus')" style="font-size:30px" (click)="addPhase()"></fa-icon>
              </ion-card-title>
              <ion-card class="fieldItem" basicPadding *ngFor="let phase of items[activeTab].phases;let phase_index = index">
                <ion-item lines="none">
                  <ion-input font-16 weight600 placeholder="Phase title" [(ngModel)]="phase.title" (ionChange)="update('phases')"></ion-input>
                  <fa-icon slot="end" pointer [icon]="icon.get('faArrowUp')" (click)="movePhase(phase_index,-1)"></fa-icon>
                  <fa-icon slot="end" pointer [icon]="icon.get('faArrowDown')" (click)="movePhase(phase_index,1)"></fa-icon>
                  <fa-icon slot="end" pointer [icon]="icon.get('faTrashAlt')" trash (click)="removePhase(phase_index)"></fa-icon>
                </ion-item>
                <ion-item lines="none" class="shortItem">
                  <ion-label position="stacked">Short title</ion-label>
                  <ion-input type="text" [(ngModel)]="phase.short" (ionChange)="update('phases')">
                  </ion-input>
                </ion-item>
                <ion-item lines="none">
                  <ion-textarea labelPlacement="floating" [(ngModel)]="phase.description" (ionChange)="update('phases')">
                    <div slot="label">Description</div>
                  </ion-textarea>
                </ion-item>
              </ion-card>
            </div>

          </ion-card-content>
        </ion-card>

        <ion-card basicPadding *ngIf="activeTab==-1">
          <ion-card-header>
            <ion-card-title>
                <ion-input style="font-size:1.25rem" weight700 type="text" [(ngModel)]="newItem.title"></ion-input>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div *ngFor="let field of fieldOptions[type]">
              <ion-item lines="none" *ngIf="field.type=='text'">
                <ion-label position="stacked">{{field.label}}</ion-label>
                <ion-input type="text" rows="4" [(ngModel)]="newItem[field.field]"></ion-input>
              </ion-item>

              <ion-item lines="none" *ngIf="field.type=='number'">
                <ion-label position="stacked">{{field.label}}</ion-label>
                <ion-input type="number" rows="4" [(ngModel)]="newItem[field.field]"></ion-input>
              </ion-item>

              <ion-item lines="none" *ngIf="field.type=='textarea'">
                <ion-textarea rows="4" labelPlacement="floating" [autoGrow]="true" [(ngModel)]="newItem[field.field]">
                  <div slot="label">{{field.label}}</div>
                </ion-textarea>
              </ion-item>
            </div>  
            <ion-button color="secondary" expand="block" (click)="addItem()">Add</ion-button>
          </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>
  </ion-grid>

</main>

<main *ngIf="!type" class="selectMain">
  <ion-toolbar class="buttonBar">
    <ion-title>Select agent</ion-title>
  </ion-toolbar>
  <div class="buttonBarMargin"></div>
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let type of types;let i = index">
        <ion-card basicPadding pointer font16 weight700 tab (click)="nav.go('bagend/agent/'+type.type)">
          {{type.title | capitalize}}
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</main>