
.inner-content{
    background-color: white;
    padding:20px;
    // max-height:calc(var(--vh) * 100);
}
ion-checkbox{
    --size:24px;
}
ion-label{
    font-size: 18px!important;
    font-weight: 500;
}
ion-card-title{
    font-size: 20px;
    font-weight: 600;
}
ion-card{
    box-shadow: none;
}
.footer{
    display: flex;
    align-items: center;
    padding:10px;
    border-top: solid 1px #e0e0e0;
    background-color: white;
}

// .manyList{
//     max-height:calc(calc(var(--vh) * 80) - 200px);
//     overflow-y:auto;
// }

// @media only screen and (max-width:450px){
//     .manyList{
//         max-height:calc(calc(var(--vh) * 100) - 215px)
//     }
// }
