<div class="training-item" >
  <div class="title" [ngClass]="{'active': active}" (click)="toggle(item)" [ngStyle]="{'border-bottom': isOpen() ? 'solid 2px var(--ion-color-light-shade)' : 'solid 1px var(--ion-color-light-shade)'}">
    <fa-icon font-10 leftIcon *ngIf="item.items" [icon]="icon.get('faChevronDown')" chevron [ngStyle]="{'transform': isOpen() ? 'rotate(180deg)' : 'rotate(-90deg)'}"></fa-icon>
    <fa-icon font-6 leftIcon *ngIf="!item.items" [icon]="icon.get('faCircleSolid')"></fa-icon>
    <!-- <div leftIcon *ngIf="!item.items"></div> -->
    <span>{{ item.title }} {{item.id}}</span>
    <div class="spacer"></div>
    <fa-icon rightIcon font-16 *ngIf="item.type=='infoItem'" [icon]="icon.get('faFileText')"></fa-icon>
    <fa-icon rightIcon font-16 *ngIf="item.type=='case'" [icon]="icon.get('faCommentsOutline')"></fa-icon>
    <div rightIcon *ngIf="item.items"></div>
    <!-- <fa-icon rightIcon font-16 *ngIf="item.type=='module'" [icon]="icon.get('faList')"></fa-icon> -->
  </div>
  <!-- <div>{{path}}</div> -->

  <div class="children" *ngIf="isOpen() && item.items">
    <app-training-list-item
      *ngFor="let sub of item.items"
      [item]="sub"
      [openPathIds]="openPathIds"
      [path]="buildChildPath(sub.id)"
      (pathSelected)="onChildSelected($event)"
      [child]="true"
      (itemSelected)="onItemSelected(path,$event)"
    ></app-training-list-item>
  </div>
</div>