<app-header page="admin"></app-header>
<!-- <main>
    <ion-textarea rows="10" [(ngModel)]="newObj" style="text-align:left" placeholder="Voeg een object toe"></ion-textarea>
    <ion-button (click)="addCase()" [disabled]="uploading">Opslaan</ion-button>
</main> -->

<main [ngClass]="{'backupGrid':showBackups}">
    <!-- <ion-toolbar class="buttonBar">
        <ion-searchbar [(ngModel)]="searchTerm" placeholder="Zoeken"></ion-searchbar>
        
        <ion-buttons slot="end">

        <ion-button fill="outline" color="secondary" class="saveButton" (click)="openAdd()" *ngIf="backupService.activebackups!='cases'">Nieuw</ion-button>
        <ion-button fill="outline" color="secondary" class="saveButton" (click)="getBackups('cases','cases')" *ngIf="backupService.activebackups!='cases'">Laad Backups</ion-button>
        <ion-button fill="outline" color="secondary" class="saveButton" (click)="hideBackups()" *ngIf="backupService.activebackups=='cases'">Verberg Backup</ion-button>
        <ion-button fill="outline" color="secondary" class="saveButton" (click)="firestore.backup('cases','cases',cases)" *ngIf="backupService.activebackups!='cases'">Maak Backup</ion-button>
        </ion-buttons>
    </ion-toolbar> -->
    <!-- <div class="buttonBarMargin"></div> -->
    <ion-grid class="mainGrid">
        <ion-row style="height:calc(100% - 75px)">

            <ion-col [size]="media.smallDevice ? 12 : 3" class="selectColumn">

                <div style="background:white;padding:10px 0px;border-radius:16px;margin-top:15px">
                    <ion-item lines="none" button (click)="openAdd()" class="itemButton" *ngIf="!caseItem?.id">
                      <div font-20 weight700>Nieuwe casus</div>
                      <fa-icon font-24 slot="end" [icon]="icon.get('faArrowRight')"></fa-icon>
                    </ion-item>
                    <ion-item lines="none" button (click)="getBackups('cases','cases')" class="itemButton" *ngIf="!caseItem?.id">
                        <div font-20 weight700>Laad backups</div>
                        <fa-icon font-24 slot="end" [icon]="icon.get('faCloudUploadAlt')"></fa-icon>
                    </ion-item>
                    <ion-item lines="none" button (click)="firestore.backup('cases','cases',cases)" *ngIf="backupService.activebackups!='cases'&&!caseItem?.id" class="itemButton">
                        <div font-20 weight700>Maak backups</div>
                        <fa-icon font-24 slot="end" [icon]="icon.get('faCloudDownloadAlt')"></fa-icon>
                    </ion-item>
                    <ion-item lines="none" button (click)="returnBackup(caseItem)" *ngIf="showBackups&&caseItem?.id" class="itemButton">
                        <div font-20 weight700 text-warning>Restore casus</div>
                        <fa-icon font-24 slot="end" text-warning [icon]="icon.get('faRedoAlt')"></fa-icon>
                    </ion-item>
                    <ion-item lines="none" button (click)="hideBackups()" *ngIf="backupService.activebackups=='cases'&&!caseItem?.id" class="itemButton">
                        <div font-20 weight700>Verberg backups</div>
                        <fa-icon font-24 slot="end" [icon]="icon.get('faTimes')"></fa-icon>
                    </ion-item>
                    <ion-item lines="none" button (click)="caseItem = {}" class="itemButton" *ngIf="caseItem?.id">
                      <div font-20 weight700>Terug</div>
                      <fa-icon font-24 slot="end" [icon]="icon.get('faArrowLeft')"></fa-icon>
                    </ion-item>
                    <ion-item lines="none" button (click)="editCase(caseItem?.id,true)" class="itemButton" *ngIf="caseItem?.id">
                      <div font-20 weight700>Bewerk uitgebreid</div>
                      <fa-icon font-24 slot="end" [icon]="icon.get('faPen')"></fa-icon>
                    </ion-item>
                    <ion-item lines="none" button (click)="deleteCase()" class="itemButton" *ngIf="caseItem?.id">
                      <div font-20 weight700 text-danger>Verwijder casus</div>
                      <fa-icon font-24 slot="end" text-danger [icon]="icon.get('faTrashAlt')"></fa-icon>
                    </ion-item>
                  </div>

                  <div style="background:white;padding:10px 0px;border-radius:16px;margin-top:15px" *ngIf="!caseItem?.id">
                    <ion-searchbar [(ngModel)]="searchTerm" placeholder="Zoeken"></ion-searchbar>
                </div>

                <div style="background:white;padding:10px 0px;border-radius:16px;margin-top:15px" marginBottom *ngIf="!caseItem?.id">
                    <div *ngFor="let type of infoService.conversation_types">
                        <ion-item lines="none" font-18 weight500 noMargin class="selectCaseItem" (click)="type.selected = !type.selected">
                            <ion-checkbox slot="start" [(ngModel)]="type.selected" noPointerEvents></ion-checkbox>
                            <ion-label>{{ type[translate.currentLang] }}</ion-label>
                        </ion-item>
                        <div *ngIf="type.selected" class="innerSelectCase">
                            <ion-item lines="none" font-18 weight400 noMargin class="selectCaseItem innerSelectCaseItem" *ngFor="let subject of type.subjects" (click)="subject.selected = !subject.selected">
                                <ion-checkbox slot="start" [(ngModel)]="subject.selected" noPointerEvents></ion-checkbox>
                                <ion-label>{{ subject[translate.currentLang] }}</ion-label>
                            </ion-item>
                        </div>
                    </div>
                </div>

                <div style="background:white;padding:10px 0px;border-radius:16px" *ngIf="!caseItem?.id">
                    <ion-item lines="none" font-18 weight500 noMargin class="selectCaseItem" (click)="toggleFilter('open_to_user',true)">
                        <ion-checkbox slot="start" [checked]="filterActive('open_to_user',true)" noPointerEvents (click)="check($event)"></ion-checkbox>
                        <ion-label>Open voor Users</ion-label>
                    </ion-item>
                    <ion-item lines="none" font-18 weight500 noMargin class="selectCaseItem" (click)="toggleFilter('open_to_user',false)">
                        <ion-checkbox slot="start" [checked]="filterActive('open_to_user',false)" noPointerEvents (click)="check($event)"></ion-checkbox>
                        <ion-label>Closed voor Users</ion-label>
                    </ion-item>

                </div>

            </ion-col>

            <ion-col [size]="media.smallDevice ? 12 : 9"  class="detailColumn">
                <div *ngIf="!caseItem?.id">
                    <ion-row>
                        <ion-col [size]="helpers.cardSizeSmall" *ngFor="let caseItem of cases | caseFilter: currentFilterTypes.types : currentFilterTypes.subjectTypes : extraFilters.open_to_user | filterSearch : searchTerm : false : ['title'] ">
                            <ion-card noPadding pointer fullheight>
                                <ion-card-content noPadding fullHeight>
                                    <div backgroundImage class="avatarImage" *ngIf="caseItem.photo" [ngStyle]="{'background-image': 'url(' + caseItem.photo + ')'}"></div>
                                    <div backgroundImage class="avatarImage" *ngIf="!caseItem.photo" [ngStyle]="{'background-image': 'url(assets/img/default_avatar.png)'}"></div>
                                    <div *ngIf="caseItem.avatarName" class="videoAvatarBadge">Video</div>
                                    <div flex center center-ver center-hor style="height:calc(100% - 275px)">
                                        <ion-card-header>
                                            <ion-card-title font-18 weight600>{{caseItem.title}}</ion-card-title>
                                            <ion-card-subtitle font-14 weight400>{{caseItem.user_info | maxLength : 60 : true}}</ion-card-subtitle>
                                        </ion-card-header>
                                    </div>
                                    <div center flex center-ver center-hor>
                                        <ion-button class="saveButton creditButton" fill="outline" size="small">
                                            <div>
                                                <div>{{caseItem.level}}</div>
                                                <div font-12 text-medium>Level</div>
                                            </div>
                                        </ion-button>
                                        <ion-button class="saveButton cardButton" fill="outline" size="small" (click)="selectCasus(caseItem)">Edit case</ion-button>
                                    </div>
                                </ion-card-content>
                            </ion-card>

                            <!-- <ion-card class="headerCard">
                                <ion-card-header>
                                    <ion-card-title *ngIf="categoryInfo(conversationType.key)">{{ categoryInfo(conversationType.key).title }}</ion-card-title>
                                </ion-card-header>
                            </ion-card>
                            <ion-card basicPadding pointer font16 weight700 tab *ngFor="let casus of conversationType.value;let i = index" [ngClass]="{'activeTab':caseItem.id==casus.id}" (click)="selectCasus(casus)">
                                {{casus.title | capitalize}}
                            </ion-card> -->
                        </ion-col>
                        <ion-col [size]="helpers.cardSizeSmall" *ngIf="!(cases | caseFilter: currentFilterTypes.types : currentFilterTypes.subjectTypes : extraFilters.open_to_user | filterSearch : searchTerm : false : ['title']).length">
                            <ion-card noPadding pointer fullheight>
                                <ion-card-content noPadding fullHeight flex center-hor>
                                    <div flex center center-ver center-hor>
                                        <ion-card-header>
                                            <ion-card-title font-18 weight600>Geen resultaten</ion-card-title>
                                        </ion-card-header>
                                    </div>
                                </ion-card-content>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </div>

                <ion-card basicPadding *ngIf="caseItem?.id">
                    <ion-card-header>
                        <ion-card-title flex center-ver>
                            <ion-input style="font-size:1.25rem" weight700 type="text" (ionChange)="update('title')" [(ngModel)]="caseItem.title"></ion-input>
                            <span class="spacer"></span>

                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-row>
                            <ion-col [size]="media.smallDevice ? 12 : 8">
                                <ion-item lines="none" listCard>
                                    <ion-label position="stacked">Gespreks techniek</ion-label>
                                    <ion-select interface="popover" [disabled]="showBackups" [(ngModel)]="caseItem.conversation" (ionChange)="update('conversation')">
                                        <ion-select-option *ngFor="let cat of categories" [value]="cat.id">{{cat.title}}</ion-select-option>
                                    </ion-select>
                                </ion-item>

                                <ion-item lines="none" listCard (click)="selectTypes(caseItem.types)" class="ionItemTypes">
                                    <ion-label position="stacked">Typen</ion-label>
                                    <ion-row fullwidth>
                                        <ion-col size="4" *ngFor="let type of caseItem.types">
                                            <div class="typeItem">{{infoService.getConversationType('',type)[translate.currentLang]}}</div>
                                        </ion-col>
                                    </ion-row>
                                </ion-item>
                    
                                <ion-item lines="none" listCard>
                                    <ion-label position="stacked">Rol</ion-label>
                                    <ion-input [disabled]="showBackups" [(ngModel)]="caseItem.role" (ionChange)="update('role')"></ion-input>
                                </ion-item>
                                <!-- <ion-item lines="none" listCard (click)="selectStreamingAvatar()">
                                    <ion-label position="stacked">Avatar ID</ion-label>
                                    <ion-input [disabled]="showBackups" [(ngModel)]="caseItem.avatarName" (ionChange)="update('avatarName')"></ion-input>
                                </ion-item> -->
                                
                            </ion-col>
                            <ion-col [size]="media.smallDevice ? 12 : 4">
                                <ion-card pointer class="caseAvatar" (click)="selectAvatar($event)">
                                    <ion-card-content backgroundImage noPadding *ngIf="caseItem.photo" [ngStyle]="{'background-image': 'url(' + caseItem.photo + ')'}">
                                    </ion-card-content>
                                    <!-- <ion-card-content *ngIf="!caseItem.photo" flex center-ver center-hor>
                                        <fa-icon [icon]="icon.get('faImage')" size="10x"></fa-icon>
                                    </ion-card-content> -->
                                    <div fullwidth center-ver center-hor class="btnImgChange">
                                        <ion-button fill="solid" color="light" class="saveButton" noPointerEvents>
                                            <span text-dark>
                                                <fa-icon [icon]="icon.get('faImage')"></fa-icon>
                                                Foto
                                            </span>
                                        </ion-button>
                                        <ion-button fill="solid" color="light" class="saveButton" (click)="selectStreamingAvatar($event)">
                                            <span text-dark>
                                                <fa-icon [icon]="icon.get('faVideo')"></fa-icon>
                                                Video
                                            </span>
                                        </ion-button>
                                    </div>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <!-- <ion-col size="12">
                                <ion-item lines="none" listCard>
                                    <ion-label position="stacked">Foto URL</ion-label>
                                    <ion-input [disabled]="showBackups" [(ngModel)]="caseItem.photo" (ionChange)="update('photo')"></ion-input>
                                </ion-item>
                            </ion-col> -->
                            <ion-col size="6">
                                <ion-item [disabled]="showBackups" lines="none" listCard>
                                    <ion-toggle color="primary" [(ngModel)]="caseItem.open_to_user" (ionChange)="update('open_to_user')">
                                        Open voor Users
                                    </ion-toggle>
                                </ion-item>
                                
                                <ion-item lines="none" listCard>
                                    <ion-label position="stacked">Level</ion-label>
                                    <ion-input type="number" [min]="1" [max]="5" [disabled]="showBackups" [(ngModel)]="caseItem.level" (ionChange)="update('level')"></ion-input>
                                </ion-item>

                            </ion-col>

                            <ion-col size="6">
                                <ion-item [disabled]="showBackups" lines="none" listCard>
                                    <ion-range [min]="1" [max]="100" [pin]="true"  color="primary" [(ngModel)]="caseItem.attitude" (ionChange)="update('attitude')">
                                        <ion-label style="font-size:14px" slot="start">Attitude</ion-label>
                                        <ion-label style="font-size:18px" slot="end">{{caseItem.attitude}}</ion-label>
                                    </ion-range>
                                </ion-item>

                                <ion-item [disabled]="showBackups" lines="none" listCard>
                                    <ion-range [min]="1" [max]="99" [pin]="true"  color="primary" [(ngModel)]="caseItem.steadfastness" (ionChange)="update('steadfastness')">
                                        <ion-label style="font-size:14px" slot="start">Steadfastness</ion-label>
                                        <ion-label style="font-size:18px" slot="end">{{caseItem.steadfastness}}</ion-label>
                                    </ion-range>
                                </ion-item>
                            </ion-col>

                            <ion-col size="12">

                                <!-- <ion-item lines="none" listCard>
                                    <ion-label position="stacked">Attitude Type</ion-label>
                                    <ion-select interface="popover" [disabled]="showBackups" [(ngModel)]="caseItem.attitudeType" (ionChange)="update('attitudeType')">
                                        <ion-select-option *ngFor="let attitudeType of infoService.attitudeTypes" [value]="attitudeType.id">{{attitudeType.id}}</ion-select-option>
                                    </ion-select>
                                </ion-item> -->

                                
                                
                                <!-- <ion-item [disabled]="showBackups" lines="none" listCard>
                                <ion-textarea rows="4" labelPlacement="floating" [autoGrow]="true" [(ngModel)]="caseItem.description" (ionChange)="update('description')">
                                    <div slot="label">Omschrijving</div>
                                </ion-textarea>
                                </ion-item> -->

                                <ion-item [disabled]="showBackups" lines="none" listCard>
                                    <ion-textarea rows="4" labelPlacement="floating" [autoGrow]="true" [(ngModel)]="caseItem.user_info" (ionChange)="update('user_info')">
                                    <div slot="label">Korte informatie voor de gebruiker</div>
                                    </ion-textarea>
                                </ion-item>         

                                <ion-item [disabled]="showBackups" lines="none" listCard>
                                    <ion-textarea rows="4" labelPlacement="floating" [autoGrow]="true" [(ngModel)]="caseItem.casus" (ionChange)="update('casus')">
                                    <div slot="label">Casus</div>
                                    </ion-textarea>
                                </ion-item>                      
                                
                            </ion-col>
                                
                        </ion-row>

                        <!-- <ion-row *ngIf="caseItem?.editable_by_user">
                            <ion-col size="12">
                                <div marginBottom font-18 weight600>Aanpasbaar voor de gebruiker</div>
                            </ion-col>
                            <ion-col size="editable.key!='goals' ? 0 : 4" *ngFor="let editable of caseItem.editable_by_user | keyvalue">
                                <ion-item lines="none" listCard fullwidth *ngIf="editable.key!='goals'">
                                <ion-toggle noMargin  [checked]="editable.value" color="primary" weight600 (ionChange)="onToggleChange(editable.key, $event)">{{editable.key}}</ion-toggle>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row *ngIf="caseItem?.editable_by_user">
                            <ion-col size="12">
                                <div marginBottom font-18 weight600>Doelen</div>
                            </ion-col>
                            <ion-col size="4">
                                <ion-item lines="none" listCard fullwidth>
                                    <ion-toggle noMargin fullwidth [(ngModel)]="caseItem.editable_by_user.goals.attitude" (ionChange)="update('editable_by_user')" color="primary">Houding van de gesprekspartner</ion-toggle>
                                </ion-item>
                            </ion-col>
                            <ion-col size="4">
                                <ion-item lines="none" listCard fullwidth>
                                    <ion-toggle noMargin fullwidth [(ngModel)]="caseItem.editable_by_user.goals.phases" (ionChange)="update('editable_by_user')" color="primary">Niveau van de verschillende fases</ion-toggle>
                                </ion-item>
                            </ion-col>
                            <ion-col size="4">
                                <ion-item lines="none" listCard fullwidth>
                                    <ion-toggle noMargin fullwidth [(ngModel)]="caseItem.editable_by_user.goals.free" (ionChange)="update('editable_by_user')" color="primary">Vrije tekst</ion-toggle>
                                </ion-item>
                            </ion-col>

                        </ion-row> -->

                    </ion-card-content>
                </ion-card>
            </ion-col>

        </ion-row>
    </ion-grid>

</main>