ion-item{
    margin-bottom:20px
}
ion-range{
    padding-top:0;
}
.btn_new_cat{
    width: 80px;
    border: solid 2px black;
    height: 32px;
    margin-left: 10px;
    ion-label{
        margin: 0;
        position: relative;
        top: -9px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
    }
}

#selectNew{
    visibility: hidden;
}
[trash]{
    font-size: 20px;
}

.backupGrid{
    ion-card,ion-toolbar{
        background-color: rgba(var(--ion-color-secondary-rgb), 0.3);
        --background: rgba(var(--ion-color-secondary-rgb), 0.3);
    }
}