ion-item{
    margin-bottom:20px
}
ion-range{
    padding-top:0;
}
ion-searchbar{
    --box-shadow: none;
}
main {
    display: flex;
    flex-direction: column;
    height: 100vh;  // Zorg ervoor dat het main-element de volledige viewport-hoogte heeft
  }
  
  ion-grid.mainGrid {
    flex: 1;  // Laat het grid zich aanpassen aan de resterende ruimte binnen het scherm
    overflow: hidden;  // Verberg overbodige scroll buiten de kolommen
    height:100%;
  }
  
  .selectColumn,
  .detailColumn {
    height: 100%;  // Zorg dat de kolommen de volledige hoogte van hun container hebben
    overflow-y: auto;  // Activeer verticale scroll wanneer nodig
    padding-right: 10px;  // Optionele padding voor scrollbalk
  }


.saveButton{
    margin-left:10px;
}
.btn_new_cat{
    width: 80px;
    border: solid 2px black;
    height: 32px;
    margin-left: 10px;
    ion-label{
        margin: 0;
        position: relative;
        top: -9px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
    }
}

#selectNew{
    visibility: hidden;
}
[trash]{
    font-size: 20px;
}

.backupGrid{
    ion-card,ion-toolbar{
        background-color: rgba(var(--ion-color-secondary-rgb), 0.3);
        --background: rgba(var(--ion-color-secondary-rgb), 0.3);
    }
}

.selectCaseItem{
    ion-checkbox{
        --size:24px;
    }
}
.innerSelectCaseItem{
    padding-left: 20px;
}

.typeItem{
    padding: 5px 10px;
    border-radius: 16px;
    background-color: var(--ion-color-primary);
    color:var(--ion-color-primary-contrast);
    font-size: 14px;
    text-align: center;
    margin: 5px 0px;
    font-weight: 500;;
}



.avatarImage{
    height: 200px;
    width:100%;
}
.continueCaseText{
    font-size: 0.75em;
    margin-bottom:10px;
}
[removeIcon]{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
}
.cardButton{
    --border-color:#eaeaea;
    --color:var(--ion-color-primary);
}
.cardButton:hover{
    --border-color:var(--ion-color-primary);
}
.creditButton{
    --border-color:var(--ion-color-primary);
    --color:var(--ion-color-primary);
    margin-right:30px;
    --padding-start: 10px !important;
    --padding-end: 10px !important;
}
.creditButton:hover{
    --background:none;
}

.btnImgChange{
    position: absolute;
    text-align: center;
    bottom: 20px;
}

.caseAvatar{
    border:solid 1px rgba(0,0,0,0.2);
}