<app-header page="admin"></app-header>
<!-- <main>
    <ion-textarea rows="10" [(ngModel)]="newObj" style="text-align:left" placeholder="Voeg een object toe"></ion-textarea>
    <ion-button (click)="addCase()" [disabled]="uploading">Opslaan</ion-button>
</main> -->

<main [ngClass]="{'backupGrid':showBackups}">
    <!-- <ion-toolbar class="buttonBar">
        <ion-searchbar [(ngModel)]="searchTerm" placeholder="Zoeken"></ion-searchbar>
        
        <ion-buttons slot="end">

        <ion-button fill="outline" color="secondary" class="saveButton" (click)="openAdd()" *ngIf="backupService.activebackups!='cases'">Nieuw</ion-button>
        <ion-button fill="outline" color="secondary" class="saveButton" (click)="getBackups('cases','cases')" *ngIf="backupService.activebackups!='cases'">Laad Backups</ion-button>
        <ion-button fill="outline" color="secondary" class="saveButton" (click)="hideBackups()" *ngIf="backupService.activebackups=='cases'">Verberg Backup</ion-button>
        <ion-button fill="outline" color="secondary" class="saveButton" (click)="firestore.backup('cases','cases',cases)" *ngIf="backupService.activebackups!='cases'">Maak Backup</ion-button>
        </ion-buttons>
    </ion-toolbar> -->
    <!-- <div class="buttonBarMargin"></div> -->
    <ion-grid class="mainGrid">
        <ion-row style="height:calc(100% - 75px)">

            <ion-col [size]="media.smallDevice ? 12 : 3" class="selectColumn">

                <div style="background:white;padding:10px 0px;border-radius:16px;margin-top:15px">
                    <!-- <ion-item lines="none" button (click)="getCaseCsv()" class="itemButton" *ngIf="!caseItem?.id">
                      <div font-20 weight700>Laad cases van CSV</div>
                      <fa-icon font-24 slot="end" [icon]="icon.get('faArrowRight')"></fa-icon>
                    </ion-item>
                    <ion-item lines="none" button (click)="importCases()" class="itemButton" *ngIf="!caseItem?.id" style="margin-bottom:50px;">
                        <div font-20 weight700>Verwerk cases van CSV</div>
                        <fa-icon font-24 slot="end" [icon]="icon.get('faArrowRight')"></fa-icon>
                      </ion-item> -->
                    <ion-item lines="none" button (click)="view='list';maxCases=2000" class="itemButton" *ngIf="view=='cards'&&!caseItem?.id">
                        <div font-20 weight700>Toon als lijst</div>
                        <fa-icon font-24 slot="end" [icon]="icon.get('faList')"></fa-icon>
                    </ion-item>
                    <ion-item lines="none" button (click)="view='cards';maxCases=15" class="itemButton" *ngIf="view=='list'&&!caseItem?.id">
                        <div font-20 weight700>Toon als cards ({{filteredCases.length}})</div>
                        <fa-icon font-24 slot="end" [icon]="icon.get('faAddressCard')"></fa-icon>
                    </ion-item>
                    <ion-item lines="none" button (click)="openAdd()" class="itemButton" *ngIf="!caseItem?.id">
                        <div font-20 weight700>Nieuwe casus</div>
                        <fa-icon font-24 slot="end" [icon]="icon.get('faArrowRight')"></fa-icon>
                    </ion-item>
                    <ion-item lines="none" button (click)="getBackups('cases','cases')" class="itemButton" *ngIf="!caseItem?.id">
                        <div font-20 weight700>Laad backups</div>
                        <fa-icon font-24 slot="end" [icon]="icon.get('faCloudUploadAlt')"></fa-icon>
                    </ion-item>
                    <ion-item lines="none" button (click)="firestore.backup('cases','cases',cases)" *ngIf="backupService.activebackups!='cases'&&!caseItem?.id" class="itemButton">
                        <div font-20 weight700>Maak backups</div>
                        <fa-icon font-24 slot="end" [icon]="icon.get('faCloudDownloadAlt')"></fa-icon>
                    </ion-item>
                    <ion-item lines="none" button (click)="returnBackup(caseItem)" *ngIf="showBackups&&caseItem?.id" class="itemButton">
                        <div font-20 weight700 text-warning>Restore casus</div>
                        <fa-icon font-24 slot="end" text-warning [icon]="icon.get('faRedoAlt')"></fa-icon>
                    </ion-item>
                    <ion-item lines="none" button (click)="hideBackups()" *ngIf="backupService.activebackups=='cases'&&!caseItem?.id" class="itemButton">
                        <div font-20 weight700>Verberg backups</div>
                        <fa-icon font-24 slot="end" [icon]="icon.get('faTimes')"></fa-icon>
                    </ion-item>
                    <ion-item lines="none" button (click)="exportCases()" *ngIf="!caseItem?.id" class="itemButton">
                        <div font-20 weight700>Exporteer CSV</div>
                        <fa-icon font-24 slot="end" [icon]="icon.get('faDownload')"></fa-icon>
                    </ion-item>
                    <ion-item lines="none" button (click)="caseItem = {}" class="itemButton" *ngIf="caseItem?.id">
                      <div font-20 weight700>Terug</div>
                      <fa-icon font-24 slot="end" [icon]="icon.get('faArrowLeft')"></fa-icon>
                    </ion-item>
                    <ion-item lines="none" button (click)="editCase(caseItem,true)" class="itemButton" *ngIf="caseItem?.id">
                      <div font-20 weight700>Bewerk uitgebreid</div>
                      <fa-icon font-24 slot="end" [icon]="icon.get('faPen')"></fa-icon>
                    </ion-item>
                    <ion-item lines="none" button (click)="deleteCase()" class="itemButton" *ngIf="caseItem?.id">
                      <div font-20 weight700 text-danger>Verwijder casus</div>
                      <fa-icon font-24 slot="end" text-danger [icon]="icon.get('faTrashAlt')"></fa-icon>
                    </ion-item>
                  </div>

                  <div style="background:white;padding:10px 0px;border-radius:16px;margin-top:15px" *ngIf="!caseItem?.id">
                    <ion-searchbar [(ngModel)]="searchTerm" (ionClear)="onSearchChanged()" placeholder="Zoeken" (ionInput)="onSearchChanged()"></ion-searchbar>
                </div>

                <div style="background:white;padding:10px 0px;border-radius:16px;margin-top:15px" marginBottom *ngIf="!caseItem?.id">
                    <div *ngFor="let type of infoService.conversation_types | sortBy: -1 : 'order'">
                        <ion-item lines="none" font-18 weight500 noMargin class="selectCaseItem" (click)="type.selected = !type.selected;onFiltersChanged();">
                            <ion-checkbox slot="start" [(ngModel)]="type.selected" noPointerEvents></ion-checkbox>
                            <ion-label>{{ type[translate.currentLang] }}</ion-label>
                        </ion-item>
                        <div *ngIf="type.selected" class="innerSelectCase">
                            <ion-item lines="none" font-18 weight400 noMargin class="selectCaseItem innerSelectCaseItem" *ngFor="let subject of type.subjects" (click)="subject.selected = !subject.selected;onFiltersChanged()">
                                <ion-checkbox slot="start" [(ngModel)]="subject.selected" noPointerEvents></ion-checkbox>
                                <ion-label>{{ subject[translate.currentLang] }}</ion-label>
                            </ion-item>
                        </div>
                    </div>
                </div>

                <div style="background:white;padding:10px 0px;border-radius:16px" *ngIf="!caseItem?.id" marginBottom>
                    <ion-item lines="none" font-18 weight500 noMargin class="selectCaseItem" (click)="toggleFilter('open_to_user',true);onFiltersChanged()">
                        <ion-checkbox slot="start" [checked]="filterActive('open_to_user',true)" noPointerEvents (click)="check($event)"></ion-checkbox>
                        <ion-label>Open voor Users</ion-label>
                    </ion-item>
                    <ion-item lines="none" font-18 weight500 noMargin class="selectCaseItem" (click)="toggleFilter('open_to_user',false);onFiltersChanged()">
                        <ion-checkbox slot="start" [checked]="filterActive('open_to_user',false)" noPointerEvents (click)="check($event)"></ion-checkbox>
                        <ion-label>Closed voor Users</ion-label>
                    </ion-item>
                </div>

                <div style="background:white;padding:10px 0px;border-radius:16px" *ngIf="!caseItem?.id" marginBottom>
                    <ion-item lines="none" font-18 weight500 noMargin class="selectCaseItem" (click)="toggleFilter('photo','notEmpty');onFiltersChanged()">
                        <ion-checkbox slot="start" [checked]="filterActive('photo','notEmpty')" noPointerEvents (click)="check($event)"></ion-checkbox>
                        <ion-label>Heeft een foto</ion-label>
                    </ion-item>
                    <ion-item lines="none" font-18 weight500 noMargin class="selectCaseItem" (click)="toggleFilter('photo','empty');onFiltersChanged()">
                        <ion-checkbox slot="start" [checked]="filterActive('photo','empty')" noPointerEvents (click)="check($event)"></ion-checkbox>
                        <ion-label>Heeft geen foto</ion-label>
                    </ion-item>
                </div>

                <div style="background:white;padding:10px 0px;border-radius:16px" *ngIf="!caseItem?.id" marginBottom>
                    <ion-item lines="none" font-18 weight500 noMargin class="selectCaseItem" (click)="toggleFilter('free_question','notEmpty');onFiltersChanged()">
                        <ion-checkbox slot="start" [checked]="filterActive('free_question','notEmpty')" noPointerEvents (click)="check($event)"></ion-checkbox>
                        <ion-label>Heeft een open vraag</ion-label>
                    </ion-item>
                    <ion-item lines="none" font-18 weight500 noMargin class="selectCaseItem" (click)="toggleFilter('free_question','empty');onFiltersChanged()">
                        <ion-checkbox slot="start" [checked]="filterActive('free_question','empty')" noPointerEvents (click)="check($event)"></ion-checkbox>
                        <ion-label>Heeft geen open vraag</ion-label>
                    </ion-item>
                </div>

            </ion-col>

            <ion-content style="--background:none;">
                <ion-col [size]="media.smallDevice ? 12 : 9"  class="detailColumn">
                    <div *ngIf="!caseItem?.id && view=='cards'" >
                        <ion-row>
                            <!-- <ion-col [size]="helpers.cardSizeSmall" *ngFor="let caseItem of cases | caseFilter: currentFilterTypes.types : currentFilterTypes.subjectTypes : extraFilters.open_to_user | filterSearch : searchTerm : false : ['title']"> -->
                            <ion-col [size]="helpers.cardSizeSmall" *ngFor="let caseItem of visibleCases">
                                <ion-card noPadding pointer fullheight>
                                    <ion-card-content noPadding fullHeight>
                                        <div backgroundImage class="avatarImage" *ngIf="caseItem.photo" [ngStyle]="{'background-image': 'url(' + caseItem.photo + ')'}"></div>
                                        <div backgroundImage class="avatarImage" *ngIf="!caseItem.photo" [ngStyle]="{'background-image': 'url(assets/img/default_avatar.png)'}"></div>
                                        <div *ngIf="caseItem.avatarName" class="videoAvatarBadge">Video</div>
                                        <div class="orderRatingBadge" (click)="toggleOrderRating(caseItem)">{{caseItem.order_rating}}</div>
                                        <div *ngIf="!caseItem.avatarName" class="videoAvatarBadge" (click)="createPhoto(caseItem)">Genereer photo</div>
                                        <fa-icon class="translateBadge" *ngIf="!caseItem.translate" [icon]="icon.get('faGlobe')" (click)="startTranslation(caseItem)"></fa-icon>
                                        <fa-icon class="translateBadge" *ngIf="caseItem.translate" [icon]="icon.get('faCheck')" (click)="startTranslation(caseItem)"></fa-icon>
                                        <fa-icon class="freeQuestionBadge" *ngIf="caseItem.free_question" [icon]="icon.get('faQuestion')"></fa-icon>
                                        
                                        <div flex center center-ver center-hor style="height:calc(100% - 275px)">
                                            <ion-card-header>
                                                <ion-card-title font-18 weight600>{{caseItem.title}}</ion-card-title>
                                                <ion-card-subtitle font-14 weight400>{{caseItem.user_info | maxLength : 60 : true}}</ion-card-subtitle>
                                            </ion-card-header>
                                        </div>
                                        <div center flex center-ver center-hor>
                                            <ion-button class="saveButton creditButton" style="border-radius:100%" [ngStyle]="{'background':levelService.levelColor(caseItem.level)}" fill="outline" size="small">
                                                <div>
                                                    <div [ngStyle]="{'color':levelService.levelColorText(caseItem.level)}">{{caseItem.level}}</div>
                                                    <div font-12 [ngStyle]="{'color':levelService.levelColorTextLevel(caseItem.level)}">Level</div>
                                                </div>
                                            </ion-button>
                                            <ion-button class="saveButton cardButton" fill="outline" size="small" (click)="selectCasus(caseItem)">Edit case</ion-button>
                                        </div>
                                    </ion-card-content>
                                </ion-card>

                                <!-- <ion-card class="headerCard">
                                    <ion-card-header>
                                        <ion-card-title *ngIf="categoryInfo(conversationType.key)">{{ categoryInfo(conversationType.key).title }}</ion-card-title>
                                    </ion-card-header>
                                </ion-card>
                                <ion-card basicPadding pointer font16 weight700 tab *ngFor="let casus of conversationType.value;let i = index" [ngClass]="{'activeTab':caseItem.id==casus.id}" (click)="selectCasus(casus)">
                                    {{casus.title | capitalize}}
                                </ion-card> -->
                            </ion-col>
                            <ion-col [size]="helpers.cardSizeSmall" *ngIf="!(cases | caseFilter: currentFilterTypes.types : currentFilterTypes.subjectTypes : extraFilters.open_to_user | filterSearch : searchTerm : false : ['title','role','user_info','tags']).length">
                                <ion-card noPadding pointer fullheight>
                                    <ion-card-content noPadding fullHeight flex center-hor>
                                        <div flex center center-ver center-hor>
                                            <ion-card-header>
                                                <ion-card-title font-18 weight600>Geen resultaten</ion-card-title>
                                            </ion-card-header>
                                        </div>
                                    </ion-card-content>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                    </div>


                    <div *ngIf="!caseItem?.id && view=='list'" >

                        <table class="table">
                            <thead>
                                <tr>
                                    <th (dblclick)="toggleSortList('conversation')">Type <fa-icon [icon]="icon.get('faSort')" *ngIf="listSortBy=='conversation'"></fa-icon></th>
                                    <th (dblclick)="toggleSortList('title')">Titel <fa-icon [icon]="icon.get('faSort')" *ngIf="listSortBy=='title'"></fa-icon></th>
                                    <!-- <th (dblclick)="toggleSortList('role')">Role <fa-icon [icon]="icon.get('faSort')" *ngIf="listSortBy=='role'"></fa-icon></th> -->
                                    <th (dblclick)="toggleSortList('open_to_users')">Open voor Users <fa-icon [icon]="icon.get('faSort')" *ngIf="listSortBy=='open_to_users'"></fa-icon></th>
                                    <th (dblclick)="toggleSortList('openingMessage')">Opening Message <fa-icon [icon]="icon.get('faSort')" *ngIf="listSortBy=='openingMessage'"></fa-icon></th>
                                    <th (dblclick)="toggleSortList('translate')">Vertaald <fa-icon [icon]="icon.get('faSort')" *ngIf="listSortBy=='translate'"></fa-icon></th>
                                    <th (dblclick)="toggleSortList('free_question')">Vrije vraag <fa-icon [icon]="icon.get('faSort')" *ngIf="listSortBy=='free_question'"></fa-icon></th>
                                    <th (dblclick)="toggleSortList('photo')">Foto <fa-icon [icon]="icon.get('faSort')" *ngIf="listSortBy=='photo'"></fa-icon></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let caseItem of visibleCases | sortBy: listOrder : listSortBy" >
                                    <td>{{caseItem.conversation}}</td>
                                    <td pointer (dblclick)="editInput(caseItem,'title')">{{caseItem.title}}</td>
                                    <!-- <td pointer (dblclick)="editInput(caseItem,'role')">{{caseItem.role}}</td> -->
                                    <td>
                                        <ion-toggle color="primary" [(ngModel)]="caseItem.open_to_user" (ionChange)="update('open_to_user',false,caseItem)"></ion-toggle>
                                    </td>
                                    <td (dblclick)="editOpeningMessage(caseItem)">{{caseItem.openingMessage}}</td>
                                    <td (click)="caseItem.translate ? doNothing() : startTranslation(caseItem)">
                                        <fa-icon pointer [icon]="icon.get('faCheck')" *ngIf="caseItem.translate" text-success font-20></fa-icon>
                                        <fa-icon pointer [icon]="icon.get('faGlobeEurope')" *ngIf="!caseItem.translate" text-secondary font-20></fa-icon>
                                    </td>
                                    <td pointer (dblclick)="editInput(caseItem,'free_question')">{{caseItem.free_question}}</td>
                                    <td>
                                        <fa-icon pointer [icon]="icon.get('faCheck')" *ngIf="caseItem.photo" text-success font-20></fa-icon>
                                        <fa-icon pointer [icon]="icon.get('faTimes')" *ngIf="!caseItem.photo" text-danger font-20></fa-icon>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                            <!-- <ion-col [size]="helpers.cardSizeSmall" *ngFor="let caseItem of visibleCases"> -->


                    <ion-card basicPadding *ngIf="caseItem?.id">
                        <ion-card-header>
                            <ion-card-title flex center-ver>
                                <ion-input style="font-size:1.25rem" weight700 type="text" (ionChange)="update('title')" [(ngModel)]="caseItem.title"></ion-input>
                                <span class="spacer"></span>
                                <span style="color:rgba(0,0,0,0.4);text-transform:none">({{caseItem.id}})</span>
                                <fa-icon pointer titleIcon font-24 [icon]="icon.get('faGlobe')" (click)="startTranslation()"></fa-icon>
                            </ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-row>
                                <ion-col [size]="media.smallDevice ? 12 : 8">
                                    <ion-item lines="none" listCard>
                                        <ion-label position="stacked">Gespreks techniek</ion-label>
                                        <ion-select interface="popover" [disabled]="showBackups" [(ngModel)]="caseItem.conversation" (ionChange)="update('conversation')">
                                            <ion-select-option *ngFor="let cat of categories" [value]="cat.id">{{cat.title}}</ion-select-option>
                                        </ion-select>
                                    </ion-item>

                                    <ion-item lines="none" listCard (click)="selectTypes(caseItem.types)" class="ionItemTypes">
                                        <ion-label position="stacked">Typen</ion-label>
                                        <ion-row fullwidth>
                                            <ion-col size="4" *ngFor="let type of caseItem.types">
                                                <div class="typeItem">{{infoService.getConversationType('',type)[translate.currentLang]}}</div>
                                            </ion-col>
                                        </ion-row>
                                    </ion-item>
                        
                                    <ion-item lines="none" listCard>
                                        <ion-label position="stacked">Rol</ion-label>
                                        <ion-input [disabled]="showBackups" [(ngModel)]="caseItem.role" (ionChange)="update('role')"></ion-input>
                                    </ion-item>

                                    <ion-item lines="none" listCard>
                                        <ion-label position="stacked">photo</ion-label>
                                        <ion-input [disabled]="true" [(ngModel)]="caseItem.photo"></ion-input>
                                    </ion-item>
                                    <!-- <ion-item lines="none" listCard (click)="selectStreamingAvatar()">
                                        <ion-label position="stacked">Avatar ID</ion-label>
                                        <ion-input [disabled]="showBackups" [(ngModel)]="caseItem.avatarName" (ionChange)="update('avatarName')"></ion-input>
                                    </ion-item> -->
                                    
                                </ion-col>
                                <ion-col [size]="media.smallDevice ? 12 : 4">
                                    <ion-card pointer class="caseAvatar" (click)="selectAvatar($event)">
                                        <ion-card-content backgroundImage noPadding *ngIf="caseItem.photo" [ngStyle]="{'background-image': 'url(' + caseItem.photo + ')'}">
                                        </ion-card-content>
                                        <!-- <ion-card-content *ngIf="!caseItem.photo" flex center-ver center-hor>
                                            <fa-icon [icon]="icon.get('faImage')" size="10x"></fa-icon>
                                        </ion-card-content> -->
                                        <div fullwidth center-ver center-hor class="btnImgChange">
                                            <ion-button fill="solid" color="light" class="saveButton" noPointerEvents>
                                                <span text-dark>
                                                    <fa-icon [icon]="icon.get('faImage')"></fa-icon>
                                                    Foto
                                                </span>
                                            </ion-button>
                                            <ion-button fill="solid" color="light" class="saveButton" (click)="selectStreamingAvatar($event)">
                                                <span text-dark>
                                                    <fa-icon [icon]="icon.get('faVideo')"></fa-icon>
                                                    Video
                                                </span>
                                            </ion-button>
                                        </div>
                                    </ion-card>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <!-- <ion-col size="12">
                                    <ion-item lines="none" listCard>
                                        <ion-label position="stacked">Foto URL</ion-label>
                                        <ion-input [disabled]="showBackups" [(ngModel)]="caseItem.photo" (ionChange)="update('photo')"></ion-input>
                                    </ion-item>
                                </ion-col> -->
                                <ion-col size="6">
                                    <ion-item [disabled]="showBackups" lines="none" listCard>
                                        <ion-toggle color="primary" [(ngModel)]="caseItem.open_to_user" (ionChange)="update('open_to_user')">
                                            Open voor Users
                                        </ion-toggle>
                                    </ion-item>
                                    
                                    <ion-item lines="none" listCard>
                                        <!-- <ion-label position="stacked">Level</ion-label> -->
                                        <ion-label>
                                            Level 
                                            <span titleIcon *ngIf="caseItem.level">{{caseItem.level}}</span>
                                            <span titleIcon *ngIf="!caseItem.level">nog niet berekend</span>
                                        </ion-label>
                                        <ion-note slot="end" *ngIf="caseItem.analyzing_level" class="pulse-loader">Analyzing level...</ion-note>
                                        <fa-icon pointer slot="end" *ngIf="caseItem.level_explanation" [icon]="icon.get('faInfoCircle')" (click)="modalService.showText(caseItem.level_explanation,'Verklaring Level')"></fa-icon>
                                        <!-- <ion-input [disabled]="true" type="number" [min]="1" [max]="5" [(ngModel)]="caseItem.level"></ion-input> -->
                                    </ion-item>

                                    <ion-item lines="none" listCard>
                                        <ion-label position="stacked">age</ion-label>
                                        <ion-input [(ngModel)]="caseItem.age"></ion-input>
                                    </ion-item>

                                    <ion-item lines="none" listCard>
                                        <ion-label position="stacked">ethnicity</ion-label>
                                        <ion-input [(ngModel)]="caseItem.ethnicity"></ion-input>
                                    </ion-item>


                                </ion-col>

                                <ion-col size="6">
                                    <ion-item [disabled]="showBackups" lines="none" listCard>
                                        <ion-range [min]="1" [max]="100" [pin]="true"  color="primary" [(ngModel)]="caseItem.attitude" (ionChange)="update('attitude')">
                                            <ion-label style="font-size:14px" slot="start">Attitude</ion-label>
                                            <ion-label style="font-size:18px" slot="end">{{caseItem.attitude}}</ion-label>
                                        </ion-range>
                                    </ion-item>

                                    <ion-item [disabled]="showBackups" lines="none" listCard>
                                        <ion-range [min]="1" [max]="99" [pin]="true"  color="primary" [(ngModel)]="caseItem.steadfastness" (ionChange)="update('steadfastness')">
                                            <ion-label style="font-size:14px" slot="start">Steadfastness</ion-label>
                                            <ion-label style="font-size:18px" slot="end">{{caseItem.steadfastness}}</ion-label>
                                        </ion-range>
                                    </ion-item>

                                    <ion-item lines="none" listCard>
                                        <ion-label position="stacked">gender</ion-label>
                                        <ion-input [(ngModel)]="caseItem.gender"></ion-input>
                                    </ion-item>

                                </ion-col>

                                <ion-col size="6">
                                    <ion-item pointer lines="none" listCard class="ionItemTypes">
                                        <ion-label position="stacked">Tags</ion-label>
                                        <ion-input [(ngModel)]="caseItem.tag" (keydown.enter)="addTag()" (ionChange)="addTag()">
                                        <ion-button fill="solid" slot="end" [disabled]="!caseItem.tag" (click)="addTag()">
                                            <fa-icon [icon]="icon.get('faPlus')"></fa-icon>
                                        </ion-button>
                                        </ion-input>
                                        <div>
                                            <span *ngFor="let tag of caseItem.tags;let i = index">
                                                <div class="typeItem" center-ver center-hor>
                                                    <span>{{tag | uppercase}}</span>
                                                    <fa-icon [icon]="icon.get('faTimes')" trash titleIcon (click)="removeTag(i)"></fa-icon>
                                                </div>
                                            </span>
                                        </div>
                                    </ion-item>
                                </ion-col>

                                <ion-col size="6">
                                    <ion-item lines="none" listCard>
                                        <ion-label position="stacked">Hoe hoog op de lijst moet deze case staan</ion-label>
                                        <ion-input type="number" min="1" max="10" [(ngModel)]="caseItem.order_rating" (ionChange)="update('order_rating')"></ion-input>
                                    </ion-item>
                                </ion-col>

                                <ion-col size="12">

                                    <!-- <ion-item lines="none" listCard>
                                        <ion-label position="stacked">Attitude Type</ion-label>
                                        <ion-select interface="popover" [disabled]="showBackups" [(ngModel)]="caseItem.attitudeType" (ionChange)="update('attitudeType')">
                                            <ion-select-option *ngFor="let attitudeType of infoService.attitudeTypes" [value]="attitudeType.id">{{attitudeType.id}}</ion-select-option>
                                        </ion-select>
                                    </ion-item> -->

                                    
                                    
                                    <!-- <ion-item [disabled]="showBackups" lines="none" listCard>
                                    <ion-textarea rows="4" labelPlacement="floating" [autoGrow]="true" [(ngModel)]="caseItem.description" (ionChange)="update('description')">
                                        <div slot="label">Omschrijving</div>
                                    </ion-textarea>
                                    </ion-item> -->

                                    

                                    <ion-item [disabled]="showBackups" lines="none" listCard>
                                        <ion-textarea rows="4" labelPlacement="floating" [autoGrow]="true" [(ngModel)]="caseItem.user_info" (ionChange)="update('user_info')">
                                        <div slot="label">Korte informatie voor de gebruiker</div>
                                        </ion-textarea>
                                    </ion-item>         

                                    <ion-item [disabled]="showBackups" lines="none" listCard>
                                        <ion-textarea rows="4" labelPlacement="floating" [autoGrow]="true" [(ngModel)]="caseItem.free_question" (ionChange)="update('free_question')">
                                        <div slot="label">Vrije vraag</div>
                                        </ion-textarea>
                                    </ion-item>  

                                    <ion-item [disabled]="showBackups" lines="none" listCard>
                                        <ion-textarea rows="4" labelPlacement="floating" [autoGrow]="true" [(ngModel)]="caseItem.openingMessage" (ionChange)="update('openingMessage')">
                                        <div slot="label">Opening van gesprek</div>
                                        </ion-textarea>
                                    </ion-item>  

                                    <ion-item [disabled]="showBackups" lines="none" listCard>
                                        <ion-textarea rows="4" labelPlacement="floating" [autoGrow]="true" [(ngModel)]="caseItem.casus" (ionChange)="update('casus')">
                                        <div slot="label">Casus</div>
                                        </ion-textarea>
                                    </ion-item>                      
                                    
                                </ion-col>
                                    
                            </ion-row>

                            <!-- <ion-row *ngIf="caseItem?.editable_by_user">
                                <ion-col size="12">
                                    <div marginBottom font-18 weight600>Aanpasbaar voor de gebruiker</div>
                                </ion-col>
                                <ion-col size="editable.key!='goals' ? 0 : 4" *ngFor="let editable of caseItem.editable_by_user | keyvalue">
                                    <ion-item lines="none" listCard fullwidth *ngIf="editable.key!='goals'">
                                    <ion-toggle noMargin  [checked]="editable.value" color="primary" weight600 (ionChange)="onToggleChange(editable.key, $event)">{{editable.key}}</ion-toggle>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row *ngIf="caseItem?.editable_by_user">
                                <ion-col size="12">
                                    <div marginBottom font-18 weight600>Doelen</div>
                                </ion-col>
                                <ion-col size="4">
                                    <ion-item lines="none" listCard fullwidth>
                                        <ion-toggle noMargin fullwidth [(ngModel)]="caseItem.editable_by_user.goals.attitude" (ionChange)="update('editable_by_user')" color="primary">Houding van de gesprekspartner</ion-toggle>
                                    </ion-item>
                                </ion-col>
                                <ion-col size="4">
                                    <ion-item lines="none" listCard fullwidth>
                                        <ion-toggle noMargin fullwidth [(ngModel)]="caseItem.editable_by_user.goals.phases" (ionChange)="update('editable_by_user')" color="primary">Niveau van de verschillende fases</ion-toggle>
                                    </ion-item>
                                </ion-col>
                                <ion-col size="4">
                                    <ion-item lines="none" listCard fullwidth>
                                        <ion-toggle noMargin fullwidth [(ngModel)]="caseItem.editable_by_user.goals.free" (ionChange)="update('editable_by_user')" color="primary">Vrije tekst</ion-toggle>
                                    </ion-item>
                                </ion-col>

                            </ion-row> -->

                        </ion-card-content>
                    </ion-card>
                </ion-col>
                <ion-infinite-scroll (ionInfinite)="loadMore($event)">
                    <ion-infinite-scroll-content></ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </ion-content>
        </ion-row>
    </ion-grid>

</main>