<app-header title="Edit Categories"></app-header>
<main>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button fill="outline" (click)="savePhasesToInfo()">Save phases to public info</ion-button>
        <ion-button fill="outline" (click)="newCategory()">Nieuw</ion-button>
        <ion-button fill="outline" (click)="getBackups('categories')">Haal Backup</ion-button>
        <ion-button fill="outline" (click)="firestore.backup('categories',categories)">Maak Backup</ion-button>

      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <ion-card basicPadding pointer font16 weight700 tab *ngFor="let category of categories;let i = index" [ngClass]="{'activeTab':activeTab==i}" (click)="changeTab(i)">{{category.title}}</ion-card>
      </ion-col>
      <ion-col size="9">
        <ion-card *ngIf="activeTab==-1&&showNewCategory">
          <ion-item>
            <ion-input placeholder="Category title" [(ngModel)]="newCategoryTitle"></ion-input>
            <ion-button fill="outline" (click)="addCategory()">Add</ion-button>
          </ion-item>
        </ion-card>
          
        <ion-card basicPadding *ngIf="categories?.length>0&&activeTab>-1">
          <ion-card-header>
            <ion-card-title flex center-ver>
                <ion-input style="font-size:1.25rem" weight700 type="text" (ionChange)="update('title')" [(ngModel)]="categories[activeTab].title"></ion-input>
                <span class="spacer"></span>
                <ion-button fill="clear" (click)="deleteCategory()">
                    <fa-icon style="font-size:20px" [icon]="icon.get('faTrashAlt')" trash></fa-icon>
                </ion-button>
              </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none">
              <ion-textarea rows="4" labelPlacement="floating" [autoGrow]="true" [(ngModel)]="categories[activeTab].systemContent" (ionChange)="update('systemContent')">
                <div slot="label">System content</div>
              </ion-textarea>
              <ion-button fill="clear" color="warning" class="backupIcon" *ngIf="backupService.showBackups('categories')" (click)="getBackup(categories[activeTab].id,'systemContent')">
                <fa-icon [icon]="icon.get('faUndoAlt')" slot="icon-only"></fa-icon>
              </ion-button>
            </ion-item>
            <ion-item lines="none">
              <ion-textarea rows="4" labelPlacement="floating" [autoGrow]="true" [(ngModel)]="categories[activeTab].openingMessage" (ionChange)="update('openingMessage')">
                <div slot="label">Opening Message</div>
              </ion-textarea>
              <ion-button fill="clear" color="warning" class="backupIcon" *ngIf="backupService.showBackups('categories')" (click)="getBackup(categories[activeTab].id,'openingMessage')">
                <fa-icon [icon]="icon.get('faUndoAlt')" slot="icon-only"></fa-icon>
              </ion-button>
            </ion-item>
            <ion-item lines="none">
              <ion-textarea rows="4" labelPlacement="floating" [autoGrow]="true" [(ngModel)]="categories[activeTab].extraInfo" (ionChange)="update('extraInfo')">
                <div slot="label">Extra informatie voor de AI</div>
              </ion-textarea>
              <ion-button fill="clear" color="warning" class="backupIcon" *ngIf="backupService.showBackups('categories')" (click)="getBackup(categories[activeTab].id,'extraInfo')">
                <fa-icon [icon]="icon.get('faUndoAlt')" slot="icon-only"></fa-icon>
              </ion-button>
            </ion-item>
            <ion-card-header></ion-card-header>
            <div>
              <ion-card-title basicPadding weight700 flex fullwidth center-ver>
                Phases
              <span class="spacer"></span>
              <ion-button fill="clear" color="warning" class="backupIcon" *ngIf="backupService.showBackups('categories')" (click)="getBackup(categories[activeTab].id,'phases')">
                <fa-icon [icon]="icon.get('faUndoAlt')" slot="icon-only"></fa-icon>
              </ion-button>
              <fa-icon [icon]="icon.get('faPlus')" style="font-size:30px" (click)="addPhase()"></fa-icon>
              </ion-card-title>
              <ion-card basicPadding *ngFor="let phase of categories[activeTab].phases;let phase_index = index">
                <ion-item lines="none">
                  <ion-input font-16 weight600 placeholder="Phase title" [(ngModel)]="phase.title" (ionChange)="update('phases')"></ion-input>
                  <fa-icon slot="end" pointer [icon]="icon.get('faArrowUp')" (click)="movePhase(phase_index,-1)"></fa-icon>
                  <fa-icon slot="end" pointer [icon]="icon.get('faArrowDown')" (click)="movePhase(phase_index,1)"></fa-icon>
                  <fa-icon slot="end" pointer [icon]="icon.get('faTrashAlt')" trash (click)="removePhase(phase_index)"></fa-icon>
                </ion-item>
                <ion-item lines="none">
                  <ion-label position="stacked">Short title</ion-label>
                  <ion-input type="text" [(ngModel)]="phase.short" (ionChange)="update('phases')">
                  </ion-input>
                </ion-item>
                <ion-item lines="none">
                  <ion-textarea labelPlacement="floating" [(ngModel)]="phase.description" (ionChange)="update('phases')">
                    <div slot="label">Description</div>
                  </ion-textarea>
                </ion-item>
              </ion-card>
            </div>
            
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

</main>