

<!-- <ion-content paddingBasic> -->
  <div class="inner-content" fullheight>
    <div class="inner-shadow" fullheight>
      <div style="height: calc(100% - 70px);overflow:auto">
        <div class="toolbox-title" style="margin:10px;">
          <p class="subtitle-top" noMargin>{{title}}</p>
        </div>
        <!-- <h3 style="padding: 15px;color:var(--ion-color-secondary)" font-title>{{title}}</h3> -->
        <div style="padding: 0 15px;color:var(--color-global);margin-top:20px;line-height:1.5" *ngIf="text" [innerHtml]="text | sanitizeHtml">{{text}}</div>
  
        <ion-item pointer lines="full" *ngFor="let field of fields;let index=index" [ngClass]="{'pointer':field.type==='date'}" (click)="field.type==='date' ? selectDate(field.value,index,null,field.min,field.max) : (field.type==='select' ? selectItem(field.options,index,field.title,field.translate) :  doNothing())">
          
          <ion-thumbnail slot="start" *ngIf="field.lang" style="--size:30px;width:35px;height:25px;position: relative;top:5px">
            <img [src]="'./assets/img/'+field.value+'.png'" [alt]="field.value">
          </ion-thumbnail>
          <ion-checkbox slot="start" *ngIf="field.type==='checkbox'" [ngModelOptions]="{standalone: true}" [(ngModel)]="field.value"></ion-checkbox>
          <ion-label *ngIf="field.type==='checkbox'" class="ion-text-wrap" pointer [innerHtml]="field.title"></ion-label>
          <ion-icon name="checkmark-circle" slot="start" *ngIf="!field.type||field.type==='text'||field.type==='textarea'"></ion-icon>
          <ion-icon name="calendar" slot="start" *ngIf="field.type==='date'"></ion-icon>
          <ion-icon name="time" slot="start" *ngIf="field.type==='time'"></ion-icon>
          <ion-icon name="chevron-down" slot="start" *ngIf="field.type==='select'&&!field.lang"></ion-icon>
          <ion-icon name="mail" slot="start" *ngIf="field.type==='email'"></ion-icon>
          <ion-label *ngIf="!field.type||field.type==='text'||field.type==='textarea'||field.type==='range'||field.type==='email'" position="floating" [ngStyle]="{'pointer-events': field.html ? 'all' : 'none'}">
            {{field.title}}
            <span *ngIf="field.html" style="margin-left:10px;font-size:16px" (click)="editHtml(field)">
              <fa-icon [icon]="icons.get('faCode')" ></fa-icon>
            </span>
          
          </ion-label>
          <ion-label *ngIf="field.type==='date'&&!field.title" position="stacked">{{'date' | translate}}</ion-label>
          <ion-label *ngIf="field.type==='date'&&field.title" position="stacked">{{field.title}}</ion-label>
          <ion-label *ngIf="field.type==='time'" position="stacked">{{field.title}}</ion-label>
          <ion-label *ngIf="field.type==='select'" position="stacked" relative style="top:-10px">{{field.title}}</ion-label>
          <ion-input *ngIf="!field.type||field.type==='text'" [required]="field.required" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="field.value"></ion-input>
          <ion-input *ngIf="field.type==='email'" type="email" [required]="field.required" [ngModelOptions]="{standalone: true}" [(ngModel)]="field.value"></ion-input>
          <div flex *ngIf="field.type==='time'">
            <ion-input *ngIf="field.type==='time'" [required]="field.required" type="time" [ngModelOptions]="{standalone: true}" [(ngModel)]="field.value"></ion-input>
            <!-- <ion-input *ngIf="field.type=='time'" [required]="field.required" type="number" [ngModelOptions]="{standalone: true}" [(ngModel)]="field.value"></ion-input> -->
          </div>
          <!-- <ion-datetime displayFormat="H:mm" *ngIf="field.type=='time'" [required]="field.required" [ngModelOptions]="{standalone: true}" [(ngModel)]="field.value"></ion-datetime> -->
          <!-- <ion-select *ngIf="field.type=='select'" [ngModelOptions]="{standalone: true}" [(ngModel)]="field.value">
            <ion-select-option *ngFor="let option of field.options | keyvalue" [value]="option.key">{{option.key}}</ion-select-option>
          </ion-select> -->
          <ion-text *ngIf="field.type==='select'&&!field.translate&&!field.lang&&!field.keyvalue" relative style="top:-10px">{{field.value}}</ion-text>
          <ion-text *ngIf="field.type==='select'&&!field.translate&&!field.lang&&field.keyvalue" relative style="top:-10px">{{helpers[field.keyvalue](field.value)}}</ion-text>
          <ion-text *ngIf="field.type==='select'&&!field.translate&&field.lang&&field.value" relative style="top:-10px">{{'language_'+field.value | translate}}</ion-text>
          <ion-text *ngIf="field.type==='select'&&field.translate" relative style="top:-10px">{{field.value | translate}}</ion-text>
          <ion-textarea *ngIf="field.type==='textarea'" rows="3"  type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="field.value" placeholder="Voeg hier eventuele informatie toe"></ion-textarea>
          <div *ngIf="field.type==='date'" [innerHtml]="!field.value ? '' : formattedDate(field.value)" style="padding:10px 0px;"></div>
          <div *ngIf="field.type==='range'" flex fullWidth>
            <div class='questionNumber' *ngIf="field.value">{{field.value}}</div>
            <div class='questionNumber' *ngIf="!field.value||field.value==0">0</div>
            <ion-range color='danger' [min]="0" [max]="100" [ngModelOptions]="{standalone: true}" [(ngModel)]="field.value"></ion-range>
            <!-- <div class='questionNumber'>100</div> -->
          </div>
          <div *ngIf="field.type==='header'">
            <h3 style="color:var(--ion-color-primary);padding:0!important" font-title>{{field.title}}</h3>
          </div>
          <!-- <ion-input *ngIf="field.type=='date'" type="date" placeholder="Selecteer een datum" (click)="selectDate(field.value,index)"  [ngModelOptions]="{standalone: true}" [(ngModel)]="field.value"></ion-input> -->
          <!-- <ion-input *ngIf="field.type=='date'" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="field.value"></ion-input> -->
          <!-- <ionic-calendar-date-picker *ngIf="field.type=='date'" (onSelect)="dateSelected($event)"></ionic-calendar-date-picker> -->
  
          <!-- <ion-datetime *ngIf="field.type=='date'" [(ngModel)]="field.value"
          displayFormat="D MMM YYYY"
          monthShortNames="jan, feb, mar, apr, mei, jun, jul, aug, sep, okt, nov, dec"></ion-datetime> -->
          
        </ion-item>
  
        <div flex center-hor paddingBasic>
          <ion-button fill="clear" color="secondary" (click)="modal.dismiss()" >
            {{'buttons.cancel' | translate}}
          </ion-button>
          <span class="spacer"></span>
          <ion-button btnNormal *ngIf="extraData&&extraData.delete" color="danger" (click)="deleteItem()" >
            {{'buttons.delete' | translate}}
          </ion-button>
          <span class="spacer"></span>
          <ion-button btnNormal color="tertiary" (click)="save()" >
            {{'buttons.ok' | translate}}
          </ion-button>
        </div>
      </div>
    </div>
  </div>
  <!-- </ion-content> -->
  