

<!-- <ion-content paddingBasic> -->
  <div class="inner-content" fullheight>
    <div fullheight>
      <div style="height: calc(100% - 70px);overflow:auto;">
        
        <h3 style="padding: 0 15px;color:var(--color-global)" font-20>{{title | uppercase}}</h3>
        <!-- <h3 style="padding: 15px;color:var(--ion-color-secondary)" font-title>{{title}}</h3> -->
        <div style="padding: 0 15px;color:var(--color-global);margin-top:20px;line-height:1.5;margin-bottom:20px;" *ngIf="text" [innerHtml]="text | sanitizeHtml">{{text}}</div>
        <div style="padding:15px 0px;background-color:white;border-radius:16px;margin-bottom:10px" *ngIf="fields.length>0">
          <ion-item detail="false" pointer lines="full" *ngFor="let field of fields;let index=index" [ngClass]="{'pointer':field.type==='date'}" (click)="field.type==='date' ? selectDate(field.value,index,null,field.min,field.max) : (field.type==='selectModal' ? selectItem(field.options,index,field.title,field.translate) :  doNothing())">
            
            <ion-label position="stacked" class="maxLength" *ngIf="field.type=='html' && field.maxLength">{{field.value?.length || 0}} / {{field.maxLength}}</ion-label>

            <ion-thumbnail slot="start" *ngIf="field.lang" style="--size:30px;width:35px;height:25px;position: relative;top:5px">
              <img [src]="'./assets/img/'+field.value+'.png'" [alt]="field.value">
            </ion-thumbnail>
            <ion-checkbox mode="md" slot="start" *ngIf="field.type==='checkbox'" [ngModelOptions]="{standalone: true}" [(ngModel)]="field.value"></ion-checkbox>
            <ion-label *ngIf="field.type==='checkbox'" class="ion-text-wrap" pointer [innerHtml]="field.title"></ion-label>
            <!-- <ion-icon name="checkmark-circle" slot="start" *ngIf="!field.type||field.type==='text'||field.type==='textarea'"></ion-icon>
            <ion-icon name="calendar" slot="start" *ngIf="field.type==='date'"></ion-icon>
            <ion-icon name="time" slot="start" *ngIf="field.type==='time'"></ion-icon>
            <ion-icon name="toggle" slot="start" *ngIf="field.type==='toggle'"></ion-icon>
            <ion-icon name="keypad" slot="start" *ngIf="field.type==='number'"></ion-icon>
            <ion-icon name="chevron-down" slot="start" *ngIf="(field.type==='select'||field.type=='selectModal')&&!field.lang"></ion-icon>
            <ion-icon name="mail" slot="start" *ngIf="field.type==='email'"></ion-icon> -->
            <ion-label *ngIf="!field.type||field.type==='text'||field.type==='textarea'||field.type==='range'||field.type==='email'" position="floating" [ngStyle]="{'pointer-events': field.html ? 'all' : 'none'}">
              {{field.title}}
              <span *ngIf="field.html" style="margin-left:10px;font-size:16px" (click)="editHtml(field)">
                <fa-icon [icon]="icons.get('faCode')" ></fa-icon>
              </span>
            
            </ion-label>
            <ion-label *ngIf="field.type==='date'&&!field.title" position="stacked">{{'date' | translate}}</ion-label>
            <ion-label *ngIf="field.type==='date'&&field.title" position="stacked">{{field.title}}</ion-label>
            <ion-label *ngIf="field.type==='time'" position="stacked">{{field.title}}</ion-label>
            <ion-label *ngIf="field.type==='number'" position="stacked">{{field.title}}</ion-label>
            <ion-label *ngIf="field.type==='select'||field.type=='selectModal'" position="stacked" relative style="top:-10px">{{field.title}}</ion-label>
            <ion-input *ngIf="!field.type||field.type==='text'" [placeholder]="field.placeholder || ''" [required]="field.required" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="field.value"></ion-input>
            <ion-input *ngIf="field.type==='email'" type="email" inputmode="email" [required]="field.required" [ngModelOptions]="{standalone: true}" [(ngModel)]="field.value"></ion-input>
            <div flex *ngIf="field.type==='time'">
              <ion-input *ngIf="field.type==='time'" [required]="field.required" type="time" [ngModelOptions]="{standalone: true}" [(ngModel)]="field.value"></ion-input>
            </div>
            <ion-input *ngIf="field.type=='number'" [required]="field.required" type="number" [ngModelOptions]="{standalone: true}" [(ngModel)]="field.value" ></ion-input>
            <!-- <ion-datetime displayFormat="H:mm" *ngIf="field.type=='time'" [required]="field.required" [ngModelOptions]="{standalone: true}" [(ngModel)]="field.value"></ion-datetime> -->
            <input hidden #fileInput *ngIf="field.type=='file'" (change)="onFileSelected($event)" [required]="field.required" type="file" [accept]="field.fileTypes ? field.fileTypes : ''" [ngModelOptions]="{standalone: true}" [(ngModel)]="field.value" />
            <div *ngIf="field.type === 'file'" class="file-field" fullwidth flex center-ver>
              <ion-button (click)="triggerFileInputClick()">{{'buttons.attachment' | translate}}</ion-button>
              <ion-label titleIcon *ngIf="fileField.name">{{ fileField.name }}</ion-label>
              <div class="spacer"></div>
              <ion-icon titleIcon font-20 *ngIf="field.value" name="close-circle" (click)="clearFile(field)"></ion-icon>
            </div>
            <ion-select *ngIf="field.type=='select'&&!field.optionKeys" interface="popover"  [ngModelOptions]="{standalone: true}" [(ngModel)]="field.value">
              <ion-select-option *ngFor="let option of field.options" [value]="option">{{option}}</ion-select-option>
            </ion-select>
            <ion-select mode="md" *ngIf="field.type=='select'&&field.optionKeys" interface="popover"  [ngModelOptions]="{standalone: true}" [(ngModel)]="field.value">
              <ion-select-option style="color:#204289;--color:#204289" mode="md" *ngFor="let option of field.optionKeys" [value]="option.value">{{option.title}}</ion-select-option>
            </ion-select>
            <ion-text *ngIf="field.type==='selectModal'&&!field.translate&&!field.lang&&!field.keyvalue" relative style="top:-10px">{{field.value}}</ion-text>
            <ion-text *ngIf="field.type==='selectModal'&&!field.translate&&!field.lang&&field.keyvalue" relative style="top:-10px">{{helpers[field.keyvalue](field.value)}}</ion-text>
            <ion-text *ngIf="field.type==='selectModal'&&!field.translate&&field.lang&&field.value" relative style="top:-10px">{{'language_'+field.value | translate}}</ion-text>
            <ion-text *ngIf="field.type==='selectModal'&&field.translate" relative style="top:-10px">{{field.value | translate}}</ion-text>
            <ion-textarea *ngIf="field.type==='textarea'" style="padding-left: 0 !important;" [rows]="field.rows || 6"  type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="field.value" [placeholder]="field.placeholder ? field.placeholder : ''"></ion-textarea>
            
            <ion-toggle *ngIf="field.type==='toggle'" style="color:var(--color-global)" [ngModelOptions]="{standalone: true}" [(ngModel)]="field.value">
              {{field.title}}
            </ion-toggle>
            
            <div *ngIf="field.type==='date'" [innerHtml]="!field.value ? '' : formattedDate(field.value)" style="padding:10px 0px;"></div>
            <div *ngIf="field.type==='range'" flex fullWidth>
              <div class='questionNumber' *ngIf="field.value">{{field.value}}</div>
              <div class='questionNumber' *ngIf="!field.value||field.value==0">0</div>
              <ion-range color='danger' [min]="0" [max]="100" [ngModelOptions]="{standalone: true}" [(ngModel)]="field.value"></ion-range>
              <!-- <div class='questionNumber'>100</div> -->
            </div>
            <div *ngIf="field.type==='header'">
              <h3 style="color:var(--ion-color-primary);padding:0!important" font-title>{{field.title}}</h3>
            </div>

            <quill-editor *ngIf="!showHtml&&field.type=='html'" [(ngModel)]="field.value" [modules]="configModules"></quill-editor>
            <ion-toolbar *ngIf="showHtml" style="padding-left:10px;">
              <ion-buttons slot="start">
                <ion-button (click)="showEditor()">
                  <fa-icon [icon]="icons.get('faArrowLeft')" slot="start">keyboard_arrow_left</fa-icon>
                  Terug
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
            <textarea *ngIf="showHtml&&field.type=='html'" class="pureHtml" [(ngModel)]="field.value"></textarea>

          </ion-item>
        </div>
        <div flex center-hor paddingBasic>
          <ion-button fill="clear" color="secondary" (click)="modalController.dismiss()" >
            {{'buttons.cancel' | translate}}
          </ion-button>
          <span class="spacer"></span>
          <ion-button btnNormal *ngIf="extraData&&extraData.delete" color="danger" (click)="deleteItem()" >
            {{'buttons.delete' | translate}}
          </ion-button>

          <div *ngIf="extraData&&extraData.buttons">
            <ion-button [ngStyle]="{'margin-right': !last ? '8px' : '0'}" *ngFor="let button of extraData.buttons;let last = last" [fill]="button.fill ? button.fill : 'clear'" btnNormal [color]="button.color" (click)="button.action ? action(button.action) : doNothing()" >
              {{button.title | translate}}
            </ion-button>
          </div>

          <span class="spacer"></span>
          <ion-button btnNormal color="tertiary" (click)="save()" >
            {{'buttons.ok' | translate}}
          </ion-button>
        </div>
      </div>
    </div>
  </div>
  <!-- </ion-content> -->
  