<ion-header>
  <ion-toolbar>
    
    <div style="width:100%;height:45px" center-hor flex>
      <div style="max-width: 1350px;width:100%;padding:0px 15px" flex center-ver>       
        <div flex center-ver center-left slot="start">
          <!-- <img src="assets/icon/favicon_white.png" style="width: 30px; height: 30px; margin-right: 10px;"> -->
                   <!-- <ion-buttons slot="start" flex center-ver> -->
        <ion-buttons slot="start" flex center-ver *ngIf="back">
          <ion-button (click)="nav.go('start')" size="large">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
          <img src="assets/icon/logo_full_black_sm.png" style="margin-right: 10px;height:30px;min-width:135px;" *ngIf="media.screenSize!='sm'">
          <img src="assets/icon/logo_single_black.png" style="margin-right: 10px;height:30px;min-width:30px;" *ngIf="media.screenSize=='sm'">
          <!-- <div style="font-size: 24px;" *ngIf="title">{{title | uppercase}}</div> -->
        </div>
        <div class="menuList" *ngIf="!media.smallDevice&&!noMenuList && countShowPages">
          <div *ngFor="let item of menuItems">
            <div class="menuItem" (click)="item.url ? nav.go(item.url) : action(item)" [ngClass]="{'activeMenuItem':page==item.page}" *ngIf="shouldShowPage(item)">
              <span>{{item.title}}</span>
              <ion-icon *ngIf="item.dropDown" name="caret-down" class="dropDownIcon"></ion-icon>
            </div>
          </div>
        </div>

        

        <span class="spacer"></span>
        
        <ion-buttons slot="end" flex center-ver >
          <ion-button id="headerButtonCredits" *ngIf="!noMenuList && isVerified" [color]="credits.total>0 ? 'success' : 'danger'" class="creditsButton" fill="outline"  (click)="inactiveCredits ? doNothing() :  nav.go('account/credits')">
            <span *ngIf="credits.total">{{auth.credits.total}} <span *ngIf="!media.smallDevice">credits</span></span>
            <span *ngIf="!credits.total">0 <span *ngIf="!media.smallDevice">credits</span></span>
          </ion-button>
          <ion-button color="secondary" id="header_menu" (click)="openFeedback()" size="large" *ngIf="!noMenuList">
            <ion-icon name="chatbubble-ellipses" noMargin slot="end" style="font-size: 32px;"></ion-icon>
          </ion-button>
          <ion-button color="secondary" id="header_menu" (click)="showshortMenu($event)" size="large" *ngIf="!noMenuList">
            <ion-icon name="person-circle" noMargin slot="end" style="font-size: 32px;"></ion-icon>
          </ion-button>

          <ion-button color="primary" (click)="buttonClick($event)" size="large" *ngIf="button">
            <ion-icon [name]="button" noMargin slot="end" style="font-size: 24px;"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </div>
  </ion-toolbar>
  <ng-content></ng-content>
</ion-header>