
<ul>
  <li [class]="class" [ngClass]="{'notAchieved': !achieved}">
      <div class="icon" [ngStyle]="{'margin-bottom':achieved ? '0' : '-60px','margin-top':achieved ? '0' : '-20px'}"><fa-icon *ngIf="achievement_icon" [icon]="icon.get(achievement_icon)"></fa-icon></div>
      <div *ngIf="achieved" class="title" [innerHtml]="title"></div>
      <div *ngIf="achieved" class="descr" [innerHTML]="text"></div>
  </li>
   <!-- <li style="--accent-color:#1286A8">
      <div class="icon">
        <fa-icon [icon]="icon.get('faUser')"></fa-icon>
      </div>
      <div class="title">HTML 5</div>
      <div class="descr">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
  </li>
  <li style="--accent-color:#D2B53B">
      <div class="icon"><i class="fa-brands fa-css3"></i></div>
      <div class="title">CSS 3</div>
      <div class="descr">Lorem ipsum dolor sit.</div>
  </li>
  <li style="--accent-color:#DA611E">
      <div class="icon"><i class="fa-brands fa-js"></i></div>
      <div class="title">Javascript</div>
      <div class="descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor laboriosam odio alias.</div>
  </li>
  <li style="--accent-color:#AC2A1A">
      <div class="icon"><i class="fa-brands fa-github"></i></div>
      <div class="title">Github</div>
      <div class="descr">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
  </li>
</ul> -->