<app-header title="Edit info"></app-header>
<main>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button fill="outline" (click)="firestore.backup('public_info',info)">Backup</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <ion-card basicPadding pointer font16 weight700 tab *ngFor="let infoItem of info;let i = index" [ngClass]="{'activeTab':activeTab==i}" (click)="changeTab(i)">{{infoItem.id | capitalize}}</ion-card>
      </ion-col>
      <ion-col size="9">
        <ion-card basicPadding *ngIf="info?.length>0">
          <ion-card-header>
            <ion-card-title>
                {{info[activeTab].id | capitalize}}
                <!-- <ion-input style="font-size:1.25rem" weight700 type="text" (ionChange)="update('title')" [(ngModel)]="info[activeTab].title"></ion-input> -->
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none">
              <ion-textarea rows="4" labelPlacement="floating" [autoGrow]="true" [(ngModel)]="info[activeTab].intro" (ionChange)="update('intro')">
                <div slot="label">Algemene Inleiding</div>
              </ion-textarea>
            </ion-item>
            <ion-item lines="none">
              <ion-textarea rows="4" labelPlacement="floating" [autoGrow]="true" [(ngModel)]="info[activeTab].background" (ionChange)="update('background')">
                <div slot="label">Achtergrond informatie</div>
              </ion-textarea>
            </ion-item>
            <ion-item lines="none">
              <ion-textarea rows="4" labelPlacement="floating" [autoGrow]="true" [(ngModel)]="info[activeTab].intro_phases" (ionChange)="update('intro_phases')">
                <div slot="label">Inleiding Fases</div>
              </ion-textarea>
            </ion-item>
            <ion-item lines="none" *ngIf="info[activeTab].phases">
              <ion-label>Fases, zijn aanwezig, en kunnen worden aangepast bij de categorieën. Sla ze daar op als public info</ion-label>
            </ion-item>

          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

</main>