<app-header page="trainer"></app-header>
<main>
    <ion-toolbar class="buttonBar">
        <ion-buttons slot="end">
          <ion-button fill="outline" class="saveButton" color="primary" (click)="newCourse()">Nieuw</ion-button>
        </ion-buttons>
    </ion-toolbar>
    <div class="buttonBarMargin"></div>
  <ion-grid>
    <ion-row fullheight>
        <ion-col size="12">

          <ion-card style="margin:10px 0px;" basicPadding *ngFor="let course of active_courses;let i = index" flex>
            <div class="courseImage">
              <img [src]="course.photo" alt="" marginBottom>
              <span class="spacers"></span>
              <div class="coursePrice" center *ngIf="course.show">
                <span>{{helpers.currencyChar(course.currency)}}</span> <span>{{course.price | number : '1.2-2'}}</span>
              </div>
            </div>
            <div class="courseDetails">
                <ion-card-title flex center-ver>
                  <span>{{course.title}}</span>
                  <span class="spacer"></span>
                <fa-icon [icon]="icon.get('faBars')" pointer font-24 titleIcon (click)="log(course)"></fa-icon>
                <fa-icon [icon]="icon.get('faChevronDown')" pointer font-24 titleIcon class="chevron" [ngClass]="{'upsideDown':course.show}" (click)="course.show = !course.show"></fa-icon>
                </ion-card-title>
               <div>
                <p [innerHTML]="course.description | maxLength : (course.show ? 0 : 200) : !course.show"></p>
               </div>
               <div *ngIf="!course.show">
                  <!-- <div [innerHTML]="((course.items?.length ? course.items.length : 0) + ' onderdelen') | uppercase" font-16 text-secondary></div> -->
                  <ion-card basicPadding flex center-ver>
                    <fa-icon [icon]="icon.get('faList')" font-24></fa-icon>
                    <div style="margin-left: 10px;">
                      <ion-card-title [innerHTML]="((course.items?.length ? course.items.length : 0) + ' onderdelen') | uppercase"></ion-card-title>
                    </div>
                  </ion-card>

                  <ion-card basicPadding flex center-ver>
                    <fa-icon [icon]="icon.get('faUsers')" font-24></fa-icon>
                    <div style="margin-left: 10px;">
                      <ion-card-title [innerHTML]="((course.users?.length ? course.users.length : 0) + ' gebruikers') | uppercase"></ion-card-title>
                    </div>
                  </ion-card>

               </div>
               <div *ngIf="course.show">
                <div *ngFor="let item of course.items">
                  <ion-card basicPadding flex center-ver>
                    <ion-thumbnail >
                      <img [src]="item.photo" alt="">
                    </ion-thumbnail>
                    <div style="margin-left: 10px;">
                      <ion-card-title>{{item.title}}</ion-card-title>
                      <ion-card-subtitle>{{item.user_info | maxLength : 100 : true}}</ion-card-subtitle>
                    </div>
                  </ion-card>
                </div>
              </div>
              <div>
                <ion-card basicPadding flex center-ver style="margin:0px 10px;">
                  <ion-card-title text-secondary>Directe code: {{course.id}}</ion-card-title>
                </ion-card>
              </div>
              <span class="spacer"></span>
               <!-- <div flex>
                <div class="coursePrice">
                  <span>{{helpers.currencyChar(course.currency)}}</span> <span>{{course.price | number : '1.2-2'}}</span>
                </div>
                <span class="spacer"></span>
               </div> -->
            </div>
            
          </ion-card>

        </ion-col>
    </ion-row>
  </ion-grid>
</main>