ion-textarea{
    border:0;
    --border:0;
    --highlight-height:0;
}
.detailColumn{
    ion-card{
        background: white;
        border-radius: 16px;
    }
}
.block:hover{
    outline:solid 2px var(--ion-color-primary);
}
.selectedBlock{
    outline:solid 2px var(--ion-color-primary);
}
.editButtons{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index:10;
    fa-icon{
        font-size: 24px;
        margin: 0;
        color: var(--ion-color-secondary-contrast);
        cursor: pointer;
        background: var(--ion-color-secondary);
        padding: 5px;
        border: solid 1px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    [trash]{
        background-color: var(--ion-color-danger);
    }
}
.selectColumn,
.contentColumn,
.detailColumn {
    height: 100%;  // Zorg dat de kolommen de volledige hoogte van hun container hebben
    overflow-y: auto;  // Activeer verticale scroll wanneer nodig
    overflow-x: hidden;
    padding-right: 10px;  // Optionele padding voor scrollbalk
    max-height:calc(var(--vh, 1vh) * 100 - 81px);
    padding-bottom:20px;
}

.mailPreviewCard{
    max-width:600px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  
    padding: 20px;
}
.headerDefault {
    text-align: center;
    padding: 20px 0;
    img {
        width: 150px;
    }
}
.footer{
    text-align:center;
    margin-top:20px;
    padding-top:10px;
    font-size:12px;
    color:#888;
    a{
        color:var(--ion-color-primary);
        text-decoration:underline;
    }
}