<ion-header noPrint>
  <ion-toolbar>
    
    <div style="width:100%;" [ngStyle]="{'height':!media.smallDevice ? '45px' : '45px'}" center-hor flex >
      <div style="max-width: 1350px;width:100%" flex center-ver>  
        <div flex center-ver center-left style="padding: 0px 15px;">
          <img src="assets/icon/logo_full_black_sm.png" style="height: 30px; margin-right: 10px;min-width:136px;">
        </div>
        

        <span class="spacer"></span>

        
        
        <ion-buttons slot="end" flex center-ver style="margin-right: 15px;">

          <ion-button (click)="close()" size="large">
            <fa-icon [icon]="icon.get('faTimes')"></fa-icon>
          </ion-button>

        </ion-buttons>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<main>
  
   <ion-row>
      <ion-col [size]="3" class="selectColumn" style="padding-top:15px;">

          <div style="background:white;padding:10px 0px;border-radius:16px;margin-bottom:15px;" class="notActiveItem" >
            <h3 style="padding-left:15px" font-24>{{'design_mail.insert_title' | translate}}</h3>
            <ion-item detail="false" lines="none" button (click)="add('text')" class="itemButton" [detail]="false">
              <div font-20 weight500>{{'design_mail.add_text' | translate}}</div>
              <div style="width:30px;text-align:center;" [slot]="'end'">
                <fa-icon font-24 titleIcon [icon]="icon.get('faPen')"></fa-icon>
              </div>
            </ion-item>

            <ion-item detail="false" lines="none" button (click)="add('image')" class="itemButton" [detail]="false">
              <div font-20 weight500>{{'design_mail.add_image' | translate}}</div>
              <div style="width:30px;text-align:center;" [slot]="'end'">
                <fa-icon font-24 titleIcon [icon]="icon.get('faImage')"></fa-icon>
              </div>
            </ion-item>

            <ion-item detail="false" lines="none" button (click)="add('divider')" class="itemButton" [detail]="false">
              <div font-20 weight500>{{'design_mail.add_divider' | translate}}</div>
              <div style="width:30px;text-align:center;" [slot]="'end'" >
                <fa-icon font-24 titleIcon [icon]="icon.get('faMinus')"></fa-icon>
              </div>
            </ion-item>

            <ion-item detail="false" lines="none" button (click)="add('spacer')" class="itemButton" [detail]="false">
              <div font-20 weight500>{{'design_mail.add_spacer' | translate}}</div>
              <div style="width:30px;text-align:center;" [slot]="'end'" >
                <fa-icon font-24 titleIcon [icon]="icon.get('faArrowsAltV')"></fa-icon>
              </div>
            </ion-item>

            <ion-item detail="false" lines="none" button (click)="add('button')" class="itemButton" [detail]="false">
              <div font-20 weight500>{{'design_mail.add_button' | translate}}</div>
              <div style="width:30px;text-align:center;" [slot]="'end'">
                <fa-icon font-24 titleIcon [icon]="icon.get('faMousePointer')"></fa-icon>
              </div>
            </ion-item>

            <ion-item detail="false" lines="none" button (click)="add('table')" class="itemButton" [detail]="false">
              <div font-20 weight500>{{'design_mail.add_table' | translate}}</div>
              <div style="width:30px;text-align:center;" [slot]="'end'">
                <fa-icon font-24 titleIcon  [icon]="icon.get('faTable')"></fa-icon>
              </div>
            </ion-item>

            <ion-item detail="false" lines="none" button (click)="add('caseCard')" class="itemButton" [detail]="false">
            <div font-20 weight500>{{'design_mail.add_case_card' | translate}}</div>
              <div style="width:30px;text-align:center;" [slot]="'end'">
                <fa-icon font-24 titleIcon [icon]="icon.get('faGripHorizontal')"></fa-icon>
              </div>
            </ion-item>
  
          </div>

          <div style="background:white;padding:10px 0px;border-radius:16px;margin-bottom:15px;" class="notActiveItem" *ngIf="selectedBlockIndex !== -1 && mailItem.content[selectedBlockIndex].type=='text'">
            <h3 style="padding-left:15px" font-24>{{'design_mail.add_personal_title' | translate}}</h3>
            <ion-item detail="false" lines="none" button (click)="addPersonalTag($event)" class="itemButton" [detail]="false">
              <div font-20 weight500>{{'design_mail.add_personal_tag' | translate}}</div>
              <div style="width:30px;text-align:center;" [slot]="'end'">
                <fa-icon font-24 titleIcon [icon]="icon.get('faUser')"></fa-icon>
              </div>
            </ion-item>
          </div>

          <div style="background:white;padding:10px 0px;border-radius:16px;margin-bottom:15px;" class="notActiveItem" *ngIf="selectedBlockIndex !== -1 && mailItem.content[selectedBlockIndex]">
            <h3 style="padding:0px 15px" font-24 flex center-ver fullwidth>
              <span>{{'design_mail.settings_title' | translate}}</span>
              <div class="spacer"></div>
              <fa-icon button titleIcon [icon]="icon.get('faTimes')" pointer (click)="clearSelectedBlock()" ></fa-icon>
            </h3>

            <ion-item detail="false" lines="none" style="margin-bottom: 5px;" class="itemButton" [detail]="false" *ngIf="showIf(['caseCard'])">
              <ion-label font-20 weight700>{{'design_mail.title' | translate}}</ion-label>
            </ion-item>
            <ion-item detail="false" lines="none" style="margin-bottom: 5px;" class="itemButton" [detail]="false" *ngIf="showIf(['caseCard'])">
                <ion-input type="text" borderSecondary borderRadius16 [(ngModel)]="fieldTitle" placeholder="{{'design_mail.title' | translate}}" (ionChange)="save()" style="margin: 0 10px;text-align: center;">
                </ion-input>
            </ion-item>

            <ion-item detail="false" lines="none" style="margin-bottom: 5px;" class="itemButton" [detail]="false" *ngIf="showIf(['caseCard'])">
              <ion-label font-20 weight700>{{'design_mail.subtitle' | translate}}</ion-label>
            </ion-item>
            <ion-item detail="false" lines="none" style="margin-bottom: 5px;" class="itemButton" [detail]="false" *ngIf="showIf(['caseCard'])">
                <ion-input type="text" borderSecondary borderRadius16 [(ngModel)]="fieldUserInfo" placeholder="{{'design_mail.subtitle' | translate}}" (ionChange)="save()" style="margin: 0 10px;text-align: center;">
                </ion-input>
            </ion-item>

            <ion-item detail="false" lines="none" style="margin-bottom: 5px;" class="itemButton" [detail]="false" *ngIf="showIf(['caseCard'])">
              <ion-label font-20 weight700>{{'design_mail.button_text' | translate}}</ion-label>
            </ion-item>
            <ion-item detail="false" lines="none" style="margin-bottom: 5px;" class="itemButton" [detail]="false" *ngIf="showIf(['caseCard'])">
                <ion-input type="text" borderSecondary borderRadius16 [(ngModel)]="fieldText" placeholder="{{'design_mail.button_text' | translate}}" (ionChange)="save()" style="margin: 0 10px;text-align: center;">
                </ion-input>
            </ion-item>

            <ion-item detail="false" lines="none" style="margin-bottom: 5px;" class="itemButton" [detail]="false" *ngIf="showIf(['button'])">
              <ion-label font-20 weight700>{{'design_mail.text_label' | translate}}</ion-label>
            </ion-item>
            <ion-item detail="false" lines="none" style="margin-bottom: 5px;" class="itemButton" [detail]="false" *ngIf="showIf(['button'])">
                <ion-input type="text" borderSecondary borderRadius16 [(ngModel)]="fieldText" placeholder="{{'design_mail.button_click_here' | translate}}" (ionChange)="save()" style="margin: 0 10px;text-align: center;">
                </ion-input>
            </ion-item>

            <ion-item detail="false" lines="none" style="margin-bottom: 5px;" class="itemButton" [detail]="false" *ngIf="showIf(['image','caseCard'])">
              <ion-label font-20 weight700>{{'design_mail.src_label' | translate}}</ion-label>
            </ion-item>
            <ion-item detail="false" lines="none" style="margin-bottom: 5px;" class="itemButton" [detail]="false" *ngIf="showIf(['image','caseCard'])">
                <ion-input type="text" borderSecondary borderRadius16 [(ngModel)]="fieldSrc" placeholder="https://example.com/image.jpg" (ionChange)="save()" style="margin: 0 10px;text-align: center;">
                </ion-input>
            </ion-item>


            <ion-item detail="false" lines="none" style="margin-bottom: 5px;" class="itemButton" [detail]="false" *ngIf="showIf(['button', 'image','caseCard'])">
              <ion-label font-20 weight700>{{'design_mail.url_label' | translate}}</ion-label>
            </ion-item>
            <ion-item detail="false" lines="none" style="margin-bottom: 5px;" class="itemButton" [detail]="false" *ngIf="showIf(['button', 'image','caseCard'])">
                <ion-input type="text" borderSecondary borderRadius16 [(ngModel)]="fieldUrl" placeholder="https://example.com" (ionChange)="save()" style="margin: 0 10px;text-align: center;">
                </ion-input>
            </ion-item>

            <ion-item detail="false" lines="none" class="itemButton" [detail]="false" *ngIf="showIf(['button'])">
              <ion-label font-20 weight700>{{'design_mail.button_type_label' | translate}}</ion-label>
            </ion-item>

            <ion-item detail="false" lines="none" class="itemButton" [detail]="false" *ngIf="showIf(['button'])">
              <ion-select borderSecondary style="padding-left:30px;" interface="popover" borderRadius16 [(ngModel)]="fieldExpand" placeholder="{{'design_mail.button_type_normal' | translate}}" (ionChange)="save()">
                <ion-select-option value="">{{'design_mail.button_type_normal' | translate}}</ion-select-option>
                <ion-select-option value="block">{{'design_mail.button_type_block' | translate}}</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item detail="false" lines="none" style="margin-bottom: 5px;" class="itemButton" [detail]="false" *ngIf="showIf(['button'])">
              <ion-label font-20 weight700>{{'design_mail.background_color_label' | translate}}</ion-label>
            </ion-item>
            <ion-item detail="false" lines="none" style="margin-bottom: 5px;" class="itemButton" [detail]="false" *ngIf="showIf(['button'])">
                <ion-input type="text" borderSecondary borderRadius16 [(ngModel)]="fieldBackgroundColor" placeholder="#2b6cf5" (ionChange)="save()" style="margin: 0 10px;text-align: center;">
                </ion-input>
            </ion-item>

            <ion-item detail="false" lines="none" style="margin-bottom: 5px;" class="itemButton" [detail]="false" *ngIf="showIf(['button'])">
              <ion-label font-20 weight700>{{'design_mail.color_label' | translate}}</ion-label>
            </ion-item>
            <ion-item detail="false" lines="none" style="margin-bottom: 5px;" class="itemButton" [detail]="false" *ngIf="showIf(['button'])">
                <ion-input type="text" borderSecondary borderRadius16 [(ngModel)]="fieldColor" placeholder="#000000" (ionChange)="save()" style="margin: 0 10px;text-align: center;">
                </ion-input>
            </ion-item>

            <ion-item detail="false" lines="none" style="margin-bottom: 5px;" class="itemButton" [detail]="false" *ngIf="showIf(['spacer'])">
              <ion-label font-20 weight700>{{'design_mail.height_label' | translate}}</ion-label>
            </ion-item>
            <ion-item detail="false" lines="none" style="margin-bottom: 5px;" class="itemButton" [detail]="false" *ngIf="showIf(['spacer'])">
                <ion-input type="text" borderSecondary borderRadius16 [(ngModel)]="fieldHeight" placeholder="20px" (ionChange)="save()" style="margin: 0 10px;text-align: center;">
                </ion-input>
            </ion-item>

            <ion-item detail="false" lines="none" style="margin-bottom: 5px;" class="itemButton" [detail]="false" *ngIf="showIf(['image'])">
              <ion-label font-20 weight700>{{'design_mail.height_label' | translate}}</ion-label>
            </ion-item>
            <ion-item detail="false" lines="none" style="margin-bottom: 5px;" class="itemButton" [detail]="false" *ngIf="showIf(['image'])">
                <ion-input type="text" borderSecondary borderRadius16 [(ngModel)]="fieldHeight" placeholder="auto" (ionChange)="save()" style="margin: 0 10px;text-align: center;">
                </ion-input>
            </ion-item>

            <ion-item detail="false" lines="none" class="itemButton" [detail]="false" *ngIf="showIf(['text', 'image', 'button', 'caseCard'])">
              <ion-label font-20 weight700>{{'design_mail.alignment_label' | translate}}</ion-label>
            </ion-item>

            <div borderSecondary borderRadius16 style="margin: 0 30px;" *ngIf="showIf(['text', 'image', 'button', 'caseCard'])">
              <div flex center-hor>
                <ion-item borderRadius16 style="width:130px" detail="false" lines="none" class="itemButton" [detail]="false" >
                    <ion-select interface="popover"  [(ngModel)]="fieldAlignment" placeholder="{{'design_mail.alignment_placeholder' | translate}}" (ionChange)="save()">
                      <ion-select-option value="left">{{'design_mail.alignment_left' | translate}}</ion-select-option>
                      <ion-select-option value="center">{{'design_mail.alignment_center' | translate}}</ion-select-option>
                      <ion-select-option value="right">{{'design_mail.alignment_right' | translate}}</ion-select-option>
                    </ion-select>
                </ion-item>

              </div>
            </div>

            <ion-item detail="false" lines="none" class="itemButton" [detail]="false" *ngIf="showIf(['text', 'button'])">
              <ion-label font-20 weight700>{{'design_mail.font_size_label' | translate}}</ion-label>
            </ion-item>

            <div borderSecondary borderRadius16 style="margin: 0 30px;" *ngIf="showIf(['text', 'button'])">
              <div flex center-hor>
                <ion-item borderRadius16 style="width:100px" detail="false" lines="none" class="itemButton" [detail]="false">
                  <ion-select interface="popover" [(ngModel)]="fieldFontSize" placeholder="14px" (ionChange)="save()">
                    <ion-select-option value="8px">8px</ion-select-option>
                    <ion-select-option value="10px">10px</ion-select-option>
                    <ion-select-option value="11px">11px</ion-select-option>
                    <ion-select-option value="12px">12px</ion-select-option>
                    <ion-select-option value="13px">13px</ion-select-option>
                    <ion-select-option value="14px">14px</ion-select-option>
                    <ion-select-option value="16px">16px</ion-select-option>
                    <ion-select-option value="18px">18px</ion-select-option>
                    <ion-select-option value="20px">20px</ion-select-option>
                    <ion-select-option value="24px">24px</ion-select-option>
                    <ion-select-option value="28px">28px</ion-select-option>
                    <ion-select-option value="32px">32px</ion-select-option>
                    <ion-select-option value="36px">36px</ion-select-option>
                  </ion-select>
                </ion-item>
              </div>
            </div>

            <ion-item detail="false" lines="none" class="itemButton" [detail]="false" *ngIf="showIf(['text'])">
              <ion-label font-20 weight700>{{'design_mail.font_weight_label' | translate}}</ion-label>
            </ion-item>

            <ion-item detail="false" lines="none" class="itemButton" [detail]="false" *ngIf="showIf(['text'])">
              <ion-select borderSecondary style="padding-left:30px;" interface="popover" borderRadius16 [(ngModel)]="fieldFontWeight" placeholder="Regular" (ionChange)="save()">
                <ion-select-option [value]="300">{{'design_mail.weight_thin' | translate}}</ion-select-option>
                <ion-select-option [value]="400">{{'design_mail.weight_regular' | translate}}</ion-select-option>
                <ion-select-option [value]="500">{{'design_mail.weight_medium' | translate}}</ion-select-option>
                <ion-select-option [value]="600">{{'design_mail.weight_semi_bold' | translate}}</ion-select-option>
                <ion-select-option [value]="700">{{'design_mail.weight_bold' | translate}}</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item detail="false" lines="none" style="margin-bottom: 5px;" class="itemButton" [detail]="false" *ngIf="showIf(['button', 'image'])">
              <ion-label font-20 weight700>{{'design_mail.border_radius_label' | translate}}</ion-label>
            </ion-item>
            <ion-item detail="false" lines="none" style="margin-bottom: 5px;" class="itemButton" [detail]="false" *ngIf="showIf(['button', 'image'])">
                <ion-input type="text" borderSecondary borderRadius16 [(ngModel)]="fieldBorderRadius" placeholder="0px" (ionChange)="save()" style="margin: 0 10px;text-align: center;">
                </ion-input>
            </ion-item>


            <ion-item detail="false" lines="none" class="itemButton" [detail]="false" *ngIf="showIf(['text', 'image', 'button', 'divider', 'caseCard'])">
              <ion-label font-20 weight700>{{'design_mail.margin_label' | translate}}</ion-label>
            </ion-item>
            <ion-item detail="false" lines="none" style="margin-bottom: 5px;" class="itemButton" [detail]="false" *ngIf="showIf(['text', 'image', 'button', 'divider', 'caseCard'])">
              <div flex center-ver>
                <ion-label style="width: 50px; min-width: 50px;">{{'design_mail.margin_left' | translate}}</ion-label>
                <ion-input type="text" borderSecondary borderRadius16 [(ngModel)]="fieldMarginLeft" placeholder="0px" (ionChange)="save()" style="margin: 0 10px;text-align: center;">
                </ion-input>
              </div>
            </ion-item>
            <ion-item detail="false" lines="none" style="margin-bottom: 5px;" class="itemButton" [detail]="false" *ngIf="showIf(['text', 'image', 'button', 'divider', 'caseCard'])">
              <div flex center-ver>
                <ion-label style="width: 50px; min-width: 50px;">{{'design_mail.margin_right' | translate}}</ion-label>
                <ion-input type="text" borderSecondary borderRadius16 [(ngModel)]="fieldMarginRight" placeholder="0px" (ionChange)="save()" style="margin: 0 10px;text-align: center;">
                </ion-input>
              </div>
            </ion-item>
            <ion-item detail="false" lines="none" style="margin-bottom: 5px;" class="itemButton" [detail]="false" *ngIf="showIf(['text', 'image', 'button', 'divider', 'caseCard'])">
              <div flex center-ver>
                <ion-label style="width: 50px; min-width: 50px;">{{'design_mail.margin_top' | translate}}</ion-label>
                <ion-input type="text" borderSecondary borderRadius16 [(ngModel)]="fieldMarginTop" placeholder="0px" (ionChange)="save()" style="margin: 0 10px;text-align: center;">
                </ion-input>
              </div>
            </ion-item>
            <ion-item detail="false" lines="none" style="margin-bottom: 5px;" class="itemButton" [detail]="false" *ngIf="showIf(['text', 'image', 'button', 'divider', 'caseCard'])">
              <div flex center-ver>
                <ion-label style="width: 50px; min-width: 50px;">{{'design_mail.margin_bottom' | translate}}</ion-label>
                <ion-input type="text" borderSecondary borderRadius16 [(ngModel)]="fieldMarginBottom" placeholder="0px" (ionChange)="save()" style="margin: 0 10px;text-align: center;">
                </ion-input>
              </div>
            </ion-item>

            <ion-item detail="false" lines="none" class="itemButton" [detail]="false" *ngIf="showIf(['button'])">
              <ion-label font-20 weight700>{{'design_mail.padding_label' | translate}}</ion-label>
            </ion-item>
            <ion-item detail="false" lines="none" style="margin-bottom: 5px;" class="itemButton" [detail]="false" *ngIf="showIf(['button'])">
              <div flex center-ver>
                <ion-label style="width: 50px; min-width: 50px;">{{'design_mail.padding_left' | translate}}</ion-label>
                <ion-input type="text" borderSecondary borderRadius16 [(ngModel)]="fieldPaddingLeft" placeholder="0px" (ionChange)="save()" style="margin: 0 10px;text-align: center;">
                </ion-input>
              </div>
            </ion-item>
            <ion-item detail="false" lines="none" style="margin-bottom: 5px;" class="itemButton" [detail]="false" *ngIf="showIf(['button'])">
              <div flex center-ver>
                <ion-label style="width: 50px; min-width: 50px;">{{'design_mail.padding_right' | translate}}</ion-label>
                <ion-input type="text" borderSecondary borderRadius16 [(ngModel)]="fieldPaddingRight" placeholder="0px" (ionChange)="save()" style="margin: 0 10px;text-align: center;">
                </ion-input>
              </div>
            </ion-item>
            <ion-item detail="false" lines="none" style="margin-bottom: 5px;" class="itemButton" [detail]="false" *ngIf="showIf(['button'])">
              <div flex center-ver>
                <ion-label style="width: 50px; min-width: 50px;">{{'design_mail.padding_top' | translate}}</ion-label>
                <ion-input type="text" borderSecondary borderRadius16 [(ngModel)]="fieldPaddingTop" placeholder="0px" (ionChange)="save()" style="margin: 0 10px;text-align: center;">
                </ion-input>
              </div>
            </ion-item>
            <ion-item detail="false" lines="none" style="margin-bottom: 5px;" class="itemButton" [detail]="false" *ngIf="showIf(['button'])">
              <div flex center-ver>
                <ion-label style="width: 50px; min-width: 50px;">{{'design_mail.padding_bottom' | translate}}</ion-label>
                <ion-input type="text" borderSecondary borderRadius16 [(ngModel)]="fieldPaddingBottom" placeholder="0px" (ionChange)="save()" style="margin: 0 10px;text-align: center;">
                </ion-input>
              </div>
            </ion-item>


            
          </div>

      </ion-col>

      <ion-col [size]="media.smallDevice ? 12 : 9" class="detailColumn" center>
        <ion-card *ngIf="mailItem" class="mailPreviewCard">

            <div class="headerDefault">
              <img src="https://www.alicialabs.com/wp-content/uploads/2025/01/logo_full_black_sm.png" alt="Alicialabs Logo">
            </div>

            <div relative #itemRef *ngFor="let contentItem of mailItem.content; let i = index" class="block" [ngClass]="{'selectedBlock':selectedBlockIndex===i && selectedSubBlockIndex===-1}" (click)="selectedBlockIndex=i" pointer>
              <div *ngIf="selectedBlockIndex===i && selectedSubBlockIndex===-1" class="editButtons" flex center-ver>
                <fa-icon button font-20 titleIcon [icon]="icon.get('faArrowUp')" pointer (click)="moveBlock(i,'up')" *ngIf="i > 0"></fa-icon>
                <fa-icon button font-20 titleIcon [icon]="icon.get('faArrowDown')" pointer (click)="moveBlock(i,'down')" *ngIf="i < mailItem.content.length - 1"></fa-icon>
                <fa-icon button font-20 titleIcon trash [icon]="icon.get('faTrashAlt')" pointer (click)="removeContent(i)" style="cursor:pointer;"></fa-icon>
              </div>

              <div *ngIf="contentItem.type=='caseCard'" style="display:flex" [ngStyle]="styleForCaseCard(contentItem)">
                <app-case-card [caseItem]="contentItem.item" [shadow]="true" [title]="contentItem.title || ''" [userInfo]="contentItem.userInfo || ''" [url]="contentItem.url || ''" [photo]="contentItem.src || ''"></app-case-card>
              </div>
              
              <div *ngIf="contentItem.type=='text'">
                <ion-textarea (click)="setActiveTextarea(i, $event)" (keyup)="setActiveTextarea(i, $event)" (ionChange)="setActiveTextarea(i, $event);save()" [(ngModel)]="contentItem.value" (ionFocus)="selectBlock(i)" placeholder="{{'design_mail.enter_text_placeholder' | translate}}" autoGrow [ngStyle]="styleForText(contentItem)"></ion-textarea>
              </div>

              <div *ngIf="contentItem.type=='image'" [ngStyle]="styleForImageHolder(contentItem)">
                <img [src]="contentItem.src || 'assets/img/default_avatar.png' | sanitizeHtml : 'url'" (click)="selectBlock(i)" style="max-width:100%;cursor:pointer;" [ngStyle]="styleForImage(contentItem)"/>
              </div>

              <div *ngIf="contentItem.type=='divider'" fullwidth [ngStyle]="styleForDivider(contentItem)">
                <div style="width:100%;border-top:1px solid #ccc;height:1px"></div>
              </div>
              
              <div *ngIf="contentItem.type=='spacer'" [ngStyle]="{'height': contentItem.height || '20px'}"></div>
              
              <div *ngIf="contentItem.type=='button'" [ngStyle]="styleFor(contentItem)">
                <ion-button [expand]="contentItem.expand || undefined" (click)="selectBlock(i)" [ngStyle]="styleForButton(contentItem)">
                  {{contentItem.text || translate.instant('design_mail.button_click_here')}}
                </ion-button>
              </div>

              <div relative *ngIf="contentItem.type=='table'&&contentItem.data" style="width:100%;display:flex;align-items:center;padding:10px 0px;">
                
                <div
                  relative
                  *ngFor="let colEntry of contentItem.columnArray; let colIndex = index"
                  (click)="selectBlock(i, colIndex, -1, $event)"
                  style="flex:1; padding:10px 10px; box-sizing:border-box;"
                  [ngClass]="{ 'selectedBlock': selectedSubBlockIndex === colIndex && selectedBlockIndex === i && selectedFieldIndex === -1 }"
                >
                  <div *ngIf="selectedSubBlockIndex === colIndex && selectedBlockIndex === i && selectedFieldIndex < 0" class="editButtons" flex center-ver>
                    <fa-icon button font-20 titleIcon success [icon]="icon.get('faPlus')" pointer (click)="addSubItem(i, colIndex, $event)"></fa-icon>
                  </div>

                  <!-- colEntry = [key, items[]] -->
                  <ng-container *ngFor="let colItem of colEntry[1];let fieldIndex = index">

                    <div relative pointer *ngIf="colItem.type == 'text'" [ngStyle]="styleFor(colItem)" class="block" [ngClass]="{ 'selectedBlock': selectedSubBlockIndex === colIndex && selectedBlockIndex === i && selectedFieldIndex === fieldIndex }">
                      <div *ngIf="selectedSubBlockIndex === colIndex && selectedBlockIndex === i && selectedFieldIndex === fieldIndex" class="editButtons" flex center-ver>
                        <fa-icon button font-20 titleIcon [icon]="icon.get('faArrowUp')" pointer (click)="moveBlock(i, 'up', colIndex, fieldIndex)" *ngIf="fieldIndex > 0"></fa-icon>
                        <fa-icon button font-20 titleIcon [icon]="icon.get('faArrowDown')" pointer (click)="moveBlock(i, 'down', colIndex, fieldIndex)" *ngIf="fieldIndex < mailItem.content[i].data[colIndex].length - 1"></fa-icon>
                        <fa-icon button font-20 titleIcon trash [icon]="icon.get('faTrashAlt')" pointer (click)="removeContent(i, colIndex, fieldIndex)" style="cursor:pointer;"></fa-icon>
                      </div>

                      <ion-textarea
                        [(ngModel)]="colItem.value"
                        (ionFocus)="selectBlock(i, colIndex,fieldIndex, $event)"
                        (click)="selectBlock(i, colIndex,fieldIndex, $event)"
                        placeholder="{{ 'design_mail.enter_text_placeholder' | translate }}"
                        autoGrow
                        [ngStyle]="styleForText(colItem)"
                      ></ion-textarea>
                    </div>

                    <div relative pointer *ngIf="colItem.type == 'image'" [ngStyle]="styleForImageHolder(colItem)" class="block" [ngClass]="{ 'selectedBlock': selectedSubBlockIndex === colIndex && selectedBlockIndex === i && selectedFieldIndex === fieldIndex }">
                      <div *ngIf="selectedSubBlockIndex === colIndex && selectedBlockIndex === i && selectedFieldIndex === fieldIndex" class="editButtons" flex center-ver>
                        <fa-icon button font-20 titleIcon [icon]="icon.get('faArrowUp')" pointer (click)="moveBlock(i, 'up', colIndex, fieldIndex)" *ngIf="fieldIndex > 0"></fa-icon>
                        <fa-icon button font-20 titleIcon [icon]="icon.get('faArrowDown')" pointer (click)="moveBlock(i, 'down', colIndex, fieldIndex)" *ngIf="fieldIndex < mailItem.content[i].data[colIndex].length - 1"></fa-icon>
                        <fa-icon button font-20 titleIcon trash [icon]="icon.get('faTrashAlt')" pointer (click)="removeContent(i, colIndex, fieldIndex)" style="cursor:pointer;"></fa-icon>
                      </div>
                      <img
                        [src]="colItem.src || 'assets/img/default_avatar.png' | sanitizeHtml: 'url'"
                        (click)="selectBlock(i, colIndex,fieldIndex, $event)"
                        style="max-width:100%;cursor:pointer;"
                        [ngStyle]="styleForImage(colItem)"
                      />
                    </div>

                    <div relative pointer *ngIf="colItem.type == 'button'" [ngStyle]="styleFor(colItem)" class="block" [ngClass]="{ 'selectedBlock': selectedSubBlockIndex === colIndex && selectedBlockIndex === i && selectedFieldIndex === fieldIndex }">
                      <div *ngIf="selectedSubBlockIndex === colIndex && selectedBlockIndex === i && selectedFieldIndex === fieldIndex" class="editButtons" flex center-ver>
                        <fa-icon button font-20 titleIcon [icon]="icon.get('faArrowUp')" pointer (click)="moveBlock(i, 'up', colIndex, fieldIndex)" *ngIf="fieldIndex > 0"></fa-icon>
                        <fa-icon button font-20 titleIcon [icon]="icon.get('faArrowDown')" pointer (click)="moveBlock(i, 'down', colIndex, fieldIndex)" *ngIf="fieldIndex < mailItem.content[i].data[colIndex].length - 1"></fa-icon>
                        <fa-icon button font-20 titleIcon trash [icon]="icon.get('faTrashAlt')" pointer (click)="removeContent(i, colIndex, fieldIndex)" style="cursor:pointer;"></fa-icon>
                      </div>
                      <ion-button
                        [expand]="colItem.expand || undefined"
                        (click)="selectBlock(i, colIndex, fieldIndex, $event)"
                        [ngStyle]="styleForButton(colItem)"
                      >
                        {{ colItem.text || translate.instant('design_mail.button_click_here') }}
                      </ion-button>
                    </div>


                    <div relative pointer *ngIf="colItem.type == 'divider'" (click)="selectBlock(i, colIndex, fieldIndex, $event)" class="block" [ngStyle]="styleForDivider(colItem)" [ngClass]="{ 'selectedBlock': selectedSubBlockIndex === colIndex && selectedBlockIndex === i && selectedFieldIndex === fieldIndex }">
                      <div *ngIf="selectedSubBlockIndex === colIndex && selectedBlockIndex === i && selectedFieldIndex === fieldIndex" class="editButtons" flex center-ver>
                        <fa-icon button font-20 titleIcon [icon]="icon.get('faArrowUp')" pointer (click)="moveBlock(i, 'up', colIndex, fieldIndex)" *ngIf="fieldIndex > 0"></fa-icon>
                        <fa-icon button font-20 titleIcon [icon]="icon.get('faArrowDown')" pointer (click)="moveBlock(i, 'down', colIndex, fieldIndex)" *ngIf="fieldIndex < mailItem.content[i].data[colIndex].length - 1"></fa-icon>
                        <fa-icon button font-20 titleIcon trash [icon]="icon.get('faTrashAlt')" pointer (click)="removeContent(i, colIndex, fieldIndex)" style="cursor:pointer;"></fa-icon>
                      </div>
                      <div style="width:100%;border-top:1px solid #ccc;height:1px"></div>
                    </div>

                    <div relative pointer *ngIf="colItem.type == 'spacer'" (click)="selectBlock(i, colIndex, fieldIndex, $event)" class="block" [ngClass]="{ 'selectedBlock': selectedSubBlockIndex === colIndex && selectedBlockIndex === i && selectedFieldIndex === fieldIndex }">
                      <div *ngIf="selectedSubBlockIndex === colIndex && selectedBlockIndex === i && selectedFieldIndex === fieldIndex" class="editButtons" flex center-ver>
                        <fa-icon button font-20 titleIcon [icon]="icon.get('faArrowUp')" pointer (click)="moveBlock(i, 'up', colIndex, fieldIndex)" *ngIf="fieldIndex > 0"></fa-icon>
                        <fa-icon button font-20 titleIcon [icon]="icon.get('faArrowDown')" pointer (click)="moveBlock(i, 'down', colIndex, fieldIndex)" *ngIf="fieldIndex < mailItem.content[i].data[colIndex].length - 1"></fa-icon>
                        <fa-icon button font-20 titleIcon trash [icon]="icon.get('faTrashAlt')" pointer (click)="removeContent(i, colIndex, fieldIndex)" style="cursor:pointer;"></fa-icon>
                      </div>
                      <div *ngIf="colItem.type=='spacer'" [ngStyle]="{'height': colItem.height || '20px'}"></div>
                    </div>

                    <!-- <div *ngIf="contentItem.type=='caseCard'" style="display:flex" [ngStyle]="{'justify-content': (contentItem.alignment=='left' ? 'flex-start' : (contentItem.alignment=='right' ? 'flex-end' : 'center')),'padding-left': contentItem.marginLeft || '0px', 'padding-right': contentItem.marginRight || '0px', 'padding-top': contentItem.marginTop || '0px', 'padding-bottom': contentItem.marginBottom || '0px'}">
                      <app-case-card [caseItem]="contentItem.item" [shadow]="true" [title]="fieldTitle" [userInfo]="fieldUserInfo" [url]="fieldUrl" [photo]="fieldSrc"></app-case-card>
                    </div> -->

                    <div relative pointer *ngIf="colItem.type == 'caseCard'" (click)="selectBlock(i, colIndex, fieldIndex, $event)" class="block" [ngClass]="{ 'selectedBlock': selectedSubBlockIndex === colIndex && selectedBlockIndex === i && selectedFieldIndex === fieldIndex }">
                      <div *ngIf="selectedSubBlockIndex === colIndex && selectedBlockIndex === i && selectedFieldIndex === fieldIndex" class="editButtons" flex center-ver>
                        <fa-icon button font-20 titleIcon [icon]="icon.get('faArrowUp')" pointer (click)="moveBlock(i, 'up', colIndex, fieldIndex)" *ngIf="fieldIndex > 0"></fa-icon>
                        <fa-icon button font-20 titleIcon [icon]="icon.get('faArrowDown')" pointer (click)="moveBlock(i, 'down', colIndex, fieldIndex)" *ngIf="fieldIndex < mailItem.content[i].data[colIndex].length - 1"></fa-icon>
                        <fa-icon button font-20 titleIcon trash [icon]="icon.get('faTrashAlt')" pointer (click)="removeContent(i, colIndex, fieldIndex)" style="cursor:pointer;"></fa-icon>
                      </div>
                      <div style="display:flex; justify-content: center; padding:10px 0px;" [ngStyle]="styleForCaseCard(colItem)">
                        <app-case-card [caseItem]="colItem.item" fullwidth [shadow]="true" [title]="colItem.title" [userInfo]="colItem.userInfo" [url]="colItem.url" [photo]="colItem.src" [buttonText]="colItem.text"></app-case-card>
                      </div>
                    </div>

                  </ng-container>
                </div>


              </div>

            </div>

             <div class="footer">
              <p>&copy; {{year}} {{'mails.footer_reserved' | translate}}</p>
              <p [innerHtml]="translate.instant('mails.footer_visit_website') | sanitizeHtml"></p>
              <p>{{'mails.footer_text' | translate}}</p>
            </div>
        </ion-card>
      </ion-col>
    </ion-row>

</main>
