.selectColumn,
.detailColumn {
    height: 100%;  // Zorg dat de kolommen de volledige hoogte van hun container hebben
    overflow-y: auto;  // Activeer verticale scroll wanneer nodig
    padding-right: 10px;  // Optionele padding voor scrollbalk
}
.selectColumn {
    max-height: calc(var(--vh, 1vh) * 100 - 121px);
    padding-bottom: 20px;
}
.avatarImage{
  height: 200px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .title{
    font-size: 36px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    font-weight: 700;
    color: var(--ion-color-primary);
    // margin-bottom: 10px;
  }
}
.cardButton{
    --border-color:#eaeaea;
    --color:var(--ion-color-primary);
}
.cardButton:hover{
    --border-color:var(--ion-color-primary);
}
.creditButton{
    --border-color:var(--ion-color-primary);
    --color:var(--ion-color-primary);
    margin-right:30px;
    --padding-start: 10px !important;
    --padding-end: 10px !important;
}
[caseCard]{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4)
}



.card-drop-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

  

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.card-wrapper {
  // width: calc(33.33% - 12px);
  margin-right:10px;
  margin-bottom: 10px;
  border-radius: 24px;
  cursor: grab!important;
}

.dndDragging {
  opacity: 0.7; /* Optioneel: maak het gesleepte item wat transparanter */
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
  z-index: 1000;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1); 
}
.dndDraggingSource{
  opacity: 0;
  // display: none;
  width:30px!important;
  visibility: hidden;
}


[dndPlaceholderRef]{
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  border:none;
  width: calc(33.33% - 12px);
  // width:200px;
  min-height: 350px; /* Pas aan aan de hoogte van je kaart */
  margin-bottom: 10px;
  margin-right: 12px; /* Overeenkomen met de gap */
}
.card-container {
  will-change: transform;
  contain: layout paint;      /* voorkomt dat repaints “weglekken” */
}

.card-wrapper, ion-card {
  backface-visibility: hidden;
  transform: translateZ(0);   /* GPU-promotie */
}
.dndDragging {
  /* evt. je bestaande styles + */
  will-change: transform;
}


  .activeMenuItem{
    background: var(--ion-color-primary)!important;
    ion-item{
      --background: var(--ion-color-primary);
      color: white;
    }
  }

  .btnImgChange{
    position: absolute;
    text-align: center;
    bottom: 20px;
}

.activeItem{
  background-color: var(--ion-color-primary);
  ion-item{
    --background:none;
    --color: white;
    div{
      --color: white;
    }
    fa-icon{
      color:white;
    }
  }
  ion-card-title{
    color: white;
  }
}
.notActiveItem{
  background-color: white;
  ion-item{
    --background-hover: none;
  }
  ion-card-title{
    color: var(--ion-color-primary);
  }
}
.notActiveItem:hover{
  background: var(--background-global);
  ion-item{
    --background: var(--background-global);
  }
}

[moduleCard]{
  height: calc(100% - 0px);
  // width: calc(100% - 0px);
  // position: relative;
  // left:0px;
  // top:0px;
}
[multipleCard]{
  position: absolute;
  left: 5px;
  top: -5px;
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  z-index: -1;
  // box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4)
}
[multipleCard2]{
  position: absolute;
  left: 10px;
  top: -10px;
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  z-index: -2;
  // box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4)

}

[multipleCardModule]{
  position: absolute;
  left: 20px;
  top: 10px;
  width: calc(100% - 30px);
  height: calc(100% - 10px);
  z-index: -1;
}

[multipleCardModule2]{
  position: absolute;
  left: 30px;
  top: 5px;
  width: calc(100% - 35px);
  height: calc(100% - 10px);
  z-index: -2;
}
.noStyle{
  border:none;
  font-weight: 400;
  margin-left: 20px;
  width: 100%;
  outline: none;
}
// .noStyle:focus-visible{
// }
.codePart{
  background:rgba(var(--ion-color-success-rgb),0.2)
}
.successPart{
  background:rgba(var(--ion-color-success-rgb),0.2)
}
.warningPart{
  background:rgba(var(--ion-color-warning-rgb),0.2)
}
.inputAmount{
  text-align: center;
  border: solid 2px var(--ion-color-primary);
  border-radius: 24px;
  width: 100%;
  max-width: 100%;
  // --padding-start: 20px;
  // padding-left: 60px;
}

.selectedModule{
    --background: var(--ion-color-primary);
    ion-label{
        color:var(--ion-color-primary-contrast);
    }
}

.typeItem{
    padding: 5px 10px;
    border-radius: 16px;
    background-color: var(--ion-color-primary);
    color:var(--ion-color-primary-contrast);
    font-size: 14px;
    text-align: center;
    margin: 5px;
    font-weight: 500;
    display: inline-block;
}

.tagItemMobile{
  display: inline-block;
  padding: 5px 10px;
  border-radius: 16px;
  background-color: var(--ion-color-secondary-contrast);
  color: var(--ion-color-secondary);
  border:solid 1px var(--ion-color-secondary);
  font-size: 14px;
  text-align: center;
  margin: 5px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.publishType_elearning{
  border: solid 2px var(--ion-color-warning);
  border-radius: 16px;
  padding: 3px 15px;
  text-transform: none;
  color: var(--ion-color-warning);
}

.publishType_training{
  border: solid 2px var(--ion-color-primary);
  border-radius: 16px;
  padding: 3px 15px;
  text-transform: none;
  color: var(--ion-color-primary);
}

.publishType_organisation{
  border: solid 2px var(--ion-color-danger);
  border-radius: 16px;
  padding: 3px 15px;
  text-transform: none;
  color: var(--ion-color-danger);
}

.arrowDown {
  position: relative;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid transparent
}

.arrowDownCenter {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 36px solid transparent;
  border-right: 36px solid transparent;
  border-top: 36px solid #D6E5FD;
  top: -30px;
  left: -36px;
}

.publishTypeTitle{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-left:20px;
  margin-top: 20px;
  color: var(--ion-color-secondary);
  text-transform: uppercase;
}

.reportTable{
  th,td{
    padding:10px 10px;
  }
  border-collapse: separate;
  border-spacing: 10px 0px;

  tr:nth-child(odd){
    td{
      background-color: var(--background-light);
    }
  }

    tr:nth-child(2){
    td{
      border-top-style: solid;
      border-top-width: 1px;
      border-top-color: rgba(0, 0, 0, 0.1);
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
    }
  }
  // tr:last-child{
  //   td{
  //     border:none;
  //     background: none;
  //     padding-top:20px;
  //     padding-bottom:20px;
  //   }
  // }
  // select tr:last-child-1
  // tr:nth-last-child(2){
  tr:last-child{
    td{
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: rgba(0, 0, 0, 0.1);
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
    }
  }
  tr:first-child{
    td{
      border-top-style: solid;
      border-top-width: 1px;
      border-top-color: rgba(0, 0, 0, 0.1);
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
    }
  }

   td{
    text-align: center;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgba(0, 0, 0, 0.1);
    border-left-width: 1px;
    border-left-style: solid; 
    border-left-color: rgba(0, 0, 0, 0.1);
  }
  td:nth-child(1){
    text-align: left;
    font-weight: 500;
    padding-left:10px
  }

}