.activeItem{
  background-color: var(--ion-color-primary);
  ion-item{
    --background:none;
    --color: white;
    div{
      --color: white;
    }
    fa-icon{
      color:white;
    }
  }
  ion-card-title{
    color: white;
  }
}
.notActiveItem{
  background-color: white;
  ion-item{
    --background-hover: none;
  }
  ion-card-title{
    color: var(--ion-color-primary);
  }
}
.notActiveItem:hover{
  background: var(--background-global);
  ion-item{
    --background: var(--background-global);
  }
}