<app-header page="trainer"></app-header>
<main class="trainerPage">
    <ion-toolbar class="buttonBar" *ngIf="!media.smallDevice">
      <div style="width:100%" center-hor flex>
          <div style="max-width: 1350px;width:100%;padding:5px 15px 0px 15px">
              <ion-row >
                <ion-col size="2" noPadding>
                  <ion-card id="menu_account" pointer center class="topButton notActive" (click)="trainerService.emptyBreadCrumbs();nav.go('trainer/dashboard')">
                      <ion-card-title>{{'dashboard.organisation' | translate}}</ion-card-title>
                  </ion-card>
                </ion-col>
                <ion-col size="2" noPadding>
                  <ion-card id="menu_cases" pointer center class="topButton notActive" (click)="trainerService.emptyBreadCrumbs();nav.go('trainer/cases')">
                      <ion-card-title>{{'standards.cases' | translate}}</ion-card-title>
                  </ion-card>
                </ion-col>
                <ion-col size="2" noPadding>
                  <ion-card id="menu_info_items" pointer center class="topButton notActive" (click)="trainerService.emptyBreadCrumbs();nav.go('trainer/info-items')">
                      <ion-card-title>{{'buttons.knowledge' | translate}}</ion-card-title>
                  </ion-card>
                </ion-col>
                <ion-col size="2" noPadding>
                  <ion-card id="menu_modules" pointer center class="topButton notActive" (click)="trainerService.emptyBreadCrumbs();nav.go('trainer/modules')">
                      <ion-card-title>{{'standards.modules' | translate}}</ion-card-title>
                  </ion-card>
                </ion-col>
                <ion-col size="2" noPadding>
                  <ion-card id="menu_trainings" pointer center class="topButton notActive" (click)="trainerService.emptyBreadCrumbs();nav.go('trainer/trainings')">
                      <ion-card-title>{{'standards.trainings' | translate}}</ion-card-title>
                  </ion-card>
                </ion-col>
                <ion-col size="2" noPadding>
                  <ion-card id="menu_trainings" pointer center class="topButton isActive" (click)="trainerService.emptyBreadCrumbs();nav.go('trainer/customers')">
                      <ion-card-title>{{'standards.customers' | translate}}</ion-card-title>
                  </ion-card>
                </ion-col>
                <!-- <ion-col size="2" noPadding *ngIf="!trainerService.trainingItem.id">
                  <div flex fullwidth center-ver style="padding:10px">
                      <ion-searchbar (ionInput)="onSearchChanged()" [(ngModel)]="searchTerm" placeholder="Zoeken"  fullwidth noMargin noPadding></ion-searchbar>
                  </div>
                </ion-col> -->
              </ion-row>
          </div>
      </div>
    </ion-toolbar>
    <div *ngIf="media.smallDevice" class="buttonBarMobile">
      <app-menu-mobile (action)="useAction($event)" [pageParam]="setPageParam()"></app-menu-mobile>
      <app-menu-mobile [subMenu]="true" [options]="setOptionsParam()" (action)="useAction($event)"></app-menu-mobile>
    </div>
    <div *ngIf="media.smallDevice" class="buttonBarMobileBackground"></div>

    <ion-grid>

      <ion-row style="height:calc(100% - 75px)" [ngStyle]="{'margin-top': media.smallDevice ? '60px' : '60px'}">

        <ion-col *ngIf="!media.smallDevice" [size]="media.smallDevice ? 12 : 3" class="selectColumn">

          <div style="background:white;padding:10px 0px;border-radius:16px;margin-top:15px" marginBottom *ngIf="trainerService.trainerInfo.logo">
              <div fullwidth style="height:100px">
                  <img [src]="trainerService.trainerInfo.logo" style="width:100%;height:100%;border-radius:16px;object-fit:contain;">
              </div> 
          </div>

          <div style="padding:10px 0px;border-radius:16px;margin-top:15px" *ngIf="trainerService.isTrainerPro" [ngClass]="{'activeItem': showPart=='customers','notActiveItem': showPart!='customers'}">
            <ion-item detail="false" lines="none" button (click)="showPart = 'customers'" class="itemButton"  noMargin>
                <div font-20 weight700>{{'standards.customers' | translate}}</div>
                <fa-icon font-24 slot="end" [icon]="icon.get('faUsers')"></fa-icon>
            </ion-item>
          </div>

          <div style="padding:10px 0px;border-radius:16px;margin-top:15px" *ngIf="trainerService.isTrainerPro && trainerService.trainerInfo?.purchaseItems?.length" [ngClass]="{'activeItem': showPart=='sales','notActiveItem': showPart!='sales'}">
            <ion-item detail="false" lines="none" button (click)="showPart = 'sales'" class="itemButton"  noMargin>
                <div font-20 weight700>{{'customers.sales' | translate}}</div>
                <fa-icon font-24 slot="end" [icon]="icon.get('faCoins')"></fa-icon>
            </ion-item>
          </div>

          

        </ion-col>
        <ion-col [size]="media.smallDevice ? 12 : 9" class="selectColumn detailColumn">

            <ion-card basicPadding *ngIf="showPart=='sales' && trainerService.trainerInfo?.purchaseItems?.length">
              <ion-card-header>
                <ion-card-title flex center-ver>
                  <span weight600 titleIcon>{{'customers.sales' | translate}}</span>
                  <span class="spacer"></span>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <!-- <div singleLine></div>  -->
                <!-- <div font-16 marginLeft text-primary uppercase weight600 flex center-ver>
                  <span> {{'marketplace.revenue' | translate}} ({{trainerService.trainerInfo.purchaseItems.length}})</span>
                  <div class="spacer"></div>
                </div> -->
                <div>
                  <ion-card marginBottom basicPadding fullwidth>
                    <div flex center-ver weight700>
                      <span >{{'customers.revenue_total_marketplace' | translate}}:</span>
                      <div class="spacer"></div>
                      <span>€ {{trainerService.revenue_market.all.total | number : '1.2-2'}}</span>
                    </div> 
                    <div flex center-ver weight500>
                      <span >{{'marketplace.revenue_margin' | translate}} ({{trainerService.revenue_market.margin_alicialabs}}%):</span>
                      <div class="spacer"></div>
                      <span>€ {{(trainerService.revenue_market.all.total - trainerService.revenue_market.all.profit) | number : '1.2-2'}}</span>
                    </div> 
                    <div flex center-ver weight700 style="border-top: solid 1px var(--ion-color-primary);">
                      <span >{{'marketplace.revenue_profit' | translate}}:</span>
                      <div class="spacer"></div>
                      <span>€ {{trainerService.revenue_market.all.profit | number : '1.2-2'}}</span>
                    </div> 
                  </ion-card>

                  <ion-card marginBottom basicPadding fullwidth>
                    <div flex center-ver weight700>
                      <span >{{'customers.revenue_total_direct' | translate}}:</span>
                      <div class="spacer"></div>
                      <span>€ {{trainerService.revenue_direct.all.total | number : '1.2-2'}}</span>
                    </div> 
                    <div flex center-ver weight500>
                      <span >{{'marketplace.revenue_margin' | translate}} (5%):</span>
                      <div class="spacer"></div>
                      <span>€ {{(trainerService.revenue_direct.all.total - trainerService.revenue_direct.all.profit) | number : '1.2-2'}}</span>
                    </div> 
                    <div flex center-ver weight700 style="border-top: solid 1px var(--ion-color-primary);">
                      <span >{{'marketplace.revenue_profit' | translate}}:</span>
                      <div class="spacer"></div>
                      <span>€ {{trainerService.revenue_direct.all.profit | number : '1.2-2'}}</span>
                    </div> 
                  </ion-card>

                  <ion-card marginBottom basicPadding fullwidth>
                    <div flex center-ver weight700>
                      <span >{{'customers.costs_credits_private' | translate}} ({{trainerService.costs_credits.all.length}} {{'standards.users' | translate}}):</span>
                      <div class="spacer"></div>
                      <span>€ {{trainerService.costs_credits.all.total | number : '1.2-2'}}</span>
                    </div> 
                    <div flex center-ver weight700 style="border-top: solid 1px var(--ion-color-primary);">
                      <span >{{'customers.costs' | translate}}:</span>
                      <div class="spacer"></div>
                      <span>€ {{trainerService.costs_credits.all.total | number : '1.2-2'}}</span>
                    </div> 
                  </ion-card>


                  <ion-card marginBottom basicPadding fullwidth borderPrimary font-16>
                    <div flex center-ver weight600>
                      <span *ngIf="(trainerService.revenue_market.unpaid.profit + trainerService.revenue_direct.unpaid.profit - trainerService.costs_credits.unpaid.total) >= 0">{{'marketplace.revenue_unpaid' | translate}}:</span>
                      <span *ngIf="(trainerService.revenue_market.unpaid.profit + trainerService.revenue_direct.unpaid.profit - trainerService.costs_credits.unpaid.total) < 0">{{'marketplace.costs_unpaid' | translate}}:</span>
                      <div class="spacer"></div>
                      <span *ngIf="(trainerService.revenue_market.unpaid.profit + trainerService.revenue_direct.unpaid.profit - trainerService.costs_credits.unpaid.total) >= 0">€ {{trainerService.revenue_market.unpaid.profit + trainerService.revenue_direct.unpaid.profit - trainerService.costs_credits.unpaid.total | number : '1.2-2'}}</span>
                      <span trash *ngIf="(trainerService.revenue_market.unpaid.profit + trainerService.revenue_direct.unpaid.profit - trainerService.costs_credits.unpaid.total) < 0">€ {{trainerService.revenue_market.unpaid.profit + trainerService.revenue_direct.unpaid.profit - trainerService.costs_credits.unpaid.total | number : '1.2-2'}}</span>
                    </div> 
                    <div flex center-ver weight500>
                      <span *ngIf="(trainerService.revenue_market.paid.profit + trainerService.revenue_direct.paid.profit - trainerService.costs_credits.paid.total) >= 0">{{'marketplace.revenue_paid' | translate}}:</span>
                      <span *ngIf="(trainerService.revenue_market.paid.profit + trainerService.revenue_direct.paid.profit - trainerService.costs_credits.paid.total) < 0">{{'marketplace.paid' | translate}}:</span>
                      <div class="spacer"></div>
                      <span *ngIf="(trainerService.revenue_market.paid.profit + trainerService.revenue_direct.paid.profit - trainerService.costs_credits.paid.total) >= 0">€ {{trainerService.revenue_market.paid.profit + trainerService.revenue_direct.paid.profit - trainerService.costs_credits.paid.total | number : '1.2-2'}}</span>
                      <span *ngIf="(trainerService.revenue_market.paid.profit + trainerService.revenue_direct.paid.profit - trainerService.costs_credits.paid.total) < 0">€ {{-(trainerService.revenue_market.paid.profit + trainerService.revenue_direct.paid.profit - trainerService.costs_credits.paid.total) | number : '1.2-2'}}</span>
                    </div>

                  </ion-card>
                </div> 
                <div *ngIf="(trainerService.revenue_market.unpaid.profit + trainerService.revenue_direct.unpaid.profit - trainerService.costs_credits.unpaid.total) >= 0" flex center-ver>
                  <div class="spacer"></div>
                  <ion-button fill="outline" color="primary" class="saveButton" (click)="trainerService.requestPayout()">
                    {{'marketplace.request_payout' | translate}}
                  </ion-button>
                </div>

                <div singleLine marginTop marginBottom style="margin-bottom:40px;margin-top:30px"></div> 

                <div font-16 marginLeft pointer text-primary uppercase weight600 borderBottom *ngIf="trainerService.trainerInfo?.purchaseItems?.length" (click)="showCustomerList=!showCustomerList" flex center-ver>
                  <span> {{'marketplace.sold_etrainings_marketplace' | translate}} ({{(trainerService.trainerInfo.purchaseItems | filterKey : 'marketplace' : true).length}})</span>
                  <div class="spacer"></div>
                  <fa-icon chevron pointer titleIcon font-24 text-secondary [icon]="icon.get('faChevronDown')" [ngStyle]="{'transform':showCustomerList ? 'rotate(180deg)' : 'rotate(0deg)'}"></fa-icon>
                </div>
                <div *ngIf="showCustomerList">
                  <ion-card marginBottom basicPadding borderPrimary fullwidth *ngFor="let customer of trainerService.trainerInfo.purchaseItems | filterKey : 'marketplace' : true | sortBy : -1 : 'purchased'">
                    <ion-card-title flex center-ver>
                      <span weight600>{{trainerService.getTraining(customer.trainingId).title}}<br>+ € {{customer.price / 1.21 | number : '1.2-2'}}</span>
                      <!-- <span marginLeft weight400 font-14 lowercase>({{customer.user.email}})</span> -->
                      <span class="spacer"></span>
                      <span textMedium italic weight500>{{helper.showLocalDate(customer.purchased,translate.instant('date_formats.fullDateTime'),0,true)}}</span>
                    <!-- <fa-icon pointer titleIcon font-24 *ngIf="trainerService.trainingItem?.status=='published'" (click)="sendEmail(customer.user.email)" [icon]="icon.get('faEnvelope')"></fa-icon> -->
                    </ion-card-title>
                  </ion-card>
                </div>

                <div font-16 marginLeft pointer text-primary uppercase weight600 style="margin-top:50px" borderBottom *ngIf="trainerService.trainerInfo?.purchaseItems?.length" (click)="showCustomerListPrivate=!showCustomerListPrivate" flex center-ver>
                  <span> {{'marketplace.sold_etrainings_private' | translate}} ({{(trainerService.trainerInfo.purchaseItems | filterKey : 'marketplace' : false).length}})</span>
                  <div class="spacer"></div>
                  <fa-icon chevron pointer titleIcon font-24 text-secondary [icon]="icon.get('faChevronDown')" [ngStyle]="{'transform':showCustomerListPrivate ? 'rotate(180deg)' : 'rotate(0deg)'}"></fa-icon>
                </div>
                <div *ngIf="showCustomerListPrivate">
                  <ion-card marginBottom basicPadding borderPrimary fullwidth *ngFor="let customer of trainerService.trainerInfo.purchaseItems | filterKey : 'marketplace' : false | sortBy : -1 : 'purchased'">
                    <ion-card-title flex center-ver>
                      <span weight600>{{trainerService.getTraining(customer.trainingId).title}} <span trash *ngIf="customer.credits"><br> - € {{(trainerService.creditsPackagesPricing[customer.credits] | number : '1.2-2')}}</span></span>
                      <!-- <span marginLeft weight400 font-14 lowercase>({{customer.user.email}})</span> -->
                      <span class="spacer"></span>
                      <span textMedium italic weight500>{{helper.showLocalDate(customer.purchased,translate.instant('date_formats.fullDateTime'),0,true)}}</span>
                    <!-- <fa-icon pointer titleIcon font-24 *ngIf="trainerService.trainingItem?.status=='published'" (click)="sendEmail(customer.user.email)" [icon]="icon.get('faEnvelope')"></fa-icon> -->
                    </ion-card-title>
                  </ion-card>
                </div>

                <div font-16 marginLeft pointer text-primary uppercase weight600 style="margin-top:50px" borderBottom *ngIf="trainerService.trainerInfo?.purchaseItems?.length" (click)="showCustomerListDirect=!showCustomerListDirect" flex center-ver>
                  <span> {{'marketplace.sold_etrainings_direct' | translate}} ({{(trainerService.trainerInfo.purchaseItems | filterKey : 'direct' : true).length}})</span>
                  <div class="spacer"></div>
                  <fa-icon chevron pointer titleIcon font-24 text-secondary [icon]="icon.get('faChevronDown')" [ngStyle]="{'transform':showCustomerListDirect ? 'rotate(180deg)' : 'rotate(0deg)'}"></fa-icon>
                </div>
                <div *ngIf="showCustomerListDirect">
                  <ion-card marginBottom basicPadding borderPrimary fullwidth *ngFor="let customer of trainerService.trainerInfo.purchaseItems | filterKey : 'direct' : true | sortBy : -1 : 'purchased'">
                    <ion-card-title flex center-ver>
                      <span weight600>{{customer?.items[0]?.description?.split('|')[0]}} (Excl. credits) <br>+ € {{customer.price.trainingPrice | number : '1.2-2'}}</span>
                      <!-- <span marginLeft weight400 font-14 lowercase>({{customer.user.email}})</span> -->
                      <span class="spacer"></span>
                      <span textMedium italic weight500>{{helper.showLocalDate(customer.purchased,translate.instant('date_formats.fullDateTime'),0,true)}}</span>
                    <!-- <fa-icon pointer titleIcon font-24 *ngIf="trainerService.trainingItem?.status=='published'" (click)="sendEmail(customer.user.email)" [icon]="icon.get('faEnvelope')"></fa-icon> -->
                    </ion-card-title>
                  </ion-card>
                </div>

              </ion-card-content>
            </ion-card>

            <ion-card marginBottom basicPadding *ngIf="showPart=='customers'">
              <ion-card-header>
                <ion-card-title flex center-ver>
                  <span weight600 titleIcon>{{'standards.customers' | translate}}</span>
                  <span class="spacer"></span>
                  <fa-icon pointer titleIcon font-24 (click)="addCustomer()" [icon]="icon.get('faPlus')"></fa-icon>
                </ion-card-title>
              </ion-card-header>
            </ion-card>

            <div *ngIf="!trainerService.trainerInfo?.customers?.length&&showPart=='customers'">
              <ion-card marginBottom basicPadding>
                <ion-card-header pointer>
                  <ion-card-title flex center-ver>
                    <span weight400 text-secondary italic>{{'customers.no_customers' | translate}}</span>
                  </ion-card-title>
                </ion-card-header>
              </ion-card>
            </div>

            <div *ngIf="trainerService.trainerInfo?.customers?.length&&showPart=='customers'">
              <ion-card marginBottom basicPadding *ngFor="let customer of (trainerService.trainerInfo?.customers | filterSearch : searchTerm : false : ['company','email','phone','city','email_invoice']) | sortBy : 1 : 'company'">
                <ion-card-header pointer (click)="customer.show = !customer.show">
                  <ion-card-title flex center-ver>
                    <span weight600 font-18 text-secondary>{{customer.company}}</span>
                    <span class="spacer"></span>
                    <fa-icon pointer titleIcon font-20 [icon]="icon.get('faPen')" chevron *ngIf="customer.show" (click)="editCustomer(customer,$event)"></fa-icon>
                    <fa-icon pointer titleIcon font-24 [icon]="icon.get('faChevronDown')" chevron [ngStyle]="{'transform': customer.show ? 'rotate(180deg)' : 'rotate(0deg)'}"></fa-icon>
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content *ngIf="customer.show">
                  <ion-row>
                    <ion-col [size]="media.smallDevice ? 12 : 6">
                      <div *ngIf="customer.email" flex center-ver>
                        <a href="mailto:{{customer.email}}">
                          <fa-icon marginRight font-16 text-secondary [icon]="icon.get('faEnvelope')"></fa-icon>
                          <span font-14>{{customer.email}}</span>
                        </a>
                      </div>
                    </ion-col>
                    <ion-col [size]="media.smallDevice ? 12 : 6">
                      <div *ngIf="customer.phone" flex center-ver>
                        <a href="tel:{{customer.phone}}">
                          <fa-icon marginRight font-16 text-secondary [icon]="icon.get('faPhone')"></fa-icon>
                          <span font-14>{{customer.phone}}</span>
                        </a>
                      </div>
                    </ion-col>
                  </ion-row>

                  <ion-card-header pointer>
                    <ion-card-title flex center-ver>
                      <span weight600 text-secondary>{{'customers.sold_trainings' | translate}}</span>
                      <span class="spacer"></span>
                      <fa-icon pointer titleIcon font-20 [icon]="icon.get('faPlus')" chevron (click)="addTraining(customer)"></fa-icon>
                    </ion-card-title>
                  </ion-card-header>

                  <div *ngIf="!customer.trainings?.length">
                    <ion-item>
                      <span weight400 text-secondary italic>{{'customers.no_trainings' | translate}}</span>
                    </ion-item>
                  </div>

                  <div *ngIf="customer.trainings?.length">
                    <ion-card marginBottom basicPadding borderPrimary  fullwidth *ngFor="let training of customer.trainings | sortBy : -1 : 'timestamp'">
                      <ion-card-title pointer (click)="training.show=!training.show" flex center-ver>
                        <span weight600>{{trainerService.getTraining(training.trainingId).title}} - € {{training.price.totalPriceExcl | number : '1.2-2'}}</span>
                        <!-- <span marginLeft weight400 font-14 lowercase>({{training.user.email}})</span> -->
                        <span class="spacer"></span>
                        <span textMedium italic weight500>{{helper.showLocalDate(training.timestamp,'',0,true)}}</span>
                        <fa-icon pointer titleIcon font-24 [icon]="icon.get('faChevronDown')" chevron [ngStyle]="{'transform': training.show ? 'rotate(180deg)' : 'rotate(0deg)'}"></fa-icon>

                      <!-- <fa-icon pointer titleIcon font-24 *ngIf="trainerService.trainingItem?.status=='published'" (click)="sendEmail(training.user.email)" [icon]="icon.get('faEnvelope')"></fa-icon> -->
                      </ion-card-title>
                      <ion-card-content *ngIf="training.show">
                        <div flex center-ver>
                          <span font-18 weight600>{{'customers.users' | translate}}:</span>
                          <div class="spacer"></div>
                          <fa-icon pointer titleIcon font-20 [icon]="icon.get('faPlus')" chevron (click)="addTraining(customer,training)"></fa-icon>
                        </div> 
                        <div *ngIf="!listUsers(customer,training).length">
                          <ion-item>
                            <span weight400 text-secondary italic>{{'customers.no_customers' | translate}}</span>
                          </ion-item>
                        </div>
                        <div *ngIf="listUsers(customer,training)?.length" marginBottom>
                          <ion-list>
                            <ion-item *ngFor="let user of listUsers(customer,training) | sortBy : 1 : 'name'">
                              <fa-icon marginRight font-16 text-secondary [icon]="icon.get('faUser')"></fa-icon>
                              <span font-14>{{user.displayName}} ({{user.email}})</span>
                            </ion-item>
                          </ion-list>
                        </div>
                      </ion-card-content>
                    </ion-card>
                  </div>
                
                </ion-card-content>
              </ion-card>
            </div>


        </ion-col>
      </ion-row>
    </ion-grid>