<app-header [inactiveCredits]="true"></app-header>
<main>
  <ion-grid>
    <ion-row basicPadding>
      <ion-col [size]="media.smallDevice ? 12 : 7" basicPadding *ngIf="step!=7">
        <div class="videoDiv" relative>
          <video #myVideo controls muted playsinline [ngStyle]="{'height':media.screenSize=='xs' ? '300px' : '600px'} ">
            <source [src]="'https://storage.googleapis.com/lwai-3bac8.firebasestorage.app/tutorials/welcome_'+translate.currentLang+'.mp4'" type="video/mp4">
          </video>
          <div class="overlappingVideo" *ngIf="!video_started">
            {{counter}}
          </div>
        </div>
        <div *ngIf="!auth.activeCourses?.length&&!auth.myOrganisationsList?.length&&step!=0&&!media.smallDevice" center marginTop>
          <ion-button class="saveButton" fill="outline" color="primary" (click)="stopVideo();nav.go('start/cases/search')">{{'page_wait_verify.skip_intro' | translate}}</ion-button>
        </div>
        <div *ngIf="auth.activeCourses?.length" center marginTop>
          <ion-button class="saveButton" fill="outline" color="primary" (click)="stopVideo();nav.go('start/my_trainings')">{{'page_wait_verify.direct_my_trainings' | translate}}</ion-button>
        </div>
        <div *ngIf="auth.myOrganisationsList?.length && !auth.activeCourses?.length" center marginTop>
          <ion-button class="saveButton" fill="outline" color="primary" (click)="stopVideo();nav.go('start/my_organisation')">{{'page_wait_verify.direct_my_organisation' | translate}}</ion-button>
        </div>
      </ion-col>
      <ion-col [size]="media.smallDevice || step==7 ? 12 : 5" basicPadding>

        <div *ngIf="step==0&&!loading">
          <h2 align-center>{{'page_wait_verify.success' | translate}}</h2>
          <div font-18 marginBottom align-center>{{'page_wait_verify.step_0_text' | translate}}</div>
          
          <code-input marginBottom class="codeInput"
              [isCodeHidden]="false"
              [codeLength]="6"
              (codeChanged)="onCodeChanged($event)"
              (codeCompleted)="onCodeCompleted($event)">
          </code-input>   
          <div text-danger center weight500 marginBottom *ngIf="verifyCode.invalid">{{'page_wait_verify.code_invalid' | translate}}</div>
          <div text-danger center weight500 marginBottom *ngIf="verifyCode.expired">{{'page_wait_verify.code_expired' | translate}}</div>
          <div text-success center weight500 marginBottom *ngIf="verifyCode.valid">{{'page_wait_verify.code_valid' | translate}}</div>
          <div center>
            <ion-button class="saveButton" color="dark" fill="outline" (click)="resend()">{{'page_wait_verify.resend' | translate}}</ion-button>
            <ion-button marginTop class="saveButton" color="medium" style="opacity: 0.6;" fill="outline" (click)="verifyOption()">{{'page_wait_verify.verify_option_button' | translate}}</ion-button>
          </div>
          <div basicPadding italic align-center *ngIf="emailResend &&!showVerifyOption">{{emailResend}}</div>
        </div>

        <div *ngIf="step==1&&!loading">
          <h2 align-center>{{'page_wait_verify.start' | translate}}</h2>
          <div font-18 marginBottom align-center>{{'page_wait_verify.step_1_text' | translate}}</div>
          
          <h3 font-20 weight700 style="margin-left:15px">{{'page_wait_verify.first_name' | translate}}</h3>
          <ion-item detail="false"  noBackground lines="none" class="fieldItem" style="--padding-start:0;" marginBottom>
            <ion-input class="saveButton" borderRadius24 [placeholder]="translate.instant('first_name')" type="text" [(ngModel)]="displayName" (ionBlur)="updateName()"></ion-input>
          </ion-item>

          <div center-ver flex>
            <!-- <ion-button class="saveButton" color="primary" (click)="selectTypes(currentFilterTypes.types)">{{'page_wait_verify.set' | translate}}</ion-button> -->
            <div class="spacer"></div>
            <ion-button class="saveButton" color="dark" fill="outline" (click)="next(step)">{{'buttons.next' | translate}}</ion-button>
          </div>
        </div>

        <div *ngIf="step==2&&!loading">
          <h2 align-center>{{'page_wait_verify.step_2_title' | translate}}</h2>
          <div font-18 marginBottom align-center>{{'page_wait_verify.step_2_text' | translate}}</div>
          
          <div class="selectors" marginBottom>
            <div *ngFor="let option of useOptions">
              <div class="selectItem" (click)="option.selected=!option.selected" [ngStyle]="{'background':option.selected?'var(--color-global)':'white','color':option.selected?'white':'var(--color-global)'}">
                {{'useOptions.'+option.id | translate}}
              </div>
            </div>
          </div>

          <div center-ver flex>
            <ion-button class="saveButton" color="dark" fill="outline" (click)="prev()">{{'buttons.back' | translate}}</ion-button>
            <div class="spacer"></div>
            <ion-button class="saveButton" [disabled]="!itemsSelected('useOptions')" color="dark" fill="outline" (click)="save('useOptions')">{{'buttons.next' | translate}}</ion-button>
          </div>
        </div>

        <div *ngIf="step==3&&!loading">
          <h2 align-center>{{'page_wait_verify.step_3_title' | translate}}</h2>
          <div font-18 marginBottom align-center>{{'page_wait_verify.step_3_text' | translate}}</div>
          
          <div class="selectors" marginBottom>
            <!-- <div *ngFor="let option of situationOptions"> -->
              <div *ngFor="let option of situationOptions" class="selectItem" (click)="option.selected=!option.selected" [ngStyle]="{'background':option.selected?'var(--color-global)':'white','color':option.selected?'white':'var(--color-global)'}">
                {{'situationOptions.'+option.id | translate}}
              </div>
            <!-- </div> -->
          </div>

          <div center-ver flex>
            <ion-button class="saveButton" color="dark" fill="outline" (click)="prev()">{{'buttons.back' | translate}}</ion-button>
            <div class="spacer"></div>
            <ion-button class="saveButton" [disabled]="!itemsSelected('situationOptions')" color="dark" fill="outline" (click)="save('situationOptions')">{{'buttons.next' | translate}}</ion-button>
          </div>
        </div>

        <div *ngIf="step==4&&!loading">
          <h2 align-center>{{'page_wait_verify.step_4_title' | translate}}</h2>
          <div font-18 marginBottom align-center>{{'page_wait_verify.step_4_text' | translate}}</div>
          
          <div class="selectors" marginBottom>
            <div *ngFor="let option of experienceOptions">
              <div class="selectItem" (click)="selectSingle('experienceOptions',option)" [ngStyle]="{'background':option.selected?'var(--color-global)':'white','color':option.selected?'white':'var(--color-global)'}">
                {{'experienceOptions.'+option.id | translate}}
              </div>
            </div>
          </div>

          <div center-ver flex>
            <ion-button class="saveButton" color="dark" fill="outline" (click)="prev()">{{'buttons.back' | translate}}</ion-button>
            <div class="spacer"></div>
            <ion-button class="saveButton" [disabled]="!itemsSelected('experienceOptions')" color="dark" fill="outline" (click)="save('experienceOptions')">{{'buttons.next' | translate}}</ion-button>
          </div>
        </div>
        
        <div *ngIf="step==5&&!loading">
          <h2 align-center>{{'page_wait_verify.step_5_title' | translate}}</h2>
          <div font-18 marginBottom align-center>{{'page_wait_verify.step_5_text' | translate}}</div>
          
          <div class="selectors" marginBottom>
            <div *ngFor="let option of situationOptions">
              <div class="selectItem" *ngIf="option.selected" (click)="startWith(option)" [ngStyle]="{'background':option.id==singleUse.id?'var(--color-global)':'white','color':option.id==singleUse.id?'white':'var(--color-global)'}">
                {{'situationOptions.'+option.id | translate}}
              </div>
            </div>
          </div>

          <div center-ver flex>
            <ion-button class="saveButton" color="dark" fill="outline" (click)="prev()">{{'buttons.back' | translate}}</ion-button>
            <div class="spacer"></div>
            <!-- <ion-button class="saveButton" [disabled]="!itemsSelected('experienceOptions')" color="dark" fill="outline" (click)="save('experienceOptions')">{{'buttons.next' | translate}}</ion-button> -->
          </div>
        </div>

        <div *ngIf="step==6&&!loading">
          <h2 align-center>{{'page_wait_verify.step_6_title' | translate}}</h2>
          <div font-18 marginBottom align-center>{{'page_wait_verify.step_6_text_'+singleUse.id | translate}}</div>
          
          <div class="selectors" marginBottom>
            <!-- <div *ngFor="let option of singleUse.subjects"> -->
              <div class="selectItem" *ngFor="let option of singleUse.subjects" (click)="selectedSubject!=''? doNothing() : startWithSubject(option)" [ngStyle]="{'background':option==selectedSubject?'var(--color-global)':'white','color':option==selectedSubject?'white':'var(--color-global)'}">
                {{infoService.getConversationType('',option)[translate.currentLang]}}
              </div>
            <!-- </div> -->
          </div>

          <div center-ver flex>
            <ion-button class="saveButton" color="dark" fill="outline" (click)="prev()">{{'buttons.back' | translate}}</ion-button>
            <div class="spacer"></div>
            <!-- <ion-button class="saveButton" [disabled]="!itemsSelected('experienceOptions')" color="dark" fill="outline" (click)="save('experienceOptions')">{{'buttons.next' | translate}}</ion-button> -->
          </div>
        </div>

        <div *ngIf="step==7&&!loading">
          <h2 align-center>{{'page_wait_verify.step_7_title' | translate}}</h2>
          <div font-18 marginBottom align-center *ngIf="suggestionCases.length>1">{{'page_wait_verify.step_7_text' | translate}}</div>
          <div font-18 marginBottom align-center *ngIf="suggestionCases.length==1">{{'page_wait_verify.step_7_text_single' | translate}}</div>
          
          <div>
            <ion-row class="selectColumn" flex center-hor style="padding-right:0px">
              <ng-container *ngIf="!media.smallDevice">
                <ion-col [size]="helper.cardSize" *ngFor="let caseItem of suggestionCases | maxLength:((auth.activeCourses?.length || auth.myOrganisationsList?.length) ? 1 : 2);let i = index">
                    <ion-card [id]="'case_card'+i" noPadding pointer fullheight class="'caseItem" (click)="showCaseInfo(caseItem)">
                        <ion-card-content noPadding fullHeight>
                            <div backgroundImage class="avatarImage" *ngIf="caseItem.photo" [ngStyle]="{'background-image': 'url(' + caseItem.photo + ')'}"></div>
                            <div backgroundImage class="avatarImage" *ngIf="!caseItem.photo" [ngStyle]="{'background-image': 'url(assets/img/default_avatar.png)'}"></div>
                            <div *ngIf="caseItem.avatarName" class="videoAvatarBadge">{{'cases.badge_video' | translate}}</div>
                            <div flex center center-ver center-hor style="height:calc(100% - 275px)">
                                <ion-card-header>
                                    <ion-card-title font-18 weight600>{{caseItem.title}}</ion-card-title>
                                    <ion-card-subtitle font-14 weight400>{{caseItem.user_info | maxLength : 60 : true}}</ion-card-subtitle>
                                </ion-card-header>
                            </div>
                            <div center flex center-ver center-hor>  
                                <ion-button class="saveButton creditButton" style="border-radius:100%" [ngStyle]="{'background':levelService.levelColor(caseItem.level)}" fill="outline" size="small">
                                    <div>
                                        <div [ngStyle]="{'color':levelService.levelColorText(caseItem.level)}">{{caseItem.level}}</div>
                                        <div font-12 [ngStyle]="{'color':levelService.levelColorTextLevel(caseItem.level)}">{{'standards.level' | translate}}</div>
                                    </div>
                                </ion-button>
                                <div class="spacer"></div>
                                <ion-button class="saveButton cardButton" fill="outline" size="small" (click)="startConversation(caseItem,$event)">{{'cases.start_conversation' | translate}}</ion-button>
                            </div>
                        </ion-card-content>
                    </ion-card>
  
                </ion-col>
                <ion-col [size]="helper.cardSize">
                  <ion-card noPadding pointer fullheight class="'caseItem skipSuggestion" flex center-ver center-hor (click)="skipSuggestion()">
                    <ion-card-content noPadding fullHeight>
                      <div backgroundImage class="avatarImage" [ngStyle]="{'background-image': 'url(https://storage.googleapis.com/lwai-3bac8.firebasestorage.app/user_uploads/Jh6S3CgjoFRoS99AHlywQCYsgjG3_1743807963017.webp)'}"></div>
                      <div flex center center-ver center-hor style="height:calc(100% - 275px)">
                          <ion-card-header>
                              <ion-card-title font-18 weight600>{{'page_wait_verify.skip_suggestion_title' | translate}}</ion-card-title>
                              <ion-card-subtitle font-14 weight400>{{'page_wait_verify.skip_suggestion_text' | translate}}</ion-card-subtitle>
                          </ion-card-header>
                      </div>
                      <div center flex center-ver center-hor>  

                          <ion-button class="saveButton cardButton" fill="outline" size="small">{{'page_wait_verify.skip_suggestion_button' | translate}}</ion-button>
                      </div>
                  </ion-card-content>

                  </ion-card>
                </ion-col>

                <ion-col [size]="helper.cardSize" *ngIf="auth.activeCourses?.length">
                  <ion-card noPadding pointer fullheight class="'caseItem skipSuggestion" flex center-ver center-hor (click)="stopVideo();nav.go('start/my_trainings')">
                    <ion-card-content noPadding fullHeight fullWidth>
                      <div backgroundImage class="avatarImage" [ngStyle]="{'background-image': 'url(' + auth.activeCourses[0]?.photo + ')'}"></div>
                      <div flex center center-ver center-hor style="height:calc(100% - 275px)">
                          <ion-card-header>
                              <ion-card-title font-18 weight600>{{auth.activeCourses[0]?.title}}</ion-card-title>
                              <ion-card-subtitle font-14 weight400>{{'page_wait_verify.direct_my_trainings' | translate}}</ion-card-subtitle>
                          </ion-card-header>
                      </div>
                      <div center flex center-ver center-hor>  

                          <ion-button class="saveButton cardButton" fill="outline" size="small">{{'page_wait_verify.step_7_title' | translate}}</ion-button>
                      </div>
                  </ion-card-content>

                  </ion-card>
                </ion-col>

                <ion-col [size]="helper.cardSize" *ngIf="!auth.activeCourses?.length && auth.myOrganisationsList?.length">
                  <ion-card noPadding pointer fullheight class="'caseItem skipSuggestion" flex center-ver center-hor (click)="stopVideo();nav.go('start/my_organisation')">
                    <ion-card-content noPadding fullHeight>
                      <div backgroundImage class="avatarImage" [ngStyle]="{'background-image': 'url(' + auth.mySelectedOrganisation.logo + ')'}" style="background-size: contain"></div>
                      <div flex center center-ver center-hor style="height:calc(100% - 275px)">
                          <ion-card-header>
                              <ion-card-title font-18 weight600>{{auth.mySelectedOrganisation.name}}</ion-card-title>
                              <ion-card-subtitle font-14 weight400>{{'page_wait_verify.direct_my_organisation' | translate}}</ion-card-subtitle>
                          </ion-card-header>
                      </div>
                      <div center flex center-ver center-hor>  

                          <ion-button class="saveButton cardButton" fill="outline" size="small">{{'page_wait_verify.step_7_title' | translate}}</ion-button>
                      </div>
                  </ion-card-content>

                  </ion-card>
                </ion-col>

              </ng-container>


              <ng-container *ngIf="media.smallDevice">
                <ion-col [size]="12" *ngFor="let caseItem of suggestionCases | maxLength:2;let i = index">

                    <ion-card class="'caseItemSm" [id]="'case_card'+i" noMargin basicPadding pointer flex align-top style="border-radius:16px;width:calc(100% - 10px)" (click)="showCaseInfo(caseItem)"><!--" : startConversation(caseItem)">-->
                        <div style="width:100px;">
                            <div backgroundImage fullwidth fullheight class="avatarImage avatarSmall" *ngIf="caseItem.photo" [ngStyle]="{'background-image': 'url(' + caseItem.photo + ')'}"></div>
                            <div backgroundImage fullwidth fullheight class="avatarImage avatarSmall" *ngIf="!caseItem.photo" [ngStyle]="{'background-image': 'url(assets/img/default_avatar.png)'}"></div>
                            
                        </div>
                        
                        <div flex flex-column fullwidth style="height: 135px;">
                            <ion-card-header style="padding:0px 10px;flex-direction:column" >
                                <ion-card-title font-18 weight600>{{caseItem.title}}</ion-card-title>
                                <ion-card-subtitle style="text-transform:none" font-14 weight500>{{caseItem.user_info | maxLength : 80 : true}}</ion-card-subtitle>
                            </ion-card-header>
                            <span class="spacer"></span>
                            <div flex center-ver fullwidth class="arrowDiv">
                                <span class="spacer"></span>
                                <span font-18 text-secondary weight600 relative style="top:-2px">{{'cases.start_conversation' | translate}}</span>
                                <fa-icon font-24 titleIcon [icon]="icon.get('faArrowRight')"></fa-icon>
                            </div>
                        </div>
                    </ion-card>
                </ion-col>

                <ion-col [size]="12">

                  <ion-card class="'caseItemSm" noMargin basicPadding pointer flex align-top style="border-radius:16px;width:calc(100% - 10px)" (click)="skipSuggestion()">
                      <div style="width:100px;">
                          <div backgroundImage fullwidth fullheight class="avatarImage avatarSmall" [ngStyle]="{'background-image': 'url(https://storage.googleapis.com/lwai-3bac8.firebasestorage.app/user_uploads/Jh6S3CgjoFRoS99AHlywQCYsgjG3_1743807963017.webp)'}"></div>
                          
                      </div>
                      
                      <div flex flex-column fullwidth style="height: 135px;">
                          <ion-card-header style="padding:0px 10px;flex-direction:column" >
                              <ion-card-title font-18 weight600>{{'page_wait_verify.skip_suggestion_title' | translate}}</ion-card-title>
                              <ion-card-subtitle style="text-transform:none" font-14 weight500>{{'page_wait_verify.skip_suggestion_text' | translate}}</ion-card-subtitle>
                          </ion-card-header>
                          <span class="spacer"></span>
                          <div flex center-ver fullwidth class="arrowDiv">
                              <span class="spacer"></span>
                              <span font-18 text-secondary weight600 relative style="top:-2px">{{'cases.start_conversation' | translate}}</span>
                              <fa-icon font-24 titleIcon [icon]="icon.get('faArrowRight')"></fa-icon>
                          </div>
                      </div>
                  </ion-card>
              </ion-col>

            </ng-container>

            </ion-row>
          </div>
          

        </div>

        <div *ngIf="!auth.activeCourses?.length&&!auth.myOrganisationsList?.length&&step!=0&&media.smallDevice&&step!=0&&step!=7" center marginTop>
          <ion-button class="saveButton" fill="outline" color="primary" (click)="stopVideo();nav.go('start/cases/search')">{{'page_wait_verify.skip_intro' | translate}}</ion-button>
        </div>

        <!-- <div style="background:white;border-radius:24px;box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.2)" basicPadding *ngIf="!allSaved">
          <h2 align-center>{{'page_wait_verify.success' | translate}}</h2>
          <div marginBottom align-center>{{'page_wait_verify.question_title' | translate}}</div>
          
          <h3 font-20 weight700 style="margin-left:15px">{{'page_wait_verify.first_name' | translate}}</h3>
          <ion-item detail="false" lines="none" class="fieldItem" style="--padding-start:0;" marginBottom>
            <ion-input class="saveButton" borderRadius24 [placeholder]="translate.instant('first_name')" type="text" [(ngModel)]="displayName" (ionBlur)="updateName()"></ion-input>
          </ion-item>

            <h3 font-20 weight700 style="margin-left:15px">{{'languages.country' | translate}}</h3>
            <ion-item detail="false" lines="none" class="fieldItem" style="--padding-start:0;" (click)="showCountryPicker()">
              <div class="select">
                <ion-thumbnail slot="start" *ngIf="auth.userInfo?.country" style="--size:30px;width:35px;height:25px;">
                  <img [src]="countries.country(auth.userInfo.country).flag">
                </ion-thumbnail>
                <div class="text" *ngIf="auth.userInfo?.country">{{countries.country(auth.userInfo.country).country}}</div>
              </div>
            </ion-item>

          <h3 flex center-ver font-20 weight700 style="margin-left:15px">
            <span>{{'page_wait_verify.preferences' | translate}}</span>
            <div class="spacer"></div>
          </h3>
          <p style="padding:0 15px">{{'page_wait_verify.preferences_text' | translate}}</p>
          <div flex center-ver style="margin-left:15px">
            <ion-button class="saveButton" fill="outline" color="secondary" (click)="allSaved=true">{{'page_wait_verify.skip' | translate}}</ion-button>
            <div class="spacer"></div>
            <ion-button class="saveButton" color="primary" (click)="selectTypes(currentFilterTypes.types)">{{'page_wait_verify.set' | translate}}</ion-button>
          </div>
          <div *ngIf="conversationTypesLoaded">

          </div>


        </div> -->

        <!-- <div style="background:white;border-radius:24px;box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.2)" basicPadding *ngIf="allSaved">
          <h2 align-center>Dank je wel!</h2>
          <div marginBottom align-center style="line-height:1.5">{{'page_wait_verify.verify_email' | translate}}</div>
          <div flex center-ver>
            <span class="spacer"></span>
            <ion-button *ngIf="!isVerified" class="saveButton" color="dark" fill="outline" (click)="resend()">{{'page_wait_verify.resend' | translate}}</ion-button>
            <ion-button *ngIf="isVerified" class="saveButton" color="primary" (click)="nav.go('start')">{{'page_wait_verify.start' | translate}}</ion-button>
            <span class="spacer"></span>
          </div>
          <div basicPadding italic align-center *ngIf="emailResend">{{emailResend}}</div>
        </div> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</main>

