
<app-header page="trainer"></app-header>
<main class="trainerPage">
    <ion-toolbar class="buttonBar" *ngIf="!media.smallDevice">
      <div style="width:100%" center-hor flex>
          <div style="max-width: 1350px;width:100%;padding:5px 15px 0px 15px">
              <ion-row >
                <ion-col size="2" noPadding>
                  <ion-card pointer center class="topButton" notActive (click)="trainerService.emptyBreadCrumbs();modulesBreadCrumbs=[];nav.go('trainer/dashboard')">
                      <ion-card-title>{{'dashboard.organisation' | translate}}</ion-card-title>
                  </ion-card>
                </ion-col>
                <ion-col size="2" noPadding>
                  <ion-card pointer center class="topButton notActive" (click)="trainerService.emptyBreadCrumbs();modulesBreadCrumbs=[];nav.go('trainer/cases')">
                      <ion-card-title>{{'standards.cases' | translate}}</ion-card-title>
                  </ion-card>
                </ion-col>
                <ion-col size="2" noPadding>
                  <ion-card pointer center class="topButton" [ngClass]="{'isActive': type=='infoItem','notActive': type!='infoItem'}" (click)="trainerService.emptyBreadCrumbs();modulesBreadCrumbs=[];nav.go('trainer/info-items')">
                      <ion-card-title>{{'buttons.knowledge' | translate}}</ion-card-title>
                  </ion-card>
                </ion-col>
                <ion-col size="2" noPadding>
                  <ion-card pointer center class="topButton" [ngClass]="{'isActive': type=='module','notActive': type!='module'}" (click)="trainerService.emptyBreadCrumbs();modulesBreadCrumbs=[];nav.go('trainer/modules')">
                      <ion-card-title>{{'standards.modules' | translate}}</ion-card-title>
                  </ion-card>
                </ion-col>
                <ion-col size="2" noPadding>
                  <ion-card pointer center class="topButton" [ngClass]="{'isActive': type=='training','notActive': type!='training'}" (click)="trainerService.emptyBreadCrumbs();modulesBreadCrumbs=[];nav.go('trainer/trainings')">
                      <ion-card-title>{{'standards.trainings' | translate}}</ion-card-title>
                  </ion-card>
                </ion-col>
                <ion-col size="2" noPadding>
                  <ion-card id="menu_trainings" pointer center class="topButton notActive" (click)="trainerService.emptyBreadCrumbs();nav.go('trainer/customers')">
                      <ion-card-title>{{'standards.customers' | translate}}</ion-card-title>
                  </ion-card>
                </ion-col>
              </ion-row>
          </div>
      </div>
    </ion-toolbar>
    <div *ngIf="media.smallDevice" class="buttonBarMobile">
      <app-menu-mobile (action)="useAction($event)" [pageParam]="setPageParam()"></app-menu-mobile>
      <app-menu-mobile [subMenu]="true" [options]="setOptionsParam()" (action)="useAction($event)"></app-menu-mobile>
    </div>
    <div *ngIf="media.smallDevice" class="buttonBarMobileBackground"></div>

    <ion-grid>

      <ion-row style="height:calc(100% - 75px)" [ngStyle]="{'margin-top': media.smallDevice ? '60px' : '60px'}">

        <ion-col  *ngIf="!media.smallDevice" [size]="media.smallDevice ? 12 : 3" class="selectColumn">
          
          <div style="background:white;padding:10px 0px;border-radius:16px;margin-top:15px" marginBottom *ngIf="trainerService.trainerInfo.logo">
              <div fullwidth style="height:100px">
                  <img [src]="trainerService.trainerInfo.logo" style="width:100%;height:100%;border-radius:16px;object-fit:contain;">
              </div> 
          </div>

          <div style="background:white;padding:10px 0px;border-radius:16px;margin-top:15px;text-align:center;" marginBottom *ngIf="!trainerService.trainerInfo.logo">
              <div fullwidth style="height:100px">
                  <div font-30 flex center-ver center-hor fullheight weight700 uppercase>{{trainerService.trainerInfo.name}}</div>
              </div> 
          </div>

          <div style="padding:10px 0px;border-radius:16px;margin-top:15px"  class="notActiveItem" *ngIf="!latestBreadCrumbs.type">
            <ion-item detail="false" lines="none" button (click)="backToEdit()" class="itemButton"  noMargin>
                <div font-20 weight700>{{'buttons.back' | translate}}</div>
                <fa-icon font-24 slot="end" [icon]="icon.get('faArrowLeft')"></fa-icon>
            </ion-item>
          </div>

          <div style="padding:10px 0px;border-radius:16px;margin-top:15px"  class="notActiveItem" *ngIf="latestBreadCrumbs.type">
            <ion-item detail="false" lines="none" button (click)="backBreadCrumbs()" class="itemButton"  noMargin>
                <div font-20 weight700>{{'buttons.back' | translate}}</div>
                <fa-icon font-24 slot="end" [icon]="icon.get('faLevelUp')"></fa-icon>
            </ion-item>
          </div>

          <div *ngIf="!media.smallDevice&& exampleItem(type,id) && type!='module' && type!='infoItem'" class="agenda" >
            <div font-20 weight700 style="padding:0 10px 10px 15px;border-bottom:solid 1px var(--ion-color-light-shade)">{{'trainings.content' | translate}}</div>
            <app-training-list-item 
                *ngFor="let item of exampleItem(type,id).items"
                [item]="item"
                [openPathIds]="openPathIds"
                [path]="[item.id]"
                (pathSelected)="setOpenPath($event)"
                (itemSelected)="selectMenuTrainingItem($event)"
                [active]="isActiveItem(item)"
                [itemMenuIsActive]="isActiveItem.bind(this)"
            ></app-training-list-item>
          </div>


        </ion-col>

        <ion-col id="mainContent" [size]="media.smallDevice ? 12 : 9" class="selectColumn" *ngIf="itemsLoaded&&exampleItem(type,id)?.id">
          <ng-container *ngIf="exampleItem(type,id)?.id && latestBreadCrumbs.type!='infoItem' && type != 'infoItem'"> 
            <ion-col size="12">
                  <ion-card basicPadding>
                      <ion-card-title basicPaddingLeft upperCase marginBottom font-20 weight600 *ngIf="!modulesBreadCrumbs.length">{{exampleItem(type,id).title}}</ion-card-title>
                      <ion-card-title basicPaddingLeft upperCase marginBottom font-20 weight600 *ngIf="modulesBreadCrumbs.length">{{modulesBreadCrumbs[modulesBreadCrumbs.length-1].title}}</ion-card-title>
                      <ion-card-content>
                        <div font-16 weight500 *ngIf="!modulesBreadCrumbs.length" [innerHTML]="helper.convertLines(exampleItem(type,id).user_info)"></div>
                        <div font-16 weight500 *ngIf="modulesBreadCrumbs.length" [innerHTML]="helper.convertLines(modulesBreadCrumbs[modulesBreadCrumbs.length-1].user_info)"></div>
                      </ion-card-content>
                  </ion-card>
              </ion-col>

              <ion-row basicPadding>
                  <!-- <ion-col [size]="helper.cardSizeSmall" *ngIf="modulesBreadCrumbs.length"> -->
                      <!-- <ion-card class="backArrowModule" pointer noBackground noPadding fullheight noMargin flex center-ver center-hor (click)="backBreadCrumbs()">
                        <fa-icon font-80 weight700 [icon]="icon.get('faArrowLeft')"></fa-icon>
                      </ion-card> -->
                      
                      <!-- <ion-card noPadding pointer fullheight caseCard (click)="backBreadCrumbs()">
                          <ion-card-content noPadding fullHeight>
                              <div backgroundImage class="avatarImage" *ngIf="modulesBreadCrumbs.length>1 ? modulesBreadCrumbs[modulesBreadCrumbs.length-2].photo : exampleItem(type,id).photo" [ngStyle]="{'background-image':  (modulesBreadCrumbs.length>1 ? 'url(' + modulesBreadCrumbs[modulesBreadCrumbs.length-2].photo + ')' :  'url(' + exampleItem(type,id).photo + ')')}"></div>
                              <div backgroundImage class="avatarImage" *ngIf="!(modulesBreadCrumbs.length>1 ? modulesBreadCrumbs[modulesBreadCrumbs.length-2].photo : exampleItem(type,id).photo)" [ngStyle]="{'background-image': 'url(assets/img/default_avatar.png)'}"></div>
                              <div flex center center-ver center-hor style="height:calc(100% - 275px)">
                                  <ion-card-header>
                                      <ion-card-title font-18 weight600>{{'buttons.back_to' | translate}}</ion-card-title>
                                      <ion-card-subtitle font-14 weight400>{{modulesBreadCrumbs.length>1 ? modulesBreadCrumbs[modulesBreadCrumbs.length-2].title : exampleItem(type,id).title}}</ion-card-subtitle>
                                  </ion-card-header>
                              </div>
                              <div center flex center-ver center-hor>
                                  <ion-button class="saveButton cardButton" fill="outline" size="small">{{'buttons.back' | translate}}</ion-button>
                              </div>
                          </ion-card-content>
                      </ion-card>
                      <ion-card noMargin noPadding pointer fullheight caseCard multipleCardModule></ion-card>
                      <ion-card noMargin noPadding pointer fullheight caseCard multipleCardModule2></ion-card> -->
                        

                  <!-- </ion-col> -->

                  <ion-col marginBottom [size]="helper.cardSizeSmall" *ngFor="let item of (modulesBreadCrumbs.length ? modulesBreadCrumbs[modulesBreadCrumbs.length-1].items : exampleItem(type,id).items); let i = index">
                      
                    <ion-card noMargin noPadding pointer fullheight caseCard top10 *ngIf="item.type=='case'" (click)="showCaseInfo(exampleItem(item.type,item.id))">  
                          <ion-card-content noPadding fullHeight>
                            <div backgroundImage class="avatarImage" *ngIf="exampleItem(item.type,item.id).photo" [ngStyle]="{'background-image': 'url(' + exampleItem(item.type,item.id).photo + ')'}"></div>
                            <div backgroundImage class="avatarImage" *ngIf="!exampleItem(item.type,item.id).photo" [ngStyle]="{'background-image': 'url(assets/img/default_avatar.png)'}"></div>
                            <div *ngIf="exampleItem(item.type,item.id).available_date || exampleItem(item.type,item.id).available_till" class="videoAvatarBadge" borderRadius8>
                                  <span *ngIf="exampleItem(item.type,item.id).available_date" color="secondary" font-12>{{'trainings.available_date' | translate}} {{exampleItem(item.type,item.id).available_date | date:translate.instant('date_formats_angular.short')}}</span>
                                  <span *ngIf="exampleItem(item.type,item.id).available_till && exampleItem(item.type,item.id).available_date"> {{'trainings.until' | translate}} {{exampleItem(item.type,item.id).available_till | date:translate.instant('date_formats_angular.short')}}</span>
                                  <span *ngIf="exampleItem(item.type,item.id).available_till && !exampleItem(item.type,item.id).available_date" color="secondary" font-12>{{'trainings.available_till' | translate}} {{exampleItem(item.type,item.id).available_till | date:translate.instant('date_formats_angular.short')}}</span>
                              </div>
                            <div flex center center-ver center-hor style="height:calc(100% - 275px)">
                              <ion-card-header>
                                <ion-card-title font-18 weight600>{{exampleItem(item.type,item.id).title}}</ion-card-title>
                                <ion-card-subtitle font-14 weight400>{{exampleItem(item.type,item.id).user_info | maxLength : 60 : true}}</ion-card-subtitle>
                              </ion-card-header>
                            </div>
                            <div center flex center-ver center-hor>
                              <ion-button class="saveButton creditButton" style="border-radius:100%" [ngStyle]="{'background':levelService.levelColor(item.level)}" fill="outline" size="small">
                                <div>
                                  <div [ngStyle]="{'color':levelService.levelColorText(exampleItem(item.type,item.id).level)}">{{exampleItem(item.type,item.id).level}}</div>
                                  <div font-12 [ngStyle]="{'color':levelService.levelColorTextLevel(exampleItem(item.type,item.id).level)}">{{'standards.level' | translate}}</div>
                                </div>
                              </ion-button>
                              <div class="spacer"></div>
                              <ion-button class="saveButton cardButton" fill="outline" size="small">{{'cases.start_conversation' | translate}}</ion-button>

                            </div>
                          </ion-card-content>
                      </ion-card>

                      <ion-card noMargin noPadding pointer fullheight caseCard top10 *ngIf="item.type=='infoItem'">
                          <ion-card-content noPadding fullHeight>
                              <div backgroundImage class="avatarImage" *ngIf="exampleItem(item.type,item.id).photo" [ngStyle]="{'background-image': 'url(' + exampleItem(item.type,item.id).photo + ')'}"></div>
                              <div backgroundImage class="avatarImage" *ngIf="!exampleItem(item.type,item.id).photo" [ngStyle]="{'background-image': 'url(assets/img/default_avatar.png)'}"></div>
                              <div *ngIf="exampleItem(item.type,item.id).available_date || exampleItem(item.type,item.id).available_till" class="videoAvatarBadge" borderRadius8>
                                  <span *ngIf="exampleItem(item.type,item.id).available_date" color="secondary" font-12>{{'trainings.available_date' | translate}} {{exampleItem(item.type,item.id).available_date | date:translate.instant('date_formats_angular.short')}}</span>
                                  <span *ngIf="exampleItem(item.type,item.id).available_till && exampleItem(item.type,item.id).available_date"> tot {{exampleItem(item.type,item.id).available_till | date:translate.instant('date_formats_angular.short')}}</span>
                                  <span *ngIf="exampleItem(item.type,item.id).available_till && !exampleItem(item.type,item.id).available_date" color="secondary" font-12>{{'trainings.available_till' | translate}} {{exampleItem(item.type,item.id).available_till | date:translate.instant('date_formats_angular.short')}}</span>
                              </div>
                              <div flex center center-ver center-hor style="height:calc(100% - 275px)">
                              <ion-card-header>
                                  <ion-card-title font-18 weight600>{{exampleItem(item.type,item.id).title}}</ion-card-title>
                                  <ion-card-subtitle font-14 weight400>{{exampleItem(item.type,item.id).user_info | maxLength : 60 : true}}</ion-card-subtitle>
                              </ion-card-header>
                              </div>
                              <div center flex center-ver center-hor>
                                  <div class="spacer"></div>
                                  <ion-button class="saveButton cardButton" fill="outline" size="small" (click)="selectTrainingItem(item)">{{'modules.open_module' | translate}}</ion-button>

                              </div>
                          </ion-card-content>
                      </ion-card>

                      <ion-card noPadding pointer fullheight caseCard *ngIf="item.type=='module'">
                          <ion-card-content noPadding fullHeight>
                              <div backgroundImage class="avatarImage" *ngIf="exampleItem(item.type,item.id).photo" [ngStyle]="{'background-image': 'url(' + exampleItem(item.type,item.id).photo + ')'}"></div>
                              <div backgroundImage class="avatarImage" *ngIf="!exampleItem(item.type,item.id).photo" [ngStyle]="{'background-image': 'url(assets/img/default_avatar.png)'}"></div>
                              <div *ngIf="item.trainer?.logo" class="videoAvatarBadge" borderRadius0>
                                  <img [src]="item.trainer.logo | sanitizeHtml : 'urlResource'" class="trainerLogo"/>
                              </div>
                              <div *ngIf="item.available_date || item.available_till" class="videoAvatarBadge" borderRadius8>
                                  <span *ngIf="item.available_date" color="secondary" font-12>{{'trainings.available_date' | translate}} {{item.available_date | date:translate.instant('date_formats_angular.short')}}</span>
                                  <span *ngIf="item.available_till && item.available_date"> tot {{item.available_till | date:translate.instant('date_formats_angular.short')}}</span>
                                  <span *ngIf="item.available_till && !item.available_date" color="secondary" font-12>{{'trainings.available_date' | translate}} {{item.available_till | date:translate.instant('date_formats_angular.short')}}</span>
                              </div>
                              <div flex center center-ver center-hor style="height:calc(100% - 275px)">
                                  <ion-card-header>
                                      <ion-card-title font-18 weight600>{{item.title}}</ion-card-title>
                                      <ion-card-subtitle font-14 weight400>{{item.user_info | maxLength : 60 : true}}</ion-card-subtitle>
                                  </ion-card-header>
                              </div>
                              <div center flex center-ver center-hor>
                                  <ion-button class="saveButton creditButton" style="border-radius:100%" fill="outline" size="small">
                                      <div>
                                          <div>{{item.items?.length ? item.items?.length : 0}}</div>
                                          <div font-12>{{'standards.items' | translate}}</div>
                                      </div>
                                  </ion-button>
                                  <div class="spacer"></div>
                                  <ion-button class="saveButton cardButton" fill="outline" size="small" (click)="selectSubModule(item)">{{'modules.open_module' | translate}}</ion-button>
                              </div>
                          </ion-card-content>
                      </ion-card>
                      <ion-card noMargin noPadding pointer fullheight caseCard multipleCardModule *ngIf="item.type=='module'"></ion-card>
                      <ion-card noMargin noPadding pointer fullheight caseCard multipleCardModule2 *ngIf="item.type=='module'"></ion-card>
                        
                      <!-- <ion-card *ngIf="itemIsFinished(item)" class="finishedItem">
                          <fa-icon [icon]="icon.get('faCheck')"></fa-icon>
                      </ion-card> -->
                  </ion-col>
              </ion-row>

          </ng-container>

          <ng-container *ngIf="exampleItem(type,id)?.id && type == 'infoItem' && !switchingItem">

              <ion-card fullwidth>
                  <ion-card-header>
                      <ion-card-title font-24 uppercase weight600 style="padding: 0 15px;">
                        <span>{{exampleItem(type,id).title}}</span>
                      </ion-card-title>
                  </ion-card-header>
                  <div basicPadding>
                      <div [innerHTML]="helper.convertLines(exampleItem(type,id).intro)" weight600 marginBottom  class="textContainer"></div>
                      <div *ngIf="exampleItem(type,id).extra_photo&&!exampleItem(type,id).conversation && exampleItem(type,id).type!='video'" style="height:400px;" marginBottom>
                        <img [src]="exampleItem(type,id).extra_photo" alt="" borderRadius24 style="width:100%;height:100%;object-fit:cover;">
                      </div>
                      <div *ngIf="exampleItem(type,id).type=='video' && exampleItem(type,id).video_url">
                        <video controls style="width:100%;height:500px;" *ngIf="exampleItem(type,id).video_url && !media.isYoutubeUrl(exampleItem(type,id).video_url) && !media.isVimeoUrl(exampleItem(type,id).video_url)" [controls]="true" [src]="media.videoUrl(exampleItem(type,id).video_url)">
                          <source [src]="media.videoUrl(exampleItem(type,id).video_url)" type="video/mp4">
                          Your browser does not support the video tag.
                        </video>
                        
                      <iframe *ngIf="exampleItem(type,id).video_url && media.isYoutubeUrl(exampleItem(type,id).video_url) || media.isVimeoUrl(exampleItem(type,id).video_url)" style="width:100%;height:500px;" [src]="exampleItem(type,id).video_url | sanitizeHtml : 'urlResource'" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                      </div>
                      <div *ngIf="exampleItem(type,id).type!='image_only'">
                        <div [innerHTML]="helper.convertSpaces(exampleItem(type,id).content) | sanitizeHtml" class="textContainer"></div>
                      </div>

                      <div marginTop *ngIf="exampleItem(type,id).files?.length">

                          <ion-card-title flex center-ver marginTop marginBottom>
                              <span weight600>{{'buttons.attachments' | translate}}</span>
                              <span class="spacer"></span>
                            </ion-card-title>
    
                          <ion-item pointer (click)="nav.goto(file.url,true)" *ngFor="let file of exampleItem(type,id).files" borderSecondary borderRadius16 detail="false" lines="none">
                              <ion-label font-18 marginLeft>{{file.name}}</ion-label>
                          </ion-item>

                      </div>
                  </div>
                  <div basicPadding>
                    
                    <ion-button color=secondary fill="clear" (click)="backToEdit()" *ngIf="!latestBreadCrumbs.type">
                        <fa-icon [icon]="icon.get('faArrowLeft')"></fa-icon>
                        <span marginLeft>{{'buttons.back' | translate}}</span>
                    </ion-button>

                    <ion-button color=secondary fill="clear" (click)="backBreadCrumbs()" *ngIf="latestBreadCrumbs.type">
                        <fa-icon [icon]="icon.get('faArrowLeft')"></fa-icon>
                        <span marginLeft>{{'buttons.back' | translate}}</span>
                    </ion-button>
                  </div> 
              </ion-card>
          </ng-container>

          <ng-container *ngIf="exampleItem(type,id)?.id && latestBreadCrumbs.type=='infoItem' && !switchingItem">
            <ion-card fullwidth>
                  <ion-card-header>
                      <ion-card-title font-24 uppercase weight600 style="padding: 0 15px;">
                        <span>{{latestBreadCrumbs.item.title}}</span>
                      </ion-card-title>
                  </ion-card-header>
                  <div basicPadding>
                      <div [innerHTML]="helper.convertLines(latestBreadCrumbs.item.intro)" weight600 marginBottom  class="textContainer"></div>
                      <div *ngIf="latestBreadCrumbs.item.extra_photo&&!latestBreadCrumbs.item.conversation" style="height:400px;" marginBottom>
                        <img [src]="latestBreadCrumbs.item.extra_photo" alt="" borderRadius24 style="width:100%;height:100%;object-fit:cover;">
                      </div>
                      <div *ngIf="latestBreadCrumbs.item.type=='video' && latestBreadCrumbs.item.video_url">
                        <video controls style="width:100%;height:500px;" *ngIf="latestBreadCrumbs.item.video_url && !media.isYoutubeUrl(latestBreadCrumbs.item.video_url) && !media.isVimeoUrl(latestBreadCrumbs.item.video_url)" [controls]="true" [src]="media.videoUrl(latestBreadCrumbs.item.video_url)">
                          <source [src]="media.videoUrl(latestBreadCrumbs.item.video_url)" type="video/mp4">
                          Your browser does not support the video tag.
                        </video>
                        
                      <iframe *ngIf="latestBreadCrumbs.item.video_url && media.isYoutubeUrl(latestBreadCrumbs.item.video_url) || media.isVimeoUrl(latestBreadCrumbs.item.video_url)" style="width:100%;height:500px;" [src]="latestBreadCrumbs.item.video_url | sanitizeHtml : 'urlResource'" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                      </div>
                      <div *ngIf="latestBreadCrumbs.item.type!='image_only'">
                        <div [innerHTML]="helper.convertSpaces(latestBreadCrumbs.item.content) | sanitizeHtml" class="textContainer"></div>
                      </div>

                      <div marginTop *ngIf="latestBreadCrumbs.item.files?.length">

                          <ion-card-title flex center-ver marginTop marginBottom>
                              <span weight600>{{'buttons.attachments' | translate}}</span>
                              <span class="spacer"></span>
                            </ion-card-title>
    
                          <ion-item pointer (click)="nav.goto(file.url,true)" *ngFor="let file of latestBreadCrumbs.item.files" borderSecondary borderRadius16 detail="false" lines="none">
                              <ion-label font-18 marginLeft>{{file.name}}</ion-label>
                          </ion-item>

                      </div>
                  </div>
                  <div basicPadding flex center-ver>
                    <ion-button color=secondary fill="clear" (click)="backToEdit()" *ngIf="!latestBreadCrumbs.type">
                        <fa-icon [icon]="icon.get('faArrowLeft')"></fa-icon>
                        <span marginLeft>{{'buttons.back' | translate}}</span>
                    </ion-button>

                    <ion-button color=secondary fill="clear" (click)="backBreadCrumbs()" *ngIf="latestBreadCrumbs.type">
                        <fa-icon [icon]="icon.get('faArrowLeft')"></fa-icon>
                        <span marginLeft>{{'buttons.back' | translate}}</span>
                    </ion-button>

                    <div class="spacer"></div>
                    <ion-button color=secondary fill="clear" *ngIf="nextItem(latestBreadCrumbs.item)?.title" (click)="selectTrainingItem(nextItem(latestBreadCrumbs.item),true)">
                      <span marginLeft>{{nextItem(latestBreadCrumbs.item)?.title}}</span>
                      <fa-icon titleIcon [icon]="icon.get('faArrowRight')"></fa-icon>
                    </ion-button>
                    <ion-button color=secondary fill="clear" *ngIf="!nextItem(latestBreadCrumbs.item)?.title" (click)="latestBreadCrumbs.type ? backBreadCrumbs() : backToEdit()">
                      <span marginLeft>{{'modules.module_finished' | translate}}</span>
                      <fa-icon titleIcon [icon]="icon.get('faTimes')"></fa-icon>
                    </ion-button>
                  </div>

              </ion-card>
          </ng-container>

        </ion-col>
      </ion-row>
    </ion-grid>
</main>
