
<div header padding20 flex center-ver>
  <h3 class="title" *ngIf="title" noMargin>{{title}}</h3>
<span class="spacer"></span>
<ion-button (click)="modalController.dismiss()" fill="clear" color="secondary" class="btn_dismiss">
  <fa-icon [icon]="icon.get('faTimes')" slot="icon-only"></fa-icon>
</ion-button>
</div>
<div weight400 basicPadding autoScroll [ngStyle]="{'max-height':media.smallDevice ? 'calc(100vh - 40px)' : '80vh'}">
  <div *ngIf="intro" marginBottom [innerHtml]="intro | sanitizeHtml"></div>
  <div class="options">
    <div *ngFor="let option of options">
      <ion-card margin10 font-14 basicPadding pointer (click)="modalController.dismiss(option.choice)">
        <div weight600>{{ option.choice }}</div>
        <div text-medium>{{ option.description }}</div>
      </ion-card>
    </div>
  </div>
</div>
<!-- <div flex *ngIf="buttons" style="padding:20px;justify-content: flex-end;" [ngClass]="{'flex-column':btnsClass==='flex-column'}">
  <span [ngClass]="{'spacer':!last}" *ngFor="let btn of buttons;let last = last">
    <ion-button [color]="btn.color" [innerHTML]="btn.text" (click)="modal.dismiss(btn.value)" [fill]="btn.fill ? btn.fill : 'solid'" [ngClass]="{'fullwidth':btnsClass==='flex-column'}"></ion-button>
  </span>
</div> -->
