
<div header flex center-ver style="padding:20px 30px">
  <h3 class="title" noMargin>{{'feedback.title' | translate}}</h3>
  <span class="spacer"></span>
  <fa-icon [icon]="icon.get('faTimes')" font-22 pointer (click)="modalController.dismiss()" ></fa-icon>
<!-- <ion-button (click)="modalController.dismiss()" fill="clear" color="secondary" class="btn_dismiss">
</ion-button> -->
</div>
<div weight400 basicPadding autoScroll [ngStyle]="{'max-height':media.smallDevice ? 'calc((var(--vh) * 100) - 70px)' : 'calc(var(--vh) * 80)'}">
  <div *ngIf="intro" marginBottom [innerHtml]="intro | sanitizeHtml"></div>
  <div class="options">
    <div *ngFor="let option of options">
      <ion-card margin10 font-14 basicPadding pointer (click)="modalController.dismiss(option.choice)">
        <div weight600>{{ option.choice }}</div>
        <div text-medium>{{ option.description }}</div>
      </ion-card>
    </div>
  </div>
</div>
<!-- <div flex *ngIf="buttons" style="padding:20px;justify-content: flex-end;" [ngClass]="{'flex-column':btnsClass==='flex-column'}">
  <span [ngClass]="{'spacer':!last}" *ngFor="let btn of buttons;let last = last">
    <ion-button [color]="btn.color" [innerHTML]="btn.text" (click)="modal.dismiss(btn.value)" [fill]="btn.fill ? btn.fill : 'solid'" [ngClass]="{'fullwidth':btnsClass==='flex-column'}"></ion-button>
  </span>
</div> -->
