main {
  
    form {
      width: 100%;
      max-width: 400px;
  
      // ion-item {
      //   margin-bottom: 1rem;
      // }
    }
  
    .social-login {
      width: 100%;
      max-width: 400px;
      margin-top: 30px;
  
      ion-button {
        margin-bottom: 0.5rem;
      }
    }
  }