main {
  
    form {
      width: 100%;
      max-width: 400px;
  
      // ion-item {
      //   margin-bottom: 1rem;
      // }
    }
  
    .social-login {
      width: 100%;
      max-width: 400px;
      margin-top: 30px;
  
      ion-button {
        margin-bottom: 0.5rem;
      }
    }
  }
.showOfferCodeText{
  font-size: 14px;
  color: var(--ion-color-secondary);
  opacity: 0.8;
  cursor: pointer;
  text-align: left;
  padding-left: 15px;
  margin-top: -12px;
  margin-bottom: 20px;
  font-style: italic;
}