<ion-card noPadding noMargin fullheight class="caseItem" [ngStyle]="{'height':media.screenSize=='xs'?'100%':'600px','border-radius':media.screenSize=='xs'?'0px':'24px'}">
  <ion-card-content noPadding fullHeight flex flex-column>
      <div backgroundImage class="avatarImage" style="max-height:50%" *ngIf="caseItem.photo" [ngStyle]="{'background-image': 'url(' + caseItem.photo + ')'}"></div>
      <div backgroundImage class="avatarImage" style="max-height:50%" *ngIf="!caseItem.photo" [ngStyle]="{'background-image': 'url(assets/img/default_avatar.png)'}"></div>
      <div *ngIf="caseItem.avatarName" class="videoAvatarBadge">{{'cases.badge_video' | translate}}</div>
      <div center >
          <ion-card-header>
              <ion-card-title marginBottom font-18 weight600>{{caseItem.title}}</ion-card-title>
              <ion-card-subtitle font-14 weight400>{{caseItem.user_info}}</ion-card-subtitle>
          </ion-card-header>
          <div *ngIf="!caseItem.avatarName" class="shareButtonCase" pointer (click)="media.shareCase(caseItem,$event)">
            <ion-icon name="share-outline" font-22 *ngIf="this.media.isAppleDevice"></ion-icon>
            <ion-icon name="share-social-outline" font-22 *ngIf="!this.media.isAppleDevice"></ion-icon>
        </div>
      </div>
      <div class="spacer"></div>
      <div center flex center-ver center-hor basicPadding>
        
        <ion-button class="saveButton creditButton" fill="outline" size="small">
          <div>
            <div>{{caseItem.level}}</div>
            <div font-12 text-medium>{{'cases.level' | translate}}</div>
          </div>
        </ion-button>
        <ion-button class="saveButton cardButton" [ngStyle]="{'margin-left':media.screenSize=='xs'?'5px':'30px'}" style="--border-color: #eaeaea!important;--color:black" fill="outline" size="small" (click)="modalController.dismiss()">{{'buttons.back' | translate}}</ion-button>
        <ion-button class="saveButton cardButton" [ngStyle]="{'margin-left':media.screenSize=='xs'?'5px':'30px'}" fill="outline" size="small" (click)="auth.credits.total<=0 ? noCredits() : startConversation(caseItem)">{{'cases.start_conversation' | translate}}</ion-button>
      </div>
  </ion-card-content>
</ion-card>