ion-item{
    margin-bottom:20px;
}
.selectColumn,
.contentColumn {
height: 100%;  // Zorg dat de kolommen de volledige hoogte van hun container hebben
overflow-y: auto;  // Activeer verticale scroll wanneer nodig
overflow-x: hidden;
padding-right: 10px;  // Optionele padding voor scrollbalk
max-height:calc(var(--vh, 1vh) * 100 - 81px);
padding-bottom:20px;
}
.flowType{
    font-weight: bold;
    padding:5px 10px;
    border-radius: 8px;
}
.flowType.registration{
    background-color: #e0f7fa;
    color: #006064;
    border: solid 1px #004d40;
}
.flowType.inspiration{
    background-color: #fce4ec;
    color: #880e4f;
    border: solid 1px #880e4f;
}
.flowType.learning{
    background-color: #e8f5e9;
    color: #1b5e20;
    border: solid 1px #1b5e20;
}
.flowType.customer{
    background-color: #fff3e0;
    color: #e65100;
    border: solid 1px #e65100;
}
.flowType.direct{
    background-color: rgba(0, 128, 0, 0.3);
    color: #004d00;
    border: solid 1px #004d00;
}
.mailItem{
    border-bottom: solid 1px #ccc;
    padding: 10px 0;
}
.mailLabel{
    color: #333;
    margin-right:20px;
}
.mailValue{
    color: #666;
}

.mailBody{
    // border-bottom: solid 1px #ccc;
    padding: 15px;
    color:var(--color-global);
}

.selectedModule{
    --background: var(--ion-color-primary);
    ion-label{
        color:var(--ion-color-primary-contrast);
    }
}

.mailItemPreview{
    max-width:600px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  
    padding: 20px;
}