ion-label{
    font-family:'Inter';font-weight:600;letter-spacing:-1px;
}

.createNew{
    // --background: var(--ion-color-primary);
    color: var(--ion-color-primary);
    // color: white;
    // border-radius: 30px;
    // border: solid 1px;
    // margin-bottom: 0;
    // margin-top: 10px;
    ion-label{
        font-family:'Sora';
        div{
            font-weight: 600;
        }
    }
    fa-icon{
        color: var(--ion-color-primary)!important;
        // color:white!important
    }
}
.createNew:hover{
    // color:white;
    color: var(--ion-color-primary);
    ion-label{
        // color:white;
        color: var(--ion-color-primary);
    }
    // border: 0;
    // --padding-bottom: 1px;
    // --padding-top: 1px;
}