
<div header padding20 flex center-ver>
  <div class="title" *ngIf="title">
    <h3 class="subtitle-top" noMargin>{{title}}</h3>
  </div>
  <span class="spacer"></span>
  <ion-button (click)="modalCtrl.dismiss()" fill="clear" color="secondary">
    <fa-icon [icon]="icon.get('faTimes')" slot="icon-only"></fa-icon>
  </ion-button>
</div>
<div *ngIf="!video" [innerHtml]="content | sanitizeHtml" weight400 style="padding:10px;overflow: scroll;line-height:1.6;margin: 0 30px;border:solid 1px;border-radius:24px;" [ngStyle]="{'max-height':media.smallDevice ? 'calc(100vh - 40px)' : 'calc(100vh - 175px)','margin-bottom': buttons ? '0px' : '30px'}"></div>
<div *ngIf="video" class="inner-content">
  <div class="video-container">
    <iframe [src]="content | sanitizeHtml : 'urlResource'" (load)="hideLoader()" frameborder="0" ></iframe>
  </div>
</div>
<div flex *ngIf="buttons" style="padding:20px;justify-content: flex-end;" [ngClass]="{'flex-column':btnsClass==='flex-column'}">
  <span [ngClass]="{'spacer':!last}" *ngFor="let btn of buttons;let last = last">
  <ion-button [color]="btn.color" [innerHTML]="btn.text" (click)="modalCtrl.dismiss(btn.value)" [fill]="btn.fill ? btn.fill : 'solid'" [ngClass]="{'fullwidth':btnsClass==='flex-column'}"></ion-button>
  </span>
</div>
