.HeyGenStreamingAvatar {
  text-align: center;
}

.MediaPlayer {
  width: 80%;
  height: 100%;
  background-color: black;
  margin-top: 50px;
}

.Actions {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px;
}

.InputField {
  margin: 10px;
  width: 400px;
}

.InputField2 {
  margin-left: 10px;
  height: 20px;
  width: 400px;
}

.LabelPair {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
}