<!-- <div class="menuImg">
</div> -->
<div class="card" [ngClass]="{'listShape':listShape}">
  <div flex center-ver fullwidth style="padding:10px" class="namePart"  *ngIf="!customMenu" pointer><!--</div> (click)="nav.go('account');popoverController.dismiss()">-->
    <div style="margin-right: 5px;">
      <img src="assets/icon/favicon.png" class="avatar">
    </div>
    <div style="margin-right: 5px;">
    </div>
    <div>
      <div *ngIf="auth.userInfo?.displayName" class="displayName">{{auth.userInfo?.displayName}}</div>
      <div *ngIf="!auth.userInfo?.displayName" class="displayName"> {{'menu.unkown_user' | translate}}</div>
      <div *ngIf="auth.userInfo?.email" class="email">{{auth.userInfo?.email}}</div>
    </div>
  </div> 

  <ion-list id="inbox-list" *ngIf="!customMenu && media.smallDevice && auth.userInfo.isConfirmed">
    <div *ngFor="let p of appPages; let i = index">
      <ion-item detail="false" pointer [ngClass]="p.class" (click)="(p.url ? nav.go(p.url) : execute(p.action));popoverController.dismiss()" lines="none" *ngIf="shouldShowPage(p) && (p.url || p.action)">
        <fa-icon [icon]="icon.get(p.icon)" slot="start"></fa-icon>
        <ion-label>{{ trl(p.title) }}</ion-label>
      </ion-item> 
    </div>
      <ion-item detail="false" pointer (click)="openFeedback();popoverController.dismiss()" lines="none">
        <fa-icon [icon]="icon.get('faComment')" slot="start"></fa-icon>
        <ion-label>{{ 'menu.feedback' | translate }}</ion-label>
      </ion-item> 
  </ion-list>

  <ion-list id="inbox-list" *ngIf="!customMenu && !media.smallDevice && auth.userInfo.isConfirmed">
    <div *ngFor="let p of accountPages; let i = index">
      <ion-item detail="false" pointer [ngClass]="p.class" (click)="(p.url ? nav.go(p.url) : execute(p.action));popoverController.dismiss()" lines="none" *ngIf="shouldShowPage(p) && (p.url || p.action)">
        <fa-icon [icon]="icon.get(p.icon)" slot="start"></fa-icon>
        <ion-label>{{ trl(p.title) }}</ion-label>
      </ion-item> 
    </div>
    <div>
      <ion-item detail="false" pointer (click)="openFeedback();popoverController.dismiss()" lines="none">
        <fa-icon [icon]="icon.get('faComment')" slot="start"></fa-icon>
        <ion-label>{{ 'menu.feedback' | translate }}</ion-label>
      </ion-item> 
    </div>
  </ion-list>

  <ion-grid style="padding:0px 5px">
    <ion-row *ngIf="customMenu&&!listShape&&!shareMenu&&!customList" marginBottom>
      <ion-col size="6" *ngFor="let p of appPages; let i = index">
        <ion-card class="customMenuItem" (click)="(p.url ? nav.go(p.url) : popoverController.dismiss());dismissPopover(p)">
          <ion-row>
            <ion-col size="4">
              <div *ngIf="p.image" class="menuItemImage" [ngStyle]="{'background-image':'url(' + p.image + ')','background-size': p.logo ? 'contain' : 'cover'}"></div>
              <div *ngIf="p.icon" class="menuItemIcon">
                <fa-icon [icon]="icon.get(p.icon)"></fa-icon>
              </div>
            </ion-col>
            <ion-col size="8">
              <div class="menuItemTitle" [innerHTML]="p.title"></div>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="customMenu&&!listShape&&shareMenu&&!customList" marginBottom>
      <ion-col size="12">
        <div font-18 weight600 basicPadding style="padding-bottom:0" flex center-ver>
          <span>Deel dit!</span>
          <div class="spacer"></div>
          <fa-icon [icon]="icon.get('faTimes')" (click)="popoverController.dismiss()" class="closeIcon"></fa-icon>
        </div>
      </ion-col>
      <div singleLine></div>
      <ion-col size="3" *ngFor="let p of appPages; let i = index" center flex center-ver center-hor flex-column>
        <ion-card class="shareMenuItem" (click)="dismissPopover(p)" [ngStyle]="{'background':p.background,'color':p.color}">
            <fa-icon *ngIf="p.icon" [icon]="icon.get(p.icon)" [ngStyle]="{'color':p.color}" class="shareIcon"></fa-icon>
        </ion-card>
        <div class="shareMenuTitle" [innerHTML]="p.title"></div>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="customMenu&&!listShape&&!shareMenu&&customList" marginBottom marginTop>
      <ion-col size="12" *ngFor="let p of appPages; let i = index">
        <ion-card class="customMenuItem" style="margin:0px 10px;" (click)="(p.url ? nav.go(p.url) : popoverController.dismiss());dismissPopover(p)">
          <ion-row>
            <ion-col size="2">
              <div *ngIf="p.image" class="menuItemImage" [ngStyle]="{'background-image':'url(' + p.image + ')','background-size': p.logo ? 'contain' : 'cover'}"></div>
              <div *ngIf="p.icon" class="menuItemIcon">
                <fa-icon [icon]="icon.get(p.icon)"></fa-icon>
              </div>
            </ion-col>
            <ion-col size="10">
              <div class="menuItemTitle">
                <div style="display:block;">
                  <div style="text-align:left;font-weight:600" [innerHTML]="p.title"></div>
                  <div *ngIf="p.subTitle" style="text-align:left;font-weight:400;font-size:0.9em;text-wrap:normal;" [innerHTML]="p.subTitle"></div>
                </div>
                <div class="spacer" *ngIf="p.note"></div>
                <div *ngIf="p.note" style="font-size:1em;text-align:right;font-weight:600;min-width:75px;width:75px;display:block" [innerHTML]="p.note"></div>
              </div>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="customMenu&&listShape&&!shareMenu">
    <ion-list>
      <ion-item detail="false" lines="none" button *ngFor="let p of appPages; let i = index let first = first;let last=last" (click)="(p.url ? nav.go(p.url) : popoverController.dismiss());dismissPopover(p)">
        <!-- <ion-icon *ngIf="p.icon" [name]="p.icon" slot="start"></ion-icon> -->
        <fa-icon *ngIf="p.icon" [icon]="icon.get(p.icon)" slot="start"></fa-icon>
        <ion-label>{{ p.title }}</ion-label>
      </ion-item>
    </ion-list>
  </div>


  <div class="actionButtons" *ngIf="!customMenu">

    <div fullwidth >
      <ion-button color="primary" *ngIf="!isAuthenticated" (click)="nav.go('register');popoverController.dismiss()">
        {{'menu.register' | translate}}
      </ion-button>
      <ion-button color="secondary" fill="clear" *ngIf="!isAuthenticated" (click)="nav.go('login');popoverController.dismiss()">
        {{'menu.login' | translate}}
      </ion-button>

    </div>

    <ion-button color="primary" class="saveButton" *ngIf="isAuthenticated" (click)="execute(['auth','logout']);popoverController.dismiss()">
      {{'menu.logout' | translate}}
    </ion-button>

    <div align-center marginTop fullwidth>
      <!-- <ion-button (click)="editLang()" fill="clear">
        <span font-12>{{'languages.language' | translate}}: {{'languages.'+translateService.currentLang | translate}}</span>
      </ion-button> -->
      <div class="languageSelection" center-ver text-secondary (click)="editLang()">
        <fa-icon [icon]="icon.get('faGlobeEurope')" class="langIcon" ></fa-icon>
        <span>{{'languages.'+translateService.currentLang | translate}}</span>
      </div>
    </div>
  </div>
  
  <!-- <ion-accordion-group *ngIf="isAuthenticated&&isAdmin">
    <ion-accordion value="administrator">
      <ion-item detail="false" slot="header" >
        <ion-label>Admin opties</ion-label>
      </ion-item>
  
      <ion-list slot="content">
        <div auto-hide="false" *ngFor="let p of editPages; let i = index">
          <ion-item detail="false" (click)="popoverController.dismiss()" routerDirection="forward" [routerLink]="[p.url]" lines="none" [class.selected]="getMainUrl(router.url)==p.url" *ngIf="p.url">
            <fa-icon [icon]="icon.get(p.icon)" slot="start"></fa-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item> 
          <ion-item detail="false" style="cursor: pointer;" routerDirection="forward" (click)="execute(p.function);popoverController.dismiss()" lines="none" *ngIf="!p.url">
            <fa-icon [icon]="icon.get(p.icon)" slot="start"></fa-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </div>

      </ion-list>
    </ion-accordion>
  </ion-accordion-group> -->
  <div *ngIf="!customMenu" class="versionNumber" (click)="nav.refreshPWA()">
    {{versionNumber}}
  </div>

</div>




