<app-header page="admin"></app-header>
<!-- <main>
    <ion-textarea rows="10" [(ngModel)]="newObj" style="text-align:left" placeholder="Voeg een object toe"></ion-textarea>
    <ion-button (click)="addCase()" [disabled]="uploading">Opslaan</ion-button>
</main> -->

<main>
  <div basicPadding marginBottom>
    <ion-button expand="block" fill="outline" color="primary" (click)="backupFirestore()">
     Start Backup
    </ion-button>
  </div>

  <div basicPadding marginBottom>
    <ion-button expand="block" fill="outline" color="primary" (click)="cleanPhotos()">
     Start Cleanup foto's
    </ion-button>
  </div>

  <div basicPadding marginBottom>
    <ion-button expand="block" fill="outline" color="primary" (click)="movePhotosBack()">
     Restore foto's
    </ion-button>
  </div>

  <div basicPadding marginBottom>
    <ion-button expand="block" fill="outline" color="primary" (click)="createVideo()">
     create video
    </ion-button>
  </div>

  <div basicPadding marginBottom>
    <ion-button expand="block" fill="outline" color="primary" (click)="clearTempUsers()">
     Clear Temporary Users
    </ion-button>
  </div>

  <div basicPadding marginBottom>
    <ion-button expand="block" fill="outline" color="primary" (click)="getTestUsers()">
     Delete Test Users
    </ion-button>
  </div>


  <!-- <div basicPadding marginTop marginBottom>
    <ion-button expand="block" fill="outline" color="primary" (click)="getConversation()">
     get conversation
    </ion-button>
  </div>

  <div basicPadding marginTop marginBottom>
    <ion-button expand="block" fill="outline" color="primary" (click)="showConversation()">
     show conversation
    </ion-button>
  </div>

  <div basicPadding marginTop>
    <ion-button expand="block" fill="outline" color="primary" (click)="copyConversation()">
     copy conversation
    </ion-button>
  </div> -->


</main>