<main [full]="true">
  <div class="login-page">
    <img class="login_logo" src="assets/icon/logo_full_black_sm.png">
    <div class="login-container">
      
      <h3 marginBottom *ngIf="isVerifying">{{'page_verify.verifying' | translate}}...</h3>
      <h3 marginBottom *ngIf="isVerified">✅ {{'page_verify.success' | translate}}</h3>
      <h3 marginBottom *ngIf="isError">❌ {{'page_verify.failure' | translate}}</h3>

      <div *ngIf="isVerifying">{{'page_verify.moment' | translate}}</div>
      <div *ngIf="isVerified">{{'page_verify.isverified' | translate}}</div>
      <div marginBottom *ngIf="isError">{{'page_verify.wrong_code' | translate}}</div>
      <div *ngIf="isError&&authService?.userInfo?.email">
        <ion-button expand="block" color="primary" class="saveButton" (click)="resendVerification()">{{'page_verify.resend' | translate}}</ion-button>
      </div>

    </div>
  </div>
</main>
