<app-header [back]="true" page=""></app-header>
<main>
    <!-- <ion-toolbar class="buttonBar">
        <ion-buttons slot="end">
          <ion-button fill="outline" color="light" (click)="add()">Nieuw</ion-button>
        </ion-buttons>
    </ion-toolbar> -->
    <!-- <div class="buttonBarMargin"></div> -->
  <ion-grid>
    <ion-row fullheight>
        

      <ion-col size="8"  class="detailColumn">
        <ion-card basicPadding noMargin *ngIf="!courseData?.id">
          <ion-card-title>Loading Module</ion-card-title>
        </ion-card>
        

        <!-- Courses -->
        <ion-card style="margin:10px 0px;" basicPadding *ngIf="courseData?.id" flex>
          <div class="courseImage">
            <img [src]="courseData.photo" alt="">
          </div>
          <div class="courseDetails">
              <ion-card-title flex center-ver>
                  <h3 weight700 uppercase [innerHtml]="courseData.title"></h3>
                  <span class="spacer"></span>
              </ion-card-title>
             <div>
              <p [innerHTML]="courseData.description | maxLength : 200 : true"></p>
             </div>
             <span class="spacer"></span>
             <div flex>
              <!-- <div class="coursePrice">
                <span>{{helpers.currencyChar(courseData.currency)}}</span> <span>{{courseData.price | number : '1.2-2'}}</span>
              </div> -->
              <span class="spacer"></span>
             </div>
          </div>
        </ion-card>
        <div *ngIf="courseData?.id" class="reOrderList">
          
          <h3>Programma</h3>

            <ion-item *ngFor="let item of courseData.itemIds;let item_index=index" class="subItem" lines="none">
                <ion-thumbnail slot="start">
                  <img [src]="getItem(item.id).photo" *ngIf="getItem(item.id).photo&&getItem(item.id).type!='video'" />
                  <img src="assets/img/alicia_background.webp" *ngIf="!getItem(item.id).photo&&getItem(item.id).type!='video'" />
                  <img src="assets/img/default_video_image.webp" *ngIf="getItem(item.id).type=='video'" />
                </ion-thumbnail>
                <div>
                  <ion-card-title>{{item_index+1}}. {{getItem(item.id).title}} <span *ngIf="item.type=='practice'&&item.caseIds?.length">({{item.caseIds.length}})</span></ion-card-title>
                  <ion-card-subtitle>{{getItem(item.id).user_info | maxLength : 150 : true}}</ion-card-subtitle>
                </div>
                <ion-button *ngIf="getItem(item.id).description" slot="end" fill="clear" (click)="modalService.showText(getItem(item.id).description,getItem(item.id).title,false,[],true,null,'',{textBorder:false})">
                  <fa-icon [icon]="icon.get('faInfoCircle')" font-18 ></fa-icon>
                </ion-button>
            </ion-item>
          

          <!-- <ion-grid *ngIf="courseData?.id && courseData.module_type=='practice'">
            <ion-row>
              <ion-col size="4" *ngFor="let item of courseData.itemIds;let item_index=index;let first=first;let last=last">
                    <ion-card noPadding pointer fullheight>
                      <ion-card-content noPadding fullHeight>
                          <div backgroundImage class="avatarImage" *ngIf="getItem(item.id).photo" [ngStyle]="{'background-image': 'url(' + getItem(item.id).photo + ')'}"></div>
                          <div backgroundImage class="avatarImage" *ngIf="!getItem(item.id).photo" [ngStyle]="{'background-image': 'url(assets/img/default_avatar.png)'}"></div>
                          <div flex center center-ver center-hor style="height:calc(100% - 250px)">
                              <ion-card-header noPadding>
                                  <ion-card-title font-18 weight600>{{getItem(item.id).title}}</ion-card-title>
                                  <ion-card-subtitle>{{getItem(item.id).user_info | maxLength : 80 : true}}</ion-card-subtitle>
                              </ion-card-header>
                          </div>
                          <div flex>
                            <div class="spacer"></div>
                            <ion-button slot="end" fill="clear" (click)="modalService.showText(getItem(item.id).description,getItem(item.id).title,false,[],true,null,'',{textBorder:false})">
                              <fa-icon [icon]="icon.get('faInfoCircle')" font-18 ></fa-icon>
                            </ion-button>
                          </div>
                      </ion-card-content>
                    </ion-card>

              </ion-col>
            </ion-row>
          </ion-grid> -->
          
        </div>

      </ion-col>

      <ion-col size="4" class="detailColumn" *ngIf="courseData">
        <ion-row noPadding noMargin>
          
          <ion-card basicPadding fullwidth>
            <ion-card-header center>
              <span text-secondary font-24 weight700>{{helpers.currencyChar(courseData.currency)}} {{courseData.price | number : '1.2-2'}} </span>
              <!-- <span text-secondary font-24 weight700 *ngIf="courseData.currency=='CREDITS'">{{courseData.price | number : '1.0-0'}} credits</span> -->
            </ion-card-header>
            <ion-card-content>
              <ion-button class="saveButton" expand="block" color="primary" (click)="buy(product)" *ngIf="courseData.price!=0" marginBottom>Nu kopen</ion-button>
              <ion-button class="saveButton" expand="block" color="primary" (click)="enlist()" *ngIf="courseData.price==0" marginBottom>Aan de slag</ion-button>
              <!-- <ion-button class="saveButton" expand="block" color="primary" (click)="enlist()" *ngIf="courseData.currency=='CREDITS'&&auth.userInfo?.credits>=courseData.price" marginBottom>Aan de slag</ion-button> -->
              <ion-button expand="block" fill="clear" color="medium" (click)="showCode=!showCode">Ik heb een toegangscode</ion-button>
              <ion-item borderMedium borderRadius16 lines="none" class="noPadding" *ngIf="showCode">
                <ion-label position="stacked">Toegangscode</ion-label>
                <ion-input  type="text" [(ngModel)]="code"></ion-input>
              </ion-item>
              <ion-button class="saveButton" *ngIf="showCode" expand="block" color="secondary" (click)="enlistWithCode()">Gebruik de code</ion-button>

            </ion-card-content>
          </ion-card>

        </ion-row>
      </ion-col>
      
    </ion-row>
  </ion-grid>
</main>