ion-grid{
    height:calc(100% - 40px);
}
.avatarImage{
    height: 200px;
    width:100%;
}
.detailColumn{
    padding: 10px 30px;
    h3{
        color:var(--color-global);
    }
}
.subItem{
    margin:0;
    margin-bottom:5px;
    // --background:rgba(255, 255, 255, 0.1);
    ion-card-title,ion-card-subtitle,ion-reorder{
        color:var(--color-global);
    }
}

.SelectionPart{
    h3{
        color:var(--color-global);
        padding:5px 10px;
        margin:0;
    }
    margin:10px 0;
    padding-top:10px;
    max-height: 33%;
    height: 33%;
    overflow: hidden;
    overflow-y: auto;
    border:solid 1px var(--color-global);
    border-radius: 5px;
    fa-icon{
        margin:0px 10px;
    }
}
.selectColumn{
    max-height: calc(100% - 36px);
}

#selectNewCase{
    // visibility: hidden;
    width: 24px;
    min-height: 0;
    margin-right:10px;
}
#selectNewCase::part(icon) {

    width: 24px!important;
    height: 24px!important;
    color: var(--ion-color-secondary);

 }
ion-item{
    margin-bottom:20px
}
ion-range{
    padding-top:0;
}
[trash]{
    font-size: 20px;
}