.avatarImage{
    height: 200px;
    width:100%;
}
.continueCaseText{
    font-size: 0.75em;
    margin-bottom:10px;
}
[removeIcon]{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
}