<app-header [page]="'start'"></app-header>
<main class="selectMain">
    <div *ngIf="!auth.userInfo.isConfirmed">
        <ion-card style="font-size:18px" basicPadding>
            Momenteel is je account nog niet bevestigd. De toegang tot deze tool is beperkt en je krijgt alleen toegang als je account door de administrator is bevestigd. Nog even geduld a.u.b.
        </ion-card>
    </div>
    <ion-grid>

        <ion-row>
            <!-- <ion-button (click)="subscriptionService.getActiveCourses(auth.userInfo.uid)">Load</ion-button> -->
            <ion-col size="3" *ngFor="let course of subscriptionService.activeCourses">
                <ion-card (click)="nav.go('course/'+course.id)" pointer font16 weight700 tab basicPadding>{{course.title}}</ion-card>   
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col [size]="!media.smallDevice ? 3 : 12" class="selectColumn" *ngIf="activeConversation">
                <ion-card basicPadding pointer (click)="continueConversation(activeConversation)">
                    <ion-card-content noPadding>
                        <fa-icon removeIcon [icon]="icon.get('faTrashAlt')" font-18 trash (click)="removeActiveConversation($event)"></fa-icon>

                        <div backgroundImage class="avatarImage" *ngIf="activeConversation.photo" [ngStyle]="{'background-image': 'url(' + activeConversation.photo + ')'}"></div>
                        <div backgroundImage class="avatarImage" *ngIf="!activeConversation.photo" [ngStyle]="{'background-image': 'url(assets/img/default_avatar.png)'}"></div>
                        <ion-card-header center>
                            <ion-card-title>
                                <div class="continueCaseText">
                                    Ga verder met je gesprek met
                                </div>
                                <div>
                                    {{activeConversation.role}}
                                </div>
                            </ion-card-title>
                        </ion-card-header>
                    </ion-card-content>
                </ion-card>
            </ion-col>


            <ion-col size="12" class="selectColumn" *ngIf="!activeConversation">

                <!-- <ion-row>
                    <ion-col [size]="media.smallDevice? 12 : 3" *ngFor="let cat of activeCategories;let cat_index = index">
                        <ion-card basicPadding pointer font16 weight700 tab *ngIf="cat" [ngClass]="{'activeTab':activeCategory==cat}" (click)="selectCategory(cat)">
                            <span>{{cat | capitalize}}</span>
                        </ion-card>
                    </ion-col>
                </ion-row> -->




                <ion-row> 
                    <ion-col size="12" *ngIf="activeCategory">
                        <div *ngFor="let theme of activeThemes(activeCategory)">
                            <ion-row *ngIf="theme&&themeInPreferences(theme.id)">
                                <ion-col [size]="!media.smallDevice ? 6 : 12"  *ngIf="theme">
                                    <ion-card align-left>
                                        <ion-card-header>
                                            <ion-card-title>
                                                <fa-icon [icon]="icon.get(theme.icon)" ></fa-icon>
                                                <span> {{theme.title | capitalize}}</span>
                                            </ion-card-title>
                                        </ion-card-header>
                                    </ion-card>
                                </ion-col>
                            </ion-row>
                            <ion-row *ngIf="theme&&themeInPreferences(theme.id)">
                                <ion-col [size]="!media.smallDevice ? 3 : 12"  *ngFor="let caseItem of cases.all | filterKey : 'theme' : theme.id | filterKey : 'conversation' : activeCategory">
                                    <ion-card noPadding pointer (click)="startConversation(caseItem)" fullheight>
                                        <ion-card-content noPadding fullHeight>
                                            <div backgroundImage class="avatarImage" *ngIf="caseItem.photo" [ngStyle]="{'background-image': 'url(' + caseItem.photo + ')'}"></div>
                                            <div backgroundImage class="avatarImage" *ngIf="!caseItem.photo" [ngStyle]="{'background-image': 'url(assets/img/default_avatar.png)'}"></div>
                                            <div flex center center-ver center-hor style="height:calc(100% - 200px)">
                                                <ion-card-header>
                                                    <ion-card-title font-18 weight600>{{caseItem.title}}</ion-card-title>
                                                </ion-card-header>
                                            </div>
                                        </ion-card-content>
                                    </ion-card>
                                </ion-col>
                            </ion-row>
                        </div>
                    </ion-col>
                </ion-row>


            </ion-col>
        </ion-row>
    
    </ion-grid>
</main>